@media screen and (min-width:700px) {
	.schedule-fri {
		display: grid;
		grid-gap: 1em;
		grid-template-rows:
			[tracks] auto
			[time-0900] 0.5fr
			[time-0930] 0.5fr
			[time-1000] 0.500fr
			[time-1005] 0.500fr
			[time-1010] 0.500fr
			[time-1015] 0.500fr
			[time-1020] 0.500fr
			[time-1025] 0.500fr
			[time-1030] 0.500fr
			[time-1035] 0.500fr
			[time-1040] 0.500fr
			[time-1045] 0.500fr
			[time-1050] 0.500fr
			[time-1055] 0.500fr
			[time-1100] 0.500fr
			[time-1105] 0.500fr
			[time-1110] 0.500fr
			[time-1115] 0.500fr
			[time-1120] 0.500fr
			[time-1125] 0.500fr
			[time-1130] 0.5fr
			[time-1200] 0.500fr
			[time-1205] 0.500fr
			[time-1210] 0.500fr
			[time-1215] 0.500fr
			[time-1220] 0.500fr
			[time-1225] 0.500fr
			[time-1230] 0.500fr
			[time-1235] 0.500fr
			[time-1240] 0.500fr
			[time-1245] 0.500fr
			[time-1250] 0.500fr
			[time-1255] 0.500fr
			[time-1300] 0.500fr
			[time-1305] 0.500fr
			[time-1310] 0.500fr
			[time-1315] 0.500fr
			[time-1320] 0.500fr
			[time-1325] 0.500fr
			[time-1330] 0.500fr
			[time-1335] 0.500fr
			[time-1340] 0.500fr
			[time-1345] 0.500fr
			[time-1350] 0.500fr
			[time-1355] 0.500fr
			[time-1400] 0.5fr
			[time-1530] 0.500fr
			[time-1535] 0.500fr
			[time-1540] 0.500fr
			[time-1545] 0.500fr
			[time-1550] 0.500fr
			[time-1555] 0.500fr
			[time-1600] 0.500fr
			[time-1605] 0.500fr
			[time-1610] 0.500fr
			[time-1615] 0.500fr
			[time-1620] 0.500fr
			[time-1625] 0.500fr
			[time-1630] 0.500fr
			[time-1635] 0.500fr
			[time-1640] 0.500fr
			[time-1645] 0.500fr
			[time-1650] 0.500fr
			[time-1655] 0.500fr
			[time-1700] 0.500fr
			[time-1705] 0.500fr
			[time-1710] 0.500fr
			[time-1715] 0.500fr
			[time-1720] 0.500fr
			[time-1725] 0.500fr
			[time-1730] 0.500fr
			[time-1735] 0.500fr
			[time-1740] 0.500fr
			[time-1745] 0.500fr
			[time-1750] 0.500fr
			[time-1755] 0.500fr
			[time-1800] 0.1fr
			[time-1815] 0.2fr
			[time-1830] 0.500fr
			[time-1835] 0.500fr
			[time-1840] 0.500fr
			[time-1845] 0.500fr
			[time-1850] 0.500fr
			[time-1855] 0.500fr
			[time-1900] 0.500fr
			[time-1905] 0.500fr
			[time-1910] 0.500fr
			[time-1915] 0.500fr
			[time-1920] 0.500fr
			[time-1925] 0.500fr
			[time-1930] 0.500fr
			[time-1935] 0.500fr
			[time-1940] 0.500fr
			[time-1945] 0.500fr
			[time-1950] 0.500fr
			[time-1955] 0.500fr
			[time-2000] 0.5fr
			[time-2130] 0.5fr;

		grid-template-columns:
			[times] 4em
			[track-1-start] 0.5fr
			[track-1-end track-2-start] 0.5fr
			[track-2-end track-3-start] 0.5fr
			[track-3-end track-4-start] 0.5fr
			[track-4-end];
	}
}

@media screen and (min-width:700px) {
	.schedule-sat {
		display: grid;
		grid-gap: 1em;
		grid-template-rows:
		[tracks] auto
			[time-0900] 0.500fr
			[time-0930] 0.500fr
			[time-0935] 0.500fr
			[time-0940] 0.500fr
			[time-0945] 0.500fr
			[time-0950] 0.500fr
			[time-0955] 0.500fr
			[time-1000] 0.500fr
			[time-1005] 0.500fr
			[time-1010] 0.500fr
			[time-1015] 0.500fr
			[time-1020] 0.500fr
			[time-1025] 0.500fr
			[time-1030] 0.500fr
			[time-1035] 0.500fr
			[time-1040] 0.500fr
			[time-1045] 0.500fr
			[time-1050] 0.500fr
			[time-1055] 0.500fr
			[time-1100] 0.500fr
			[time-1105] 0.500fr
			[time-1110] 0.500fr
			[time-1115] 0.500fr
			[time-1120] 0.500fr
			[time-1125] 0.500fr
			[time-1130] 0.500fr
			[time-1200] 0.500fr
			[time-1205] 0.500fr
			[time-1210] 0.500fr
			[time-1215] 0.500fr
			[time-1220] 0.500fr
			[time-1225] 0.500fr
			[time-1230] 0.500fr
			[time-1235] 0.500fr
			[time-1240] 0.500fr
			[time-1245] 0.500fr
			[time-1250] 0.500fr
			[time-1255] 0.500fr
			[time-1300] 0.500fr
			[time-1305] 0.500fr
			[time-1310] 0.500fr
			[time-1315] 0.500fr
			[time-1320] 0.500fr
			[time-1325] 0.500fr
			[time-1330] 0.500fr
			[time-1335] 0.500fr
			[time-1340] 0.500fr
			[time-1345] 0.500fr
			[time-1350] 0.500fr
			[time-1355] 0.500fr
			[time-1400] 0.500fr
			[time-1530] 0.500fr
			[time-1535] 0.500fr
			[time-1540] 0.500fr
			[time-1545] 0.500fr
			[time-1550] 0.500fr
			[time-1555] 0.500fr
			[time-1600] 0.500fr
			[time-1605] 0.500fr
			[time-1610] 0.500fr
			[time-1615] 0.500fr
			[time-1620] 0.500fr
			[time-1625] 0.500fr
			[time-1630] 0.500fr
			[time-1635] 0.500fr
			[time-1640] 0.500fr
			[time-1645] 0.500fr
			[time-1650] 0.500fr
			[time-1655] 0.500fr
			[time-1700] 0.500fr
			[time-1705] 0.500fr
			[time-1710] 0.500fr
			[time-1715] 0.500fr
			[time-1720] 0.500fr
			[time-1725] 0.500fr
			[time-1730] 0.500fr
			[time-1735] 0.500fr
			[time-1740] 0.500fr
			[time-1745] 0.500fr
			[time-1750] 0.500fr
			[time-1755] 0.500fr
			[time-1800] 0.500fr
			[time-1830] 0.500fr
			[time-1835] 0.500fr
			[time-1840] 0.500fr
			[time-1845] 0.500fr
			[time-1850] 0.500fr
			[time-1855] 0.500fr
			[time-1900] 0.500fr
			[time-1905] 0.500fr
			[time-1910] 0.500fr
			[time-1915] 0.500fr
			[time-1920] 0.500fr
			[time-1925] 0.500fr
			[time-1930] 0.500fr
			[time-1935] 0.500fr
			[time-2000] 0.5fr;

		grid-template-columns:
			[times] 4em
			[track-1-start] 0.5fr
			[track-1-end track-2-start] 0.5fr
			[track-2-end track-3-start] 0.5fr
			[track-3-end track-4-start] 0.5fr
			[track-4-end];
	}
}

.time-slot {
	grid-column: times;
}

.track-slot {
	display: none;
	font-weight: bold;
	font-size:1em;
  text-align: center !important;
  font-family: "Lato", Calibri, Arial, sans-serif !important;
}


@supports( display:grid ) {
	@media screen and (min-width:700px) {
		.track-slot {
			display: block;
			padding: 10px 5px 5px;
			position: sticky;
			top: 0;
			z-index: 1000;
			background-color: rgba(255,255,255,.9);
		}
	}
}

.session {
	margin-bottom:  1em;
}


@supports( display:grid ) {
	@media screen and (min-width: 700px) {
		.session {
			margin: 0;
		}
	}
}

.session {
	padding: .5em;
	border-radius: 2px;
	font-size: 14px;
	box-shadow:
		rgba(255,255,255,.6) 1px 1px 0,
		rgba(0,0,0,.3) 4px 4px 0;
}

.session-title,
.session-break,
.session-time,
.session-track,
.session-presenter {
	display: block;
}

.session-title,
.session-break,
.time-slot {
	margin: 0;
	font-size: 1em;
}

.session-title{
  padding-bottom: 0.2em;
  font-weight: bold;
}

.session-title a {
	color: #fff;
	text-decoration-style: dotted;

	&:hover {
		font-style: italic;
	}

	&:focus {
		outline: 2px dotted rgba(0,102,204,.8);
	}
}

.session-break a {
	color: #fff;
	text-decoration-style: dotted;

	&:hover {
		font-style: italic;
	}

	&:focus {
		outline: 2px dotted rgba(255,255,255,.8);
	}
}

.time-slot {
	font-weight: bold;
  font-family: Arial, sans-serif !important;
  font-size: 14px !important;
}

.track-1 {
	background-color: #b79801;
	color: #fff;
}

.track-2 {
	background-color: #687f00;
	color: #fff;
}

.track-3 {
	background-color: #544D69;
	color: #fff;
}

.track-4 {
	background-color: #c35500;
	color: #fff;
}

.track-all,
.track-all-break {
	display: flex;
	justify-content: center;
	align-items: center;
  font-weight: bold;
	box-shadow: none;
  color: #ffffff;
}

.track-all {
  background-color: #0066CC;
}

.track-all-break {
background-color: #cb3234;
  font-weight: bold !important;
}

.text {
	max-width: 750px;
	font-size: 18px;
	margin: 0 auto 50px;
}

.meta {
	color: #555;
	font-style: italic;
}

.meta a {
	color: #555;
}

hr {
	margin: 40px 0;
}
