---
layout: 2023/default
section: programa
permalink: /2023/horario/
title: esLibre 2023 - Horario
---

<h1 class="mt-3">
  Horario
</h1>

<h2 class="mt-3">
  Viernes 12
</h2>

<div class="schedule-fri" aria-labelledby="schedule-heading">
  <span class="track-slot" aria-hidden="true" style="grid-column: track-1; grid-row: tracks;">Aula 1</span>
  <span class="track-slot" aria-hidden="true" style="grid-column: track-2; grid-row: tracks;">Aula 3</span>
  <span class="track-slot" aria-hidden="true" style="grid-column: track-3; grid-row: tracks;">Aula 4</span>
  <span class="track-slot" aria-hidden="true" style="grid-column: track-4; grid-row: tracks;">Aula 5</span>
  <span class="track-slot" aria-hidden="true" style="grid-column: track-5; grid-row: tracks;">Aula 6</span>

  <h2 class="time-slot" style="grid-row: time-0930;">9:30</h2>

  <div class="session session-1 track-all-break"
    style="grid-column: track-1-start / track-5-end; grid-row: time-0930 / time-1000;">
    <h3 class="session-title">APERTURA PUERTAS Y ACREDITACIÓN</h3>
  </div>

  <h2 class="time-slot" style="grid-row: time-1000;">10:00</h2>

  <div class="session session-2 track-all"
    style="grid-column: track-1-start / track-5-end; grid-row: time-1000 / time-1030;">
    <h3 class="session-title" style="text-align: center !important;">PRESENTACIÓN DEL CONGRESO (AUDITORIO DE ETOPIA)
    </h3>
  </div>

  <h2 class="time-slot" style="grid-row: time-1030;">10:30</h2>

  <div class="session session-3 track-1" style="grid-column: track-1; grid-row: time-1030 / time-1100;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/migasfree-loves-gitlab-docker"
        target="_blank">Migasfree loves GitLab & Docker</a></h3>
    <span class="session-speaker">Eduardo Romero Moreno</span>
    <span class="session-time">10:30 - 10:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/migasfree-loves-gitlab-docker" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-3 track-2" style="grid-column: track-2; grid-row: time-1030 / time-1130;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/talleres/festival-tablas-dinamicas"
        target="_blank">¡Festival de tablas dinámicas!</a></h3>
    <span class="session-speaker">Ismael Fanlo</span>
    <span class="session-time">10:30 - 11:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/festival-tablas-dinamicas" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/festival-tablas-dinamicas.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-3 track-3" style="grid-column: track-3; grid-row: time-1030 / time-1045;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/entorno-conocimiento-abierto-classroom-ciberimaginario"
        target="_blank">Entorno de conocimiento y prácticas educativas abiertas: Classroom Ciberimaginario</a></h3>
    <span class="session-speaker">María del Carmen Gálvez de la Cuesta</span>
    <span class="session-time">10:30 - 10:45</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/entorno-conocimiento-abierto-classroom-ciberimaginario"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/entorno-conocimiento-abierto-classroom-ciberimaginario.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
    <br><strong>[PARTICIPA EN REMOTO]</strong>
  </div>

  <div class="session session-3 track-3" style="grid-column: track-3; grid-row: time-1045 / time-1100;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/opengnsys-aplicacion-libre-gestion-despliegue"
        target="_blank">OpenGnsys: aplicación libre y abierta para la gestión y el despliegue de sistemas operativos</a>
    </h3>
    <span class="session-speaker">Juan Carlos García López</span>
    <span class="session-time">10:45 - 11:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/opengnsys-aplicacion-libre-gestion-despliegue"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
    </span>
  </div>

  <div class="session session-4 track-4" style="grid-column: track-4; grid-row: time-1030 / time-1045;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/primeros-pasos-gestora-comunidad-open-source"
        target="_blank">Primeros pasos como gestora de una comunidad open-source</a></h3>
    <span class="session-speaker">Carmen Delgado</span>
    <span class="session-time">10:30 - 10:45</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/primeros-pasos-gestora-comunidad-open-source"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/primeros-pasos-gestora-comunidad-open-source.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
    <br><strong>[PARTICIPA EN REMOTO]</strong>
  </div>

  <div class="session session-4 track-4" style="grid-column: track-4; grid-row: time-1045 / time-1100;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/generando-colaboraciones-programas-estudiantes"
        target="_blank">Generando colaboraciones con programas de estudiantes</a></h3>
    <span class="session-speaker">Carmen Delgado</span>
    <span class="session-time">10:45 - 11:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/generando-colaboraciones-programas-estudiantes"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/generando-colaboraciones-programas-estudiantes.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
    <br><strong>[PARTICIPA EN REMOTO]</strong>
  </div>

  <div class="session session-5 track-5" style="grid-column: track-5; grid-row: time-1030 / time-1100;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/sostenibilidad-ensenanza-software-libre-grado-informacion-documentacion"
        target="_blank">Sostenibilidad “4R” y enseñanza de con software libre en el “Grado en Información
        y Documentación” de la Universidad de Zaragoza ((1992-)2008-2022)</a></h3>
    <span class="session-speaker">Antonio-Paulo Ubieto Artur</span>
    <span class="session-time">10:30 - 10:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/sostenibilidad-ensenanza-software-libre-grado-informacion-documentacion"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/sostenibilidad-ensenanza-software-libre-grado-informacion-documentacion.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1100;">11:00</h2>

  <div class="session session-4 track-1" style="grid-column: track-1; grid-row: time-1100 / time-1130;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/vitalinux-migasfree-esbirros-gestinando-distro"
        target="_blank">Vitalinux, migasfree y algunos esbirros... gestinando una distro</a></h3>
    <span class="session-speaker">Ignacio Sancho Morte</span>
    <span class="session-time">11:00 - 11:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/vitalinux-migasfree-esbirros-gestinando-distro"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/vitalinux-migasfree-esbirros-gestinando-distro.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-3 track-3" style="grid-column: track-3; grid-row: time-1100 / time-1130;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/bancos-reciclaxe-electronica-software-libre"
        target="_blank">Bancos de Reciclaxe Electrónica con Software Libre</a></h3>
    <span class="session-speaker">José Antonio González Nóvoa, Jorge Lama Varela</span>
    <span class="session-time">11:00 - 11:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/bancos-reciclaxe-electronica-software-libre"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
    </span>
  </div>

  <div class="session session-4 track-4" style="grid-column: track-4; grid-row: time-1100 / time-1130;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/malagueira-xr-bocetos-alvaro-siza-vr"
        target="_blank">Malagueira XR: los bocetos de Álvaro Siza Vieira en VR</a></h3>
    <span class="session-speaker">Antonio Montes (inventadero)</span>
    <span class="session-time">11:00 - 11:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/malagueira-xr-bocetos-alvaro-siza-vr" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-5 track-5" style="grid-column: track-5; grid-row: time-1100 / time-1130;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/pila-fisica-movimiento"
        target="_blank">PILA para física en movimiento: proyecto de investigación libre y abierta</a></h3>
    <span class="session-speaker">Bibiana Noemí Boccolini</span>
    <span class="session-time">11:00 - 11:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/pila-fisica-movimiento" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1130;">11:30</h2>

  <div class="session session-5 track-all-break"
    style="grid-column: track-1-start / track-5-end; grid-row: time-1130 / time-1200;">
    <h3 class="session-title">DESCANSO</h3>
  </div>

  <h2 class="time-slot" style="grid-row: time-1200;">12:00</h2>

  <div class="session session-6 track-1" style="grid-column: track-1; grid-row: time-1200 / time-1230;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/tuneando-entornos-escritorio-remota-desatendida"
        target="_blank">Tuneando entornos de escritorio de manera remota y desatendida</a></h3>
    <span class="session-speaker">Arturo Martín Romero</span>
    <span class="session-time">12:00 - 12:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/tuneando-entornos-escritorio-remota-desatendida"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/tuneando-entornos-escritorio-remota-desatendida.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-6 track-2" style="grid-column: track-2; grid-row: time-1200 / time-1400;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/talleres/edicion-paisaje-realidad-extendida"
        target="_blank">Edición del paisaje en realidad extendida (XR)</a></h3>
    <span class="session-speaker">Antonio Montes (inventadero)</span>
    <span class="session-time">12:00 - 13:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/edicion-paisaje-realidad-extendida" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
  </div>

  <div class="session session-6 track-3" style="grid-column: track-3; grid-row: time-1200 / time-1400;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/talleres/taller-introduccion-edicion-openstreetmap"
        target="_blank">Introducción a OpenStreetMap</a></h3>
    <span class="session-speaker">Miguel Sevilla-Callejo</span>
    <span class="session-time">12:00 - 13:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/taller-introduccion-edicion-openstreetmap" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/taller-introduccion-edicion-openstreetmap.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
  </div>

  <div class="session session-6 track-4" style="grid-column: track-4; grid-row: time-1200 / time-1300;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/talleres/elaboracion-reas-herramientas-autoria-abiertas"
        target="_blank">Elaboración de REAs con herramientas de autoría abiertas</a></h3>
    <span class="session-speaker">Ismail Ali Gago</span>
    <span class="session-time">12:00 - 12:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/elaboracion-reas-herramientas-autoria-abiertas"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
  </div>

  <div class="session session-6 track-5" style="grid-column: track-5; grid-row: time-1200 / time-1230;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/libreoffice-base-base-datos-peculiar"
        target="_blank">LibreOffice Base, una base de datos peculiar</a></h3>
    <span class="session-speaker">Juan C. Sanz</span>
    <span class="session-time">12:00 - 12:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/libreoffice-base-base-datos-peculiar" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/libreoffice-base-base-datos-peculiar.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1230;">12:30</h2>

  <div class="session session-7 track-1" style="grid-column: track-1; grid-row: time-1230 / time-1300;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/lliurex-gva-gate"
        target="_blank">LliureX GVA Gate</a></h3>
    <span class="session-speaker">Enrique Medina Gremaldos</span>
    <span class="session-time">12:30 - 12:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/lliurex-gva-gate" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-7 track-5" style="grid-column: track-5; grid-row: time-1230 / time-1300;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/soporte-asistencia-formacion-libreoffice"
        target="_blank">Soporte, asistencia y formación con las aplicaciones de LibreOffice</a></h3>
    <span class="session-speaker">Fran Ruedas, Rafael Espinar, Antonio J. Caba</span>
    <span class="session-time">12:30 - 12:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/soporte-asistencia-formacion-libreoffice" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/soporte-asistencia-formacion-libreoffice.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1300;">13:00</h2>

  <div class="session session-8 track-1" style="grid-column: track-1; grid-row: time-1300 / time-1315;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/herramientas-desarrolladas-maqueta-linkat"
        target="_blank">Herramientas desarrolladas para la maqueta Linkat del Plan de Educación Digital de Catalunya</a>
    </h3>
    <span class="session-speaker">Joan de Gracia, Francesc Busquets</span>
    <span class="session-time">13:00 - 13:15</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/herramientas-desarrolladas-maqueta-linkat" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/herramientas-desarrolladas-maqueta-linkat.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-8 track-1" style="grid-column: track-1; grid-row: time-1315 / time-1330;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/epilinux-distro-orientada-epidemiologia-bioestadistica"
        target="_blank">EpiLinux: una distro orientada a la epidemiología y la bioestadística</a></h3>
    <span class="session-speaker">Miguel Ángel Rodríguez Muíños</span>
    <span class="session-time">13:15 - 13:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/epilinux-distro-orientada-epidemiologia-bioestadistica"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/epilinux-distro-orientada-epidemiologia-bioestadistica.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-8 track-4" style="grid-column: track-4; grid-row: time-1300 / time-1330;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/sentiment-analytis-crawling-software-libre"
        target="_blank">Sentiment analysis & crawling con software libre</a></h3>
    <span class="session-speaker">Christian Lopez</span>
    <span class="session-time">13:00 - 13:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/sentiment-analytis-crawling-software-libre" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/sentiment-analytis-crawling-software-libre.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-8 track-5" style="grid-column: track-5; grid-row: time-1300 / time-1330;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/introduccion-prometheus-promql"
        target="_blank">Introducción a Prometheus y PromQL: la vida secreta de las labels</a></h3>
    <span class="session-speaker">Carlos Adiego Cortés</span>
    <span class="session-time">13:00 - 13:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/introduccion-prometheus-promql" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/introduccion-prometheus-promql.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1330;">13:30</h2>

  <div class="session session-9 track-1" style="grid-column: track-1; grid-row: time-1330 / time-1400;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/isardvdi-virtualizacion-escritorios-accion-educativa"
        target="_blank">IsardVDI: la solución de virtualización de escritorios que contribuye a democratizar y facilitar
        el
        acceso al software necesario para cada acción educativa</a></h3>
    <span class="session-speaker">Alberto Larraz Dalmases</span>
    <span class="session-time">13:30 - 13:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/isardvdi-virtualizacion-escritorios-accion-educativa"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
    </span>
  </div>

  <div class="session session-9 track-4" style="grid-column: track-4; grid-row: time-1330 / time-1400;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/flechas-codigo-antropologia-open-source"
        target="_blank">De flechas a código: ¿qué nos puede enseñar la antropología de las comunidades open source?</a>
    </h3>
    <span class="session-speaker">David de Torres Huerta</span>
    <span class="session-time">13:30 - 13:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/flechas-codigo-antropologia-open-source" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/flechas-codigo-antropologia-open-source.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-9 track-5" style="grid-column: track-5; grid-row: time-1330 / time-1400;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/arasaac-sistema-aumentativo-alternativo-comunicacion"
        target="_blank">ARASAAC: Sistema aumentativo y alternativo de comunicación</a></h3>
    <span class="session-speaker">Juan Daniel Burró Aláez</span>
    <span class="session-time">13:30 - 13:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/arasaac-sistema-aumentativo-alternativo-comunicacion"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1400;">14:00</h2>

  <div class="session session-10 track-all-break"
    style="grid-column: track-1-start / track-5-end; grid-row: time-1400 / time-1600;">
    <h3 class="session-title">COMIDA</h3>
  </div>

  <h2 class="time-slot" style="grid-row: time-1600;">16:00</h2>

  <div class="session session-10 track-1" style="grid-column: track-1; grid-row: time-1600 / time-1630;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/pasado-presente-futuro-educamadrid"
        target="_blank">Pasado, presente y futuro de EducaMadrid</a></h3>
    <span class="session-speaker">Adolfo Sanz De Diego</span>
    <span class="session-time">16:00 - 16:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/pasado-presente-futuro-educamadrid" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-10 track-2" style="grid-column: track-2; grid-row: time-1600 / time-1800;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/talleres/reparando-ordenador-portatil-por-slimbook"
        target="_blank">Reparando mi propio ordenador portátil con Slimbook</a></h3>
    <span class="session-speaker">Alejandro López</span>
    <span class="session-time">16:00 - 17:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/reparando-ordenador-portatil-por-slimbook" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/reparando-ordenador-portatil-por-slimbook.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
  </div>

  <div class="session session-10 track-3" style="grid-column: track-3; grid-row: time-1600 / time-1800;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/talleres/composicion-algoritmica-livecoding"
        target="_blank">Composición algorítmica y “Live Coding”</a></h3>
    <span class="session-speaker">Alejandro Rodríguez Antolín, Miguel Ángel Rodríguez Muiños</span>
    <span class="session-time">16:00 - 17:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/composicion-algoritmica-livecoding" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/composicion-algoritmica-livecoding.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
  </div>

  <div class="session session-10 track-4" style="grid-column: track-4; grid-row: time-1600 / time-1630;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/wikipedia-infraestructura-libre-conocimiento-libre"
        target="_blank">Wikipedia: infraestructura libre para un conocimiento libre</a></h3>
    <span class="session-speaker">Jaime Crespo (jynus)</span>
    <span class="session-time">16:00 - 16:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/wikipedia-infraestructura-libre-conocimiento-libre"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/wikipedia-infraestructura-libre-conocimiento-libre.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-10 track-5" style="grid-column: track-5; grid-row: time-1600 / time-1630;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/repositorio-codigo-abierto-icearagon"
        target="_blank">Repositorio de código abierto de ICEARAGON</a></h3>
    <span class="session-speaker">Rafael Martínez Cebolla</span>
    <span class="session-time">16:00 - 16:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/repositorio-codigo-abierto-icearagon" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/repositorio-codigo-abierto-icearagon.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1630;">16:30</h2>

  <div class="session session-11 track-1" style="grid-column: track-1; grid-row: time-1630 / time-1700;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/desarrollo-competencia-digital-max"
        target="_blank">Desarrollo de la competencia digital con MAX 11.5.1…¡sin conectarnos a Internet!</a></h3>
    <span class="session-speaker">Daniel Esteban Roque</span>
    <span class="session-time">16:30 - 16:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/desarrollo-competencia-digital-max" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/desarrollo-competencia-digital-max.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-11 track-4" style="grid-column: track-4; grid-row: time-1630 / time-1700;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/sala-wikimedia/sesgos-contenido-por-pares"
        target="_blank">¿Sesgos del contenido por pares?</a></h3>
    <span class="session-speaker">David Abián</span>
    <span class="session-time">16:30 - 16:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/sala-wikimedia/toda-verdad-sobre-brechas-contenido" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/sesgos-contenido-por-pares.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-11 track-5" style="grid-column: track-5; grid-row: time-1630 / time-1700;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/como-liberar-todo-sistema-diseno-corporativo"
        target="_blank">Cómo liberar todo un sistema de diseño corporativo</a></h3>
    <span class="session-speaker">tripu</span>
    <span class="session-time">16:30 - 16:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/como-liberar-todo-sistema-diseno-corporativo"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/como-liberar-todo-sistema-diseno-corporativo.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1700;">17:00</h2>

  <div class="session session-12 track-1" style="grid-column: track-1; grid-row: time-1700 / time-1730;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/hachecincoque-contenidos-interactivos-aeducar-moodle"
        target="_blank">¿Hachecincoqué? Contenidos interactivos en Aeducar, Moodle y WordPress</a></h3>
    <span class="session-speaker">Héctor Banzo, Paola García</span>
    <span class="session-time">17:00 - 17:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/hachecincoque-contenidos-interactivos-aeducar-moodle"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/hachecincoque-contenidos-interactivos-aeducar-moodle.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-12 track-4" style="grid-column: track-4; grid-row: time-1700 / time-1730;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/sala-wikimedia/repercusion-brecha-genero-wikipedia-big-data"
        target="_blank">La repercusión de la brecha de género de la Wikipedia en el ‘Big Data’</a></h3>
    <span class="session-speaker">Florencia Claes, Ester Bonet</span>
    <span class="session-time">17:00 - 17:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/sala-wikimedia/repercusion-brecha-genero-wikipedia-big-data"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/repercusion-brecha-genero-wikipedia-big-data.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-12 track-5" style="grid-column: track-5; grid-row: time-1700 / time-1800;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/oficinas-software-libre-europa-mundo"
        target="_blank">[PANEL] "Oficinas de Software Libre en Europa y el mundo: pasado, presente y retos de
        futuro"</a></h3>
    <span class="session-speaker"><strong>Modera:</strong> Ana Jiménez Santamaría<br><strong>Participan:</strong> Jesús
      Barahona, Manuel Palomo, Josep Prat, José Manrique López</span>
    <span class="session-time">17:00 - 17:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/oficinas-software-libre-europa-mundo" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8XuR" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1730;">17:30</h2>

  <div class="session session-13 track-1" style="grid-column: track-1; grid-row: time-1730 / time-1800;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/cosas-chachis-proyectos-software-libres-juntos"
        target="_blank">Cosas chachis que pasan cuando diversos proyectos de software libre se juntan: integración de
        H5P, BBB y
        Matrix con Moodle</a></h3>
    <span class="session-speaker">Sara Arjona Téllez</span>
    <span class="session-time">17:30 - 17:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/cosas-chachis-proyectos-software-libres-juntos"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/cosas-chachis-proyectos-software-libres-juntos.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8XuJ" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-13 track-4" style="grid-column: track-4; grid-row: time-1730 / time-1800;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/sala-wikimedia/llenando-espana-vaciada-wikipedia"
        target="_blank">Llenando la ‘España vaciada’ en Wikipedia</a></h3>
    <span class="session-speaker">Rubén Ojeda</span>
    <span class="session-time">17:30 - 17:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/sala-wikimedia/llenando-espana-vaciada-wikipedia" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1800;">18:00</h2>

  <div class="session session-14 track-all-break"
    style="grid-column: track-1-start / track-5-end; grid-row: time-1800 / time-1845;">
    <h3 class="session-title">DESCANSO / VISITA GUIADA A ETOPIA</h3>
  </div>

  <h2 class="time-slot" style="grid-row: time-1845;">18:45</h2>

  <div class="session session-15 track-1" style="grid-column: track-1; grid-row: time-1845 / time-1915;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/state-open-source-europe-linux-foundation" target="_blank">What’s
        the state of Open Source in Europe? Insights from the Linux Foundation’s “World of Open Source Europe
        spotlight 2022” research report</a></h3>
    <span class="session-speaker">Cailean Osborne</span>
    <span class="session-time">18:45 - 19:10</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/state-open-source-europe-linux-foundation" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/state-open-source-europe-linux-foundation.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8XuK" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-15 track-2" style="grid-column: track-2; grid-row: time-1845 / time-2015;">
    <h3 class="session-title"><a
        href="https://propuestas-vitalinux.eslib.re/2023/talleres/taller-practico-arduino-educacion"
        target="_blank">Taller práctico de Arduino Educación</a></h3>
    <span class="session-speaker">Elena Lopez de Arroiabe, Aitziber Ruiz, Joseba Mouriz, Maria Gutiérrez-Segú</span>
    <span class="session-time">18:45 - 20:10</span><br>
    <span class="session-speaker">
      <a href="https://propuestas-vitalinux.eslib.re/2023/talleres/taller-practico-arduino-educacion"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8XuP" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
  </div>

  <div class="session session-15 track-3" style="grid-column: track-3; grid-row: time-1845 / time-2015;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/talleres/audio-hi-res-sistemas-gnu-linux"
        target="_blank">Audio Hi-Res (o sonido de alta resolución) en sistemas GNU/Linux</a></h3>
    <span class="session-speaker">Jorge Lama Varela</span>
    <span class="session-time">18:45 - 20:10</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/audio-hi-res-sistemas-gnu-linux" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8XuQ" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
  </div>

  <div class="session session-15 track-4" style="grid-column: track-4; grid-row: time-1845 / time-2015;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/sala-wikimedia/wiki-salida-recinto-expo-2008"
        target="_blank">[RUTA FOTOGRÁFICA]<br>Wiki-salida por el recinto de la Expo 2008</a></h3>
    <span class="session-speaker">Wikimedia España</span>
    <span class="session-time">18:45 - 20:10</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/sala-wikimedia/wiki-salida-recinto-expo-2008" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span><br><span class="session-title"><strong><a
          href="//eventos.librelabgrx.cc/events/d70c1de6-da92-46a0-be0a-6ea52b221690" target="_blank">[RESERVAR PLAZA
          SALIDA]</a></strong></span>
  </div>

  <div class="session session-15 track-5" style="grid-column: track-5; grid-row: time-1845 / time-2015;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/talleres/primeras-macros-libreoffice-python"
        target="_blank">Mis primeras macros en LibreOffice con Python</a></h3>
    <span class="session-speaker">Mauricio Baeza</span>
    <span class="session-time">18:45 - 20:10</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/primeras-macros-libreoffice-python" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
  </div>

  <h2 class="time-slot" style="grid-row: time-1915;">19:15</h2>

  <div class="session session-15 track-1" style="grid-column: track-1; grid-row: time-1915 / time-1945;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/distribuciones-linux-basadas-codigo-fuente"
        target="_blank">Distribuciones linux basadas en código fuente (Gentoo y compañia)</a></h3>
    <span class="session-speaker">Guillermo Roche Zarralanga</span>
    <span class="session-time">19:15 - 19:40</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/distribuciones-linux-basadas-codigo-fuente" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/distribuciones-linux-basadas-codigo-fuente.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8XuL" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1945;">19:45</h2>

  <div class="session session-15 track-1" style="grid-column: track-1; grid-row: time-1945 / time-2015;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/david-goliat-lecciones-aprendidas-experiencia-fallida"
        target="_blank">David vs. Goliat: lecciones aprendidas de una experiencia fallida de adopción de Cryptpad</a>
    </h3>
    <span class="session-speaker">Laura M. Castro</span>
    <span class="session-time">19:45 - 20:10</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/david-goliat-lecciones-aprendidas-experiencia-fallida"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/david-goliat-lecciones-aprendidas-experiencia-fallida.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8XuN" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-2015;">20:15</h2>
</div>

<h2 class="mt-3">
  Sábado 13
</h2>

<div class="schedule-sat" aria-labelledby="schedule-heading">
  <span class="track-slot" aria-hidden="true" style="grid-column: track-1; grid-row: tracks;">Aula 1</span>
  <span class="track-slot" aria-hidden="true" style="grid-column: track-2; grid-row: tracks;">Aula 3</span>
  <span class="track-slot" aria-hidden="true" style="grid-column: track-3; grid-row: tracks;">Aula 4</span>
  <span class="track-slot" aria-hidden="true" style="grid-column: track-4; grid-row: tracks;">Aula 5</span>
  <span class="track-slot" aria-hidden="true" style="grid-column: track-5; grid-row: tracks;">Aula 6</span>

  <h2 class="time-slot" style="grid-row: time-0930;">9:30</h2>

  <div class="session session-1 track-all-break"
    style="grid-column: track-1-start / track-5-end; grid-row: time-0930 / time-1000;">
    <h3 class="session-title">APERTURA PUERTAS Y ACREDITACIÓN</h3>
  </div>

  <h2 class="time-slot" style="grid-row: time-1000;">10:00</h2>

  <div class="session session-2 track-1" style="grid-column: track-1; grid-row: time-1000 / time-1130;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/talleres/introduccion-practica-runtime-security-falco"
        target="_blank">Introducción práctica a Runtime Security con Falco</a></h3>
    <span class="session-speaker">Miguel Hernández Boza, Vicente J. Jiménez Miras</span>
    <span class="session-time">10:00 - 11:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/introduccion-practica-runtime-security-falco"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8XuU" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
  </div>

  <div class="session session-2 track-2" style="grid-column: track-2; grid-row: time-1000 / time-1100;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/talleres/novedades-esp32-steammakers-arduinoblocks"
        target="_blank">Novedades ESP32 STEAMakers y ArduinoBlocks para el nuevo currículum</a></h3>
    <span class="session-speaker">Toni Moreno</span>
    <span class="session-time">10:00 - 10:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/novedades-esp32-steammakers-arduinoblocks" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
  </div>

  <div class="session session-2 track-3" style="grid-column: track-3; grid-row: time-1000 / time-1130;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/talleres/mariadb-para-que-necesito-libreoffice-base" target="_blank">¿Si
        tengo MySQL o MariaDB para qué necesito LibreOffice Base?</a></h3>
    <span class="session-speaker">Juan C. Sanz</span>
    <span class="session-time">10:00 - 11:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/mariadb-para-que-necesito-libreoffice-base"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xum" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
  </div>

  <div class="session session-2 track-4" style="grid-column: track-4; grid-row: time-1000 / time-1130;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/talleres/presentaciones-libres-sozi"
        target="_blank">Presentaciones libres con Sozi</a></h3>
    <span class="session-speaker">Juan José Martín Romero</span>
    <span class="session-time">10:00 - 11:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/presentaciones-libres-sozi" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/presentaciones-libres-sozi.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
  </div>

  <div class="session session-2 track-5" style="grid-column: track-5; grid-row: time-1000 / time-1100;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/talleres/concordancias-software-libre-esperanto"
        target="_blank">Concordancias entre el software libre y el esperanto</a></h3>
    <span class="session-speaker">Notxor</span>
    <span class="session-time">10:00 - 10:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/concordancias-software-libre-esperanto" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/concordancias-software-libre-esperanto.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xv7" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
  </div>

  <h2 class="time-slot" style="grid-row: time-1030;">10:30</h2>

  <h2 class="time-slot" style="grid-row: time-1100;">11:00</h2>

  <div class="session session-4 track-2" style="grid-column: track-2; grid-row: time-1100 / time-1130;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/trabajando-ods-aula-entorno-digital-sostenible"
        target="_blank">Trabajando los ODS en el aula con un entorno digital sostenible</a></h3>
    <span class="session-speaker">Stella Carrera Cuadrado, Mª Isabel Pareja Moreno</span>
    <span class="session-time">11:00 - 11:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/trabajando-ods-aula-entorno-digital-sostenible"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/trabajando-ods-aula-entorno-digital-sostenible.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xui" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-5 track-5" style="grid-column: track-5; grid-row: time-1100 / time-1130;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/experiencias-contribucion-proyecto-software-libre-volatility"
        target="_blank">Experiencias propias en la contribución a proyectos de software libre Volatility</a></h3>
    <span class="session-speaker">Ricardo J. Rodríguez</span>
    <span class="session-time">11:00 - 11:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/experiencias-contribucion-proyecto-software-libre-volatility"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8XvE" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1130;">11:30</h2>

  <div class="session session-5 track-all-break"
    style="grid-column: track-1-start / track-5-end; grid-row: time-1130 / time-1200;">
    <h3 class="session-title">DESCANSO</h3>
  </div>

  <h2 class="time-slot" style="grid-row: time-1200;">12:00</h2>

  <div class="session session-6 track-1" style="grid-column: track-1; grid-row: time-1200 / time-1230;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/experiencia-xnet-entorno-virtual-aprendizaje-dd"
        target="_blank">La experiencia de Xnet con el entorno virtual de aprendizaje DD para una educación digital
        democrática y
        abierta</a></h3>
    <span class="session-speaker">Sergio Salgado</span>
    <span class="session-time">12:00 - 12:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/experiencia-xnet-entorno-virtual-aprendizaje-dd"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
    </span>
  </div>

  <div class="session session-6 track-2" style="grid-column: track-2; grid-row: time-1200 / time-1400;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/talleres/nc-env-herramienta-montar-entornos-nextcloud"
        target="_blank">nc-env: una herramienta para montar entornos Nextcloud en tu ordenador</a></h3>
    <span class="session-speaker">Pietro Marini</span>
    <span class="session-time">12:00 - 13:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/nc-env-herramienta-montar-entornos-nextcloud"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xuj" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
  </div>

  <div class="session session-6 track-3" style="grid-column: track-3; grid-row: time-1200 / time-1400;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/talleres/introduccion-qgis"
        target="_blank">Introducción a QGIS</a></h3>
    <span class="session-speaker">Carlos López Quintanilla</span>
    <span class="session-time">12:00 - 13:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/introduccion-qgis" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xuv" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
  </div>

  <div class="session session-6 track-4" style="grid-column: track-4; grid-row: time-1200 / time-1230;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/smart-city-maker-abierta-palma"
        target="_blank">La “smart city” maker y abierta de Palma construida enseñando IoT a los ciudadanos</a></h3>
    <span class="session-speaker">Carlos Orts</span>
    <span class="session-time">12:00 - 12:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/smart-city-maker-abierta-palma" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xuw" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-6 track-5" style="grid-column: track-5; grid-row: time-1200 / time-1400;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/talleres/desarrollo-plugins-analisis-forense-personalizado-volatility"
        target="_blank">Desarrollo de plugins para análisis forense personalizado con Volatility</a></h3>
    <span class="session-speaker">Ricardo J. Rodríguez</span>
    <span class="session-time">12:00 - 13:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/desarrollo-plugins-analisis-forense-personalizado-volatility"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8XvF" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
  </div>

  <h2 class="time-slot" style="grid-row: time-1230;">12:30</h2>

  <div class="session session-7 track-1" style="grid-column: track-1; grid-row: time-1230 / time-1300;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/importancia-software-libre-ambito-escolar" target="_blank">La
        importancia del software libre en el ámbito escolar </a></h3>
    <span class="session-speaker">Pablo Garaizar Sagarminaga</span>
    <span class="session-time">12:30 - 12:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/importancia-software-libre-ambito-escolar" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/importancia-software-libre-ambito-escolar.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8XuV" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><strong>[PARTICIPA EN REMOTO]</strong>
  </div>

  <div class="session session-7 track-4" style="grid-column: track-4; grid-row: time-1230 / time-1300;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/durango-computer-computador-casa-80s"
        target="_blank">Durango Computer: el "computador de casa" de los 80s en el siglo XXI </a></h3>
    <span class="session-speaker">Victor Suarez</span>
    <span class="session-time">12:30 - 12:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/durango-computer-computador-casa-80s" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/durango-computer-computador-casa-80s.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xux" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1300;">13:00</h2>

  <div class="session session-8 track-1" style="grid-column: track-1; grid-row: time-1300 / time-1400;">
    <h3 class="session-title"><a
        href="https://propuestas-vitalinux.eslib.re/2023/talleres/mesa-redonda-digitalizacion-aulas-oligopolios-tecnologicos"
        target="_blank">[MESA REDONDA] "Digitalización en las aulas y oligopolios tecnológicos"</a></h3>
    <span class="session-speaker"><strong>Modera:</strong> Ana Mª López Floría<br><strong>Participan:</strong> Carlos
      González Larraga, Daniel Esteban, Andrea Alfaro, Sergio Salgado</span>
    <span class="session-time">13:00 - 13:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas-vitalinux.eslib.re/2023/talleres/mesa-redonda-digitalizacion-aulas-oligopolios-tecnologicos"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8XuW" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-8 track-4" style="grid-column: track-4; grid-row: time-1300 / time-1315;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/open-hardware-agv"
        target="_blank">Acercando el Hardware Libre a la industria: OH AGV</a></h3>
    <span class="session-speaker">Miguel Martínez, Miguel Gámez</span>
    <span class="session-time">13:00 - 13:15</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/open-hardware-agv" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/open-hardware-agv.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xuy" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-8 track-4" style="grid-column: track-4; grid-row: time-1315 / time-1330;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/opensource-rescate-privacidad"
        target="_blank">Open source al rescate de la privacidad</a></h3>
    <span class="session-speaker">Juan Rodriguez Esteban</span>
    <span class="session-time">13:15 - 13:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/opensource-rescate-privacidad" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/opensource-rescate-privacidad.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xu$" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1330;">13:30</h2>

  <div class="session session-9 track-4" style="grid-column: track-4; grid-row: time-1330 / time-1400;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/el-salto-radio" target="_blank">El Salto
        Radio</a></h3>
    <span class="session-speaker">Laura Corcuera</span>
    <span class="session-time">13:30 - 13:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/el-salto-radio" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xv2" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><strong>[PARTICIPA EN REMOTO]</strong>
  </div>

  <h2 class="time-slot" style="grid-row: time-1400;">14:00</h2>

  <div class="session session-10 track-all-break"
    style="grid-column: track-1-start / track-5-end; grid-row: time-1400 / time-1600;">
    <h3 class="session-title">COMIDA</h3>
  </div>

  <h2 class="time-slot" style="grid-row: time-1600;">16:00</h2>

  <div class="session session-10 track-1" style="grid-column: track-1; grid-row: time-1600 / time-1630;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/25-kde-free-qt-foundation"
        target="_blank">25 años de The KDE Free Qt Foundation: como las comunidades de Software Libre y las empresas
        pueden funcionar juntas</a></h3>
    <span class="session-speaker">Albert Astals Cid</span>
    <span class="session-time">16:00 - 16:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/25-kde-free-qt-foundation" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/25-kde-free-qt-foundation.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xua" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-10 track-2" style="grid-column: track-2; grid-row: time-1600 / time-1800;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/talleres/robotica-educativa-e-ia-con-echidna"
        target="_blank">Robótica educativa e IA con Echidna</a></h3>
    <span class="session-speaker">José Pujol, Jorge Lobo, Xabier Rosas</span>
    <span class="session-time">16:00 - 17:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/robotica-educativa-e-ia-con-echidna" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
  </div>

  <div class="session session-10 track-3" style="grid-column: track-3; grid-row: time-1600 / time-1800;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/talleres/3d-animations-open-source"
        target="_blank">3D animations with open source</a></h3>
    <span class="session-speaker">Alvaro del Castillo San Felix</span>
    <span class="session-time">16:00 - 17:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/3d-animations-open-source" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
  </div>

  <div class="session session-10 track-4" style="grid-column: track-4; grid-row: time-1600 / time-1630;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/osmpoismap-tagcionario-acercando-etiquetas-publico-general"
        target="_blank">OSMPoisMap y Tagcionario acercando las etiquetas al público general</a></h3>
    <span class="session-speaker">yopaseopor</span>
    <span class="session-time">16:00 - 16:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/osmpoismap-tagcionario-acercando-etiquetas-publico-general"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/osmpoismap-tagcionario-acercando-etiquetas-publico-general.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xv4" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
    <br><strong>[PARTICIPA EN REMOTO]</strong>
  </div>

  <h2 class="time-slot" style="grid-row: time-1630;">16:30</h2>

  <div class="session session-11 track-1" style="grid-column: track-1; grid-row: time-1630 / time-1700;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/como-no-dejar-rascarse-picor"
        target="_blank">Cómo no dejar de rascarse el picor en 10 cómodos pasos </a></h3>
    <span class="session-speaker">JJ Merelo</span>
    <span class="session-time">16:30 - 16:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/como-no-dejar-rascarse-picor" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/como-no-dejar-rascarse-picor.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xuc" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-11 track-4" style="grid-column: track-4; grid-row: time-1630 / time-1645;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/calles-mujeres-aragon-geochicasosm"
        target="_blank">Las calles de la mujeres en Aragón por Geochicas OSM</a></h3>
    <span class="session-speaker">Carmen Díez SanMartín</span>
    <span class="session-time">16:30 - 16:45</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/calles-mujeres-aragon-geochicasosm" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xv5" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-11 track-4" style="grid-column: track-4; grid-row: time-1645 / time-1700;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/herramientas-libres-sig-informacion-geografica-voluntaria"
        target="_blank">Herramientas libres de un SIG con Información Geografica Voluntaria</a></h3>
    <span class="session-speaker">Víctor Martínez</span>
    <span class="session-time">16:45 - 17:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/herramientas-libres-sig-informacion-geografica-voluntaria"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
    </span>
  </div>

  <div class="session session-11 track-5" style="grid-column: track-5; grid-row: time-1630 / time-1800;">
    <h3 class="session-title"><a href="https://www.unizar.es/actualidad/vernoticia_ng.php?id=71024&idh=11932"
        target="_blank">I Concurso "Trabajos Fin de Grado Relacionados con Tecnología Libre"</a></h3>
    <span class="session-speaker">Oficina de Software Libre de la Universidad de Zaragoza</span>
    <span class="session-time">16:30 - 17:55</span><br>
    <span class="session-speaker">
      <a href="https://www.unizar.es/actualidad/vernoticia_ng.php?id=71024&idh=11932" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1700;">17:00</h2>

  <div class="session session-12 track-1" style="grid-column: track-1; grid-row: time-1700 / time-1730;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/tour-linux-embebido-yocto-buenas-practicas" target="_blank">Un
        tour Linux embebido con Yocto y algunas buenas prácticas </a></h3>
    <span class="session-speaker">Álvaro Peña</span>
    <span class="session-time">17:00 - 17:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/tour-linux-embebido-yocto-buenas-practicas" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/tour-linux-embebido-yocto-buenas-practicas.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xud" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-12 track-4" style="grid-column: track-4; grid-row: time-1700 / time-1715;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/metodologia-libre-elaboracion-cartografia-turistica"
        target="_blank">Metodología libre para la elaboración de cartografía turística</a></h3>
    <span class="session-speaker">Maria Caudevilla Lambán</span>
    <span class="session-time">17:00 - 17:15</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/metodologia-libre-elaboracion-cartografia-turistica"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
    </span>
  </div>

  <div class="session session-12 track-4" style="grid-column: track-4; grid-row: time-1715 / time-1730;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/calculo-balance-hidrico-modelado-datos-espaciales"
        target="_blank">Cálculo de balance hídrico a través del modelado de datos espaciales, en la cuenca del río
        Motatán,
        Estado Trujillo </a></h3>
    <span class="session-speaker">Jose Lozano</span>
    <span class="session-time">17:15 - 17:30</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/calculo-balance-hidrico-modelado-datos-espaciales"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
    </span>
    <br><strong>[PARTICIPA EN REMOTO]</strong>
  </div>

  <h2 class="time-slot" style="grid-row: time-1730;">17:30</h2>

  <div class="session session-13 track-1" style="grid-column: track-1; grid-row: time-1730 / time-1800;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/un-pinguino-en-tu-coche"
        target="_blank">Un pingüino en tu coche</a></h3>
    <span class="session-speaker">Sergio López Pascual</span>
    <span class="session-time">17:30 - 17:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/un-pinguino-en-tu-coche" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/un-pinguino-en-tu-coche.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xuf" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-13 track-4" style="grid-column: track-4; grid-row: time-1730 / time-1800;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/gleo-como-reinventar-mapas-webgl"
        target="_blank">Gleo, o cómo reinventar mapas con WebGL</a></h3>
    <span class="session-speaker">Iván Sánchez Ortega</span>
    <span class="session-time">17:30 - 17:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/gleo-como-reinventar-mapas-webgl" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xv6" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1800;">18:00</h2>

  <div class="session session-14 track-all-break"
    style="grid-column: track-1-start / track-5-end; grid-row: time-1800 / time-1830;">
    <h3 class="session-title">DESCANSO</h3>
  </div>

  <h2 class="time-slot" style="grid-row: time-1830;">18:30</h2>

  <div class="session session-15 track-1" style="grid-column: track-1; grid-row: time-1830 / time-1900;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/proteger-privacidad-documentos-collabora-online"
        target="_blank">Como proteger la privacidad de tus documentos con Collabora Online</a></h3>
    <span class="session-speaker">Eloy Crespo</span>
    <span class="session-time">18:30 - 18:55</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/proteger-privacidad-documentos-collabora-online"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
      <a style="padding-left: 0.65em !important"
        href="/2023/presentaciones/proteger-privacidad-documentos-collabora-online.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xug" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-15 track-2" style="grid-column: track-2; grid-row: time-1830 / time-1930;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/talleres/teroshdl-un-ide-para-fpga-y-asic"
        target="_blank">TerosHDL: un IDE para FPGA y ASIC</a></h3>
    <span class="session-speaker">Carlos Alberto Ruiz Naranjo, Ismael Pérez Rojo</span>
    <span class="session-time">18:30 - 19:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/talleres/teroshdl-un-ide-para-fpga-y-asic" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/teroshdl-un-ide-para-fpga-y-asic.pdf"
        target="_blank"><img src="/assets/icons/save-white.svg" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xuk" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
  </div>

  <div class=" session session-15 track-3" style="grid-column: track-3; grid-row: time-1830 / time-1930;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/salas/libreoffice" target="_blank">[Mesas
        redonda] "Comunidad LibreOffice en español"</a></h3>
    <span class="session-speaker"></span>
    <span class="session-time">18:30 - 19:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/salas/libreoffice" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-15 track-4" style="grid-column: track-4; grid-row: time-1830 / time-1845;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/ncwebmapper"
        target="_blank">NcWebMapper</a></h3>
    <span class="session-speaker">Fergus Reig Gracia</span>
    <span class="session-time">18:30 - 18:45</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/ncwebmapper" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="/2023/presentaciones/ncwebmapper.pdf" target="_blank"><img
          src="/assets/icons/save-white.svg" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-15 track-4" style="grid-column: track-4; grid-row: time-1845 / time-1900;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/charlas/opendronemap-proyectos-fotogrametria-aerea-drones"
        target="_blank">El uso de OpenDroneMap en proyectos de fotogrametría aérea con drones</a></h3>
    <span class="session-speaker">Joan Cano Aladid</span>
    <span class="session-time">18:45 - 19:00</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/opendronemap-proyectos-fotogrametria-aerea-drones"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1900;">19:00</h2>

  <div class="session session-16 track-1" style="grid-column: track-1; grid-row: time-1900 / time-1930;">
    <h3 class="session-title"><a href="https://propuestas.eslib.re/2023/charlas/state-of-art-amenazas-linux"
        target="_blank">State of the art: amenazas en Linux</a></h3>
    <span class="session-speaker">Paula de la Hoz</span>
    <span class="session-time">19:00 - 19:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/charlas/state-of-art-amenazas-linux" target="_blank"><img
          src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      <a style="padding-left: 0.65em !important" href="https://w.wiki/8Xuh" target="_blank"><img
          src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
    </span>
  </div>

  <div class="session session-16 track-4" style="grid-column: track-4; grid-row: time-1900 / time-1930;">
    <h3 class="session-title"><a
        href="https://propuestas.eslib.re/2023/salas/libregeo-geoinquietos-openstreetmap-qgis-otras"
        target="_blank">Conversaciones LibreGeo</a></h3>
    <span class="session-speaker"></span>
    <span class="session-time">19:00 - 19:25</span><br>
    <span class="session-speaker">
      <a href="https://propuestas.eslib.re/2023/salas/libregeo-geoinquietos-openstreetmap-qgis-otras"
        target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20"
          width="20"></a>
    </span>
  </div>

  <h2 class="time-slot" style="grid-row: time-1930;">19:30</h2>

  <div class="session session-17 track-all"
    style="grid-column: track-1-start / track-5-end; grid-row: time-1930 / time-2000;">
    <h3 class="session-title" style="text-align: center !important;">CLAUSURA DEL CONGRESO (AUDITORIO DE ETOPIA)</h3>
  </div>

  <h2 class="time-slot" style="grid-row: time-2000;">20:00</h2>

</div>