---
layout: 2023/default
ready: no
---

<div class="media">
  <img src="/2023/assets/imgs/banner.png" alt="Logo esLibre" class="jumbotron mt-3 embed-responsive">
</div>

<div class="main-container container" style="padding-bottom: 1em !important;">
  <div class="row main-news">
    <div class="col-md-7">
      <h2>Que no pare la cultura libre</h2>

      <p>Después de una vuelta a las ediciones presenciales por todo lo alto queremos que la comunidad siga creciendo, así que está en marcha la próxima edición de <strong>es<span class="red">Libre</span> 2023</strong>, este año con <a
          href="https://wiki.vitalinux.educa.aragon.es" target="_blank"><strong>Vitalinux</strong></a> y <a href="http://www.migasfree.org/" target="_blank"><strong>migasfree</strong></a> comunidades anfitrionas en un nuevo encuentro de conocimiento
        libre los días <strong>12 y 13 de mayo</strong> en <strong><a href="https://etopia.es/" target="_blank">Etopia</a></strong>, Centro de Arte y Tecnología de Zaragoza.
      </p>

      <p style="text-align: center;">
        <a href="https://wiki.vitalinux.educa.aragon.es" target="_blank"><img src="/2023/assets/logos/vitalinux.png" height="250" alt="Logo Vitalinux"></a>
        <a href="http://www.migasfree.org/" target="_blank"><img style="padding-left: 1.5em" src="/2023/assets/logos/migasfree.png" height="250" alt="Logo migasfree"></a>
      </p>

      <p style="padding-top: 5px; text-align: center; font-size: 1.25rem;">Ya tenemos confirmadas las propuestas para este año, así que échale un ojo en los enlaces de aquí abajo:
        <ul>
          <li><strong>Horario completo</strong>: <a href="/2023/horario" target="_blank">https://eslib.re/2023/horario/</a></li>
          <li><strong>Propuestas aceptadas</strong>: <a href="https://propuestas.eslib.re/2023/" target="_blank">https://propuestas.eslib.re/2023/</a></li>
          </ul>
      </p>

      <p style="padding-top: 5px; text-align: center; font-size: 1.5rem;"><strong><span class="red">[AFORO COMPLETO]</span></strong></p>

      <p style="padding-top: 5px; text-align: center; font-size: 1.5rem;"><strong>Puedes seguir las sesiones de forma online desde los enlaces que encontrarás en la página con el <a href="/2023/horario">horario</a>.</strong></p>

      <p style="padding-top: 5px; text-align: center; font-size: 1.5rem;"><strong>¡¡¡Nos vemos dentro de poco!!!</strong></p>

      <!--
      <h2 style="padding-top: 0.25em">Últimas entradas en el blog:</h2>
      <ul>
        {% assign my_variable = false %}
          {% for post in site.posts %}
            {% if forloop.index != 4 %}
              {% if post.category == 2023 %}
                <li style="padding-bottom: 0.5em">
                  <small>{{post.date | date: "%-d %m %Y" }}</small>
                  <a href="{{post.url}}">{{post.title}}</a>
                </li>
              {% endif %}
            {% else %}
              {% break %}
            {% endif %}
          {% endfor %}
      </ul>
       -->
    </div>

    <div class="col-md-5">
      <a href="/2023/assets/imgs/2022.jpg" target="_blank"><img src="/2023/assets/imgs/2022_small.jpg" width="400" alt="Mosaico 2022" class="embed-responsive"></a>
    </div>
  </div>

  <div class="row">
    <h2 style="padding-left: 0.5em">Coorganizadores:</h2>

    <div class="box">
      <a href="https://etopia.es/" target="_blank">
        <img src="/2023/assets/logos/etopia.png" alt="Etopia" class="images-small">
      </a>
      <a href="https://www.zaragoza.es/" target="_blank">
        <img src="/2023/assets/logos/ayuntamiento_zaragoza.png" alt="Ayuntamiento de Zaragoza" class="images-small">
      </a>
    </div>

    <h2 style="padding-left: 0.5em">Patrocinadores:</h2>

    <div class="box">
      <a href="https://www.librebit.com/" target="_blank">
        <img src="/2023/assets/logos/librebit.png" alt="Librebit" class="images-small">
      </a>
      <a href="https://www.aitire.cloud/" target="_blank">
        <img src="/2023/assets/logos/aitire.jpg" alt="Aitire" class="images-small">
      </a>
      <a href="https://slimbook.es/" target="_blank">
        <img src="/2023/assets/logos/slimbook.png" alt="Slimbook" class="images-small">
      </a><br>
      <a href="https://www.isardvdi.com/" target="_blank">
        <img src="/2023/assets/logos/isardvdi.png" alt="IsardVDI" class="images-small">
      </a>
      <a href="https://sysdig.es/" target="_blank">
        <img src="/2023/assets/logos/sysdig.jpg" alt="Sysdig" class="images-small">
      </a>
    </div>

    <h2 style="padding-left: 0.5em">Colaboradores:</h2>

    <div class="box">
      <a href="https://interferencias.tech/" target="_blank">
        <img src="/2023/assets/logos/interferencias.png" alt="Interferencias" class="images-collab">
      </a>
      <a href="https://librelabgrx.cc" target="_blank">
        <img src="/2023/assets/logos/librelabgrx.png" alt="LibreLabGRX" class="images-collab">
      </a>
      <a href="https://www.galpon.org/" target="_blank">
        <img src="/2023/assets/logos/galpon.png" alt="GALPon" class="images-collab">
      </a>
      <a href="https://ofilibre.gitlab.io/" target="_blank">
        <img src="/2023/assets/logos/ofilibre_urjc.png" alt="OfiLibre URJC" class="images-collab">
      </a>
      <a href="https://wikimedia.es/" target="_blank">
        <img src="/2023/assets/logos/wikimedia_españa.png" alt="Wikimedia España" class="images-collab">
      </a>
      <a href="https://www.tibot.es/" target="_blank">
        <img src="/2023/assets/logos/tibot.png" alt="TIBOT" class="images-collab">
      </a>
      <a href="https://osluz.unizar.es/" target="_blank">
        <img src="/2023/assets/logos/osluz.png" alt="OSLUZ" class="images-collab">
      </a>
    </div>
  </div>
</div>

<hr />
