---
layout: 2022/default-en
section: cuidados
permalink: /2022/caring
title: Care Responsibility Help
---

<h1 class="mt-3">
  Care Responsibility Help
</h1>

<p>
  Also as part of achieving a more accessible and inclusive event, we want to facilitate the participation of people who have care responsibilities, something that although it can be a barrier for both men and women to attend and submit proposals, the responsibility often falls on largely in women.
</p>

<p>
  At this time we can inform you that we will have, in the MARCO environment, a custody service (it is not exactly a nursery) so that those responsible for children can leave them in the custody of specialized personnel who will also take care of their entertainment.
</p>

<p>
  We continue trying to articulate some type of activity for little older children, such as children's programming/robotics workshops.
</p>

<div style="width: 60% !important; margin: auto;">
  <form id="create-talks" role="form" action="https://edp.eslib.re/form/care-service" method="post">
    <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
        <li>We simply need a minimum of personal information to meet your request</li>
        <li>If we need any more details we will contact you</li>
        <li>If you have any questions, you can write to us at <a href="mailto:hola@eslib.re">hola@eslib.re</a></li>
        </ul>
      </span></div>
    <div class="form-group"><strong><label class="label-forms-text" for="name">Name of responsible person:</label></strong>
      <div id="name-counter-tag" class="tag is-danger"><span id="name-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="name" type="text" maxlength="150" onkeyup="counterDisplay(this, 'name', true)" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="email">Email:</label></strong>
      <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="age">Child's age (in years):</label></strong>
      <input name="age" type="number" min="0" max="15" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="hours">Schedule needed:</label></strong>
      <div id="hours-counter-tag" class="tag is-danger"><span id="hours-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="hours" type="text" maxlength="150" onkeyup="counterDisplay(this, 'hours', true)" required="required" class="form-control">
    </div>
    <div class="call-outer">
      <div class="form-group call-inner"><strong><label class="label-forms-text" for="call">Llamada:</label></strong>
        <div id="call-counter-tag" class="tag is-success"><span id="call-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="call" type="call" maxlength="150" onkeyup="counterDisplay(this, 'call', true)" class="form-control">
      </div>
    </div>
    <div class="form-group"><strong><label style="text-align: center;" class="label-forms-text">When you leave the child, you will have to sign a release/exemption of responsibilities document, for this you will have to be the "legally responsible person" of the child.</label></strong>
    </div>
    <br>
    <div class="form-group text-center"><button name="submit" type="submit" class="btn btn-primary">Enviar</button></div>
  </form>
</div>

<script src="/2021/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/2021/assets/js/validation.js"></script>

<div class="media">
  <img style="display: block !important; margin-left: auto !important; margin-right: auto; !important; max-width: 60% !important; height: auto !important;" src="/2022/assets/imgs/banner_anuncio.png" alt="Logo esLibre" class="jumbotron mt-3 embed-responsive">
</div>
