---
layout: 2022/default-gl
section: cuidados
permalink: /2022/coidados
title: Axuda para a responsabilidade de coidados
---

<h1 class="mt-3">
  Axuda para a responsabilidade de coidados
</h1>

<p>
  Tamén como parte de conseguir un evento máis accesible e inclusivo, queremos facilitar a participación de persoas que teñan responsabilidades de coidados, algo que aínda que pode ser unha barreira para a asistencia e envío de propostas tanto para homes como para mulleres, a responsabilidade a miúdo recae en gran medida nas mulleres.
</p>

<p>
  Neste momento podemos informar que disporemos, no entorno do MARCO, dun servizo de custodia (non é exactamente unha gardería) para que os responsábeis de criaturas poidan deixalas baixo a custodia de persoal especializado que se ocupará tamén do seu entretemento.
</p>

<p>
  Seguimos tentando artellar algún tipo de actividade para xentiña máis moza, como poden ser obradoiros de programación/robótica infantil.
</p>

<div style="width: 60% !important; margin: auto;">
  <form id="create-talks" role="form" action="https://edp.eslib.re/form/care-service" method="post">
    <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
        <li>Simplemente necesitamos un mínimo de información persoal para atender a túa petición</li>
        <li>Se necesitamos algún detalle máis porémonos en contacto contigo</li>
        <li>Se tes calquera dúbida podes escribirnos a <a href="mailto:hola@eslib.re">hola@eslib.re</a></li>
        </ul>
      </span></div>
    <div class="form-group"><strong><label class="label-forms-text" for="name">Nome da persoa responsábel:</label></strong>
      <div id="name-counter-tag" class="tag is-danger"><span id="name-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="name" type="text" maxlength="150" onkeyup="counterDisplay(this, 'name', true)" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="email">Correo-e:</label></strong>
      <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="age">Idade da criatura (en anos):</label></strong>
      <input name="age" type="number" min="0" max="15" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="hours">Horario necesitado:</label></strong>
      <div id="hours-counter-tag" class="tag is-danger"><span id="hours-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="hours" type="text" maxlength="150" onkeyup="counterDisplay(this, 'hours', true)" required="required" class="form-control">
    </div>
    <div class="call-outer">
      <div class="form-group call-inner"><strong><label class="label-forms-text" for="call">Llamada:</label></strong>
        <div id="call-counter-tag" class="tag is-success"><span id="call-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="call" type="call" maxlength="150" onkeyup="counterDisplay(this, 'call', true)" class="form-control">
      </div>
    </div>
    <div class="form-group"><strong><label style="text-align: center;" class="label-forms-text">Cando deixes a criatura, terás que asinar un documento de descargo/exención de responsabilidades, para elo terás que ser a "persoa legalmente responsábel" da criatura.</label></strong>
    </div>
    <br>
    <div class="form-group text-center"><button name="submit" type="submit" class="btn btn-primary">Enviar</button></div>
  </form>
</div>

<script src="/2021/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/2021/assets/js/validation.js"></script>

<div class="media">
  <img style="display: block !important; margin-left: auto !important; margin-right: auto; !important; max-width: 60% !important; height: auto !important;" src="/2022/assets/imgs/banner_anuncio.png" alt="Logo esLibre" class="jumbotron mt-3 embed-responsive">
</div>
