---
---
<html>

<head>
  <meta http-equiv="Refresh" content="0; url=/{{site.year}}/">
</head>

<body>
  <p>Accediendo a la web de esLibre...</p>
  <a rel="me" href="https://floss.social/@eslibre"></a>
</body>

</html>
