---
layout: 2022/default
section: propuestas
permalink: /2022/enviar-propuestas
title: Envío de charlas y talleres - esLibre 2022
description: ¡Mándanos propuestas de charlas y talleres a esLibre 2022!
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2022 - Propuestas de charlas y talleres</h1>

<p align="center">
  <cite style="color: black;">Por favor, antes de mandar una propuesta, asegúrate de haber leído la información en la página de <a href="/2022/info-propuestas/">"Envío de propuestas"</a>.</cite>
</p>

<div style="width: 60% !important; margin: auto;">
  <form id="create-talks" role="form" action="https://edp.eslib.re/form/proposals-es" method="post">
    <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
        <li>Los campos marcados como (*) son obligatorios</li>
        <li>Por favor, no uses en tus propuestas recursos de Google, Microsoft o, en general, cualquier empresa poco respetuosa con la privacidad de las personas</li>
        <li>Recuerda que para cualquier duda puedes escribirnos a <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a></li>
        </ul>
      </span></div>
    <div class="form-group"> <strong><label class="label-forms-text" for="title">Título (*):</label></strong>
      <div id="title-counter-tag" class="tag is-danger"><span id="title-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="title" type="text" maxlength="150" onkeyup="counterDisplay(this, 'title', true)"
        required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="abstract">Resumen (*):</label></strong>
      <div id="abstract-counter-tag" class="tag is-danger"><span id="abstract-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000&nbsp;</div><textarea name="abstract" cols="40" rows="5" maxlength="1000"
        style="resize:none; overflow-y: scroll;" aria-describedby="abstract-help-block" onkeyup="counterDisplay(this, 'abstract', true)" required="required" class="form-control"></textarea><span id="abstract-help-block"
        class="form-text text-muted list-forms-text">Pequeña introducción y motivación de la propuesta.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text">Formato (*):</label></strong>
      <div>
        <div class="custom-control label-check"><input name="format" type="radio" required="required" value="S"><label for="format">&nbsp;Charla corta (entre 10 y 15 minutos)</label></div>
        <div class="custom-control label-check"><input name="format" type="radio" required="required" value="L"><label for="format">&nbsp;Charla larga (alrededor de 30 minutos)</label> </div>
        <div class="custom-control label-check"><input name="format" type="radio" required="required" value="W"><label for="format">&nbsp;Taller (indica duración en la descripción: máximo 2 horas)</label> </div>
      </div>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="description">Descripción (*):</label></strong>
      <div id="description-counter-tag" class="tag is-danger"><span id="description-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000&nbsp;</div><textarea name="description" cols="40" rows="5" maxlength="5000"
        style="resize:none; overflow-y: scroll;" aria-describedby="description-help-block" onkeyup="counterDisplay(this, 'description', true)" required="required" class="form-control"></textarea><span id="description-help-block"
        class="form-text text-muted list-forms-text">Descripción algo más extensa sobre la temática y el contenido de la propuesta.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="project">Web del proyecto:</label></strong>
      <div id="project-counter-tag" class="tag is-success"><span id="project-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="project" type="url" maxlength="150" aria-describedby="project-help-block"
        onkeyup="counterDisplay(this, 'project', false)" class="form-control"><span id="project-help-block" class="form-text text-muted list-forms-text">Página con información sobre el proyecto (si la hay).</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="target">Público objetivo:</label></strong>
      <div id="target-counter-tag" class="tag is-success"><span id="target-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000&nbsp;</div><textarea name="target" cols="40" rows="5" maxlength="1000" style="resize:none; overflow-y: scroll;"
        aria-describedby="target-help-block" onkeyup="counterDisplay(this, 'target', false)" class="form-control"></textarea><span id="target-help-block" class="form-text text-muted list-forms-text">¿A
        quién crees que podría resultarle interesante este tema (utilidad, campos relacionados, posibilidades...)?</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="name">Nombre (*):</label></strong>
      <div id="name-counter-tag" class="tag is-danger"><span id="name-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="name" type="text" maxlength="150" onkeyup="counterDisplay(this, 'name', true)"
        required="required" class="form-control"><span id="project-help-block" class="form-text text-muted list-forms-text">Puedes usar un seudónimo si lo prefieres.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="email">Email (*):</label></strong>
      <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)"
        required="required" class="form-control"><span id="project-help-block" class="form-text text-muted list-forms-text">Lo necesitamos para comunicarnos contigo, pero no será publicado en ningún momento.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="bio">Bio (*):</label></strong>
      <div id="bio-counter-tag" class="tag is-danger"><span id="bio-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;2000&nbsp;</div><textarea name="bio" cols="40" rows="5" maxlength="2000" style="resize:none; overflow-y: scroll;"
        aria-describedby="bio-help-block" onkeyup="counterDisplay(this, 'bio', true)" required="required" class="form-control"></textarea><span id="bio-help-block" class="form-text text-muted list-forms-text">Necesitaríamos algo de información
        general sobre la persona o personas que van a llevar a cabo la propuesta: intereses personales, experiencia en la materia, si has realizado actividades similares...</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text">Solicitud de fondos para participar:</label></strong>
      <div>
        <div class="custom-control label-check"><input name="grants" type="radio" required="required" value="N" checked="checked"><label for="grants">&nbsp;No solicito ninguna ayuda</label></div>
        <div class="custom-control label-check"><input name="grants" type="radio" required="required" value="S"><label for="grants">&nbsp;Ayuda específica grupos de personas menos representados (totalidad de gastos)</label></div>
        <div class="custom-control label-check"><input name="grants" type="radio" required="required" value="G"><label for="grants">&nbsp;Ayuda general para asistir al congreso (proporcional según a criterios de la organización)</label> </div>
      </div>
      <span id="grants-help-block" class="form-text text-muted list-forms-text">Solicitar fondos no implica la concesión automática de lo mismos, pero la organización se pondrá en contacto contigo para estudiar tu caso de forma personalizada. Pues
        encontrar más información al respecto en <a href="/2022/bolsa-viaje/" target="_blank">esta página</a>.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text">Solicitud de participación en remoto:</label></strong>
      <div id="remote-counter-tag" class="tag is-success"><span id="remote-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000&nbsp;</div>
      <div>
        <div class="custom-control custom-checkbox"><input name="remote_req" type="checkbox"><label class="label-forms-text" for="remote_req">&nbsp;Solicito participar en remoto en el congreso por las siguientes razones:</label>
        </div>
      </div>
      <textarea name="remote" cols="40" rows="5" maxlength="1000" style="resize:none; overflow-y: scroll;" aria-describedby="remote-help-block" onkeyup="counterDisplay(this, 'remote', false)" class="form-control"></textarea><span
        id="remote-help-block" class="form-text text-muted list-forms-text">La solicitud de participación de forma remota no implica que esta se acepte de forma automática. El congreso es presencial de forma obligatoria para las personas que
        participen con alguna propuesta, pero de haber una razón considerable podríamos aceptar charlas en remoto de forma excepcional (ejemplo: residir actualmente en otro país).</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="web">Web personal:</label></strong>
      <div id="web-counter-tag" class="tag is-success"><span id="web-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="web" type="url" maxlength="150" aria-describedby="web-help-block"
        onkeyup="counterDisplay(this, 'web', false)" class="form-control"><span id="web-help-block" class="form-text text-muted list-forms-text">Por si tienes una web personal que quieras compartir.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="mastodon">Mastodon (u otras redes sociales libres):</label></strong>
      <div id="mastodon-counter-tag" class="tag is-success"><span id="mastodon-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="mastodon" type="url" maxlength="150" aria-describedby="mastodon-help-block"
        onkeyup="counterDisplay(this, 'mastodon', false)" class="form-control"><span id="mastodon-help-block" class="form-text text-muted list-forms-text">Cualquier perfil en una red social libre es válido, pero recuerda introducir la URL
        completa para conocer también la instancia en la que te encuentras para que podamos encontrarte.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="twitter">Twitter:</label></strong>
      <div id="twitter-counter-tag" class="tag is-success"><span id="twitter-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;16&nbsp;</div><input name="twitter" type="text" maxlength="16" pattern="^@?[A-Za-z0-9_]{1,15}$"
        onkeyup="counterDisplay(this, 'twitter', false)" class="form-control"><span id="mastodon-help-block" class="form-text text-muted list-forms-text">Indica solo tu nombre en Twitter.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="gitlab">GitLab (o cualquier sitio de código colaborativo) o portfolio:</label></strong>
      <div id="gitlab-counter-tag" class="tag is-success"><span id="gitlab-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="gitlab" type="text" maxlength="255" aria-describedby="gitlab-help-block"
        onkeyup="counterDisplay(this, 'gitlab', false)" class="form-control"><span id="gitlab-help-block" class="form-text text-muted list-forms-text">Por si quieres compartir tus proyectos.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="comments">Comentarios:</label></strong>
      <div id="comments-counter-tag" class="tag is-success"><span id="comments-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000&nbsp;</div><textarea name="comments" cols="40" rows="5" maxlength="1000"
        style="resize:none; overflow-y: scroll;" aria-describedby="comments-help-block" onkeyup="counterDisplay(this, 'comments', false)" class="form-control"></textarea><span id="comments-help-block"
        class="form-text text-muted list-forms-text">Cualquier otro comentario relevante para la organización.</span>
    </div>
    <div class="call-outer">
      <div class="form-group call-inner"><strong><label class="label-forms-text" for="call">Llamada:</label></strong>
        <div id="call-counter-tag" class="tag is-success"><span id="call-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="call" type="call" maxlength="150" onkeyup="counterDisplay(this, 'call', true)"
          class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-control custom-checkbox"><input name="accept_coc" type="checkbox" required="required"><label class="label-forms-text" for="accept_coc">&nbsp;Acepto seguir el <a href="/conducta" target="_blank">código de conducta</a>
            durante mi participación en el congreso (*)</label></div>
      </div>
    </div>
    <div class="form-group text-center"><button name="submit" type="submit" class="btn btn-primary">Enviar</button></div>
  </form>
</div>

<script src="/2021/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/2021/assets/js/validation.js"></script>
