---
layout: 2022/default
section: propuestas
permalink: /2022/recibida-es
title: Envío de propuestas esLibre 2022 - Propuesta recibida
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2022: ¡¡¡Propuesta recibida!!!</h1>

<p style="text-align: center;">
  <strong>¡Muchas gracias por tu propuesta para esta nueva edición de <strong>es<span class="red">Libre</span></strong> 2022 que estamos organizando otro año más!</strong><br><br>

  Deberías haber recibido un email de confirmación desde <strong>tux@eslib.re</strong> (🐧).<br><br>

  Si has llegado a esta página, pero no te ha llegado el correo de confirmación, escríbemos a <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a><br>(comprueba también si por lo que sea hubiera ido a la carpeta de spam 😅).<br><br>

  Recuerda que este año <strong>el congreso se celebrará los días 24 y 25 de junio</strong> y que <strong>el programa final se publicará el 24 de abril</strong> para que así tengas tiempo de ir organizándote para tu participación en el
  congreso.<br><br>

  En cualquier caso, no pierdas de vista <a href="https://gitlab.com/eslibre/propuestas/-/merge_requests">tu propuesta en nuestro repositorio</a> por si hubiera algún comentario o pregunta<br>(el enlace que te debería haber llegado por correo te
  llevará directamente a ella).<br><br>
</p>

<h3 style="padding-top: 20px; text-align: center;">¡¡¡HASTA PRONTO!!!<br>👏👏👏</h3>