---
layout: 2023/default
section: propuestas
permalink: /2023/failed
title: Submission of proposals esLibre 2023 - Error
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2023: An error has occurred</h1>

<p style="text-align: center; padding-bottom: 15em">
  <br><br>There seems to have been an error sending the proposal.<br><br>

  Please try again in a few minutes, and if you still have any problems please write to us at <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a>.<br><br>

  Sorry for the inconvenience.
</p>
