---
layout: 2020/default
section: programa
title: Programa de esLibre 2020
---

<h1 class="mt-4 mb-4">Programa de <strong>es<span class="red">Libre</span> 2020</strong></h1>

<h2 class="mt-4 mb-4">Horario</h2>

<p>Todo el programa será accesible desde nuestra instancia de <strong>BigBlueButton</strong> desplegada en los servidores de la <strong>Universidad Rey Juan Carlos</strong>. No es necesario registrarse para acceder a la retransmisión de las
  actividades, pero te recomendamos que lo hagas desde <a href="https://bbb.eslibre.urjc.es" target="_blank">h̶t̶t̶p̶s̶:̶/̶/̶b̶b̶b̶.̶e̶s̶l̶i̶b̶r̶e̶.̶u̶r̶j̶c̶.̶e̶s̶&nbsp;</a> <span class="red">(actualmente desactivada)</span> si quieres poder interactuar.</p>
<p>En cualquier caso, si tienes cualquier problema, puedes preguntar en el canal de ayuda de RocketChat: <a href="https://rocket.eslibre.urjc.es/channel/ayuda" target="_blank">h̶t̶t̶p̶s̶:̶/̶/̶r̶o̶c̶k̶e̶t̶.̶e̶s̶l̶i̶b̶r̶e̶.̶u̶r̶j̶c̶.̶e̶s̶/̶c̶h̶a̶n̶n̶e̶l̶/̶a̶y̶u̶d̶a̶&nbsp;</a> <span class="red">(actualmente desactivada)</span>.</p>
<p>También puedes encontrar más información para asistentes en <a href="/2020/asistentes" target="_blank">esta página</a>.</p>

<strong>Iconos:</strong>
<ul>
  <li><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20">: enlace a la página de información sobre la actividad o sala correspondiente</li>
  <li><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20">: descargar las diapositivas de la presentación</li>
  <li><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20">: enlace al vídeo de la presentación en <a href="https://commons.wikimedia.org/wiki/Category:EsLibre_2020" target="_blank">Wikimedia Commons</a>
    (también disponibles en <a href="https://archive.org/details/esLibre2020" target="_blank">Internet Archive</a>)</li>
</ul>

<table class="tg t_schedule">
  <tr>
    <th class="hour empty"></th>
    <th class="header" colspan="6">VIERNES 18 DE SEPTIEMBRE</th>
  </tr>

  <tr>
    <td class="hour empty"">10:00-10:15</td>
    <td class=" start" colspan="6">APERTURA Y PRESENTACIÓN:<br>
      <ul>
        <li>ALBERTO SÁNCHEZ CAMPOS (VICERRECTOR DE DIGITALIZACIÓN, URJC)</li>
        <li>MANUEL GERTRÚDIX BARRIO (VICERRECTOR DE CALIDAD, ETICA Y BUEN GOBIERNO, URJC)</li>
        <li>ABRAHAM DUARTE MUÑOZ (DIRECTOR DE LA ETSII, URJC)</li>
        <li>FRANCISCO JAVIER SIMÓ REIGADAS (DIRECTOR DE LA ETSIT, URJC)</li>
        <li>FRANCISCO GORTÁZAR BELLAS (OFILIBRE, URJC, CO-ORGANIZADOR ESLIBRE 2020)</li>
        <li>JESÚS M. GONZÁLEZ BARAHONA (OFILIBRE, URJC, CO-ORGANIZADOR ESLIBRE 2020)</li>
      </ul>
      {% if site.data.MMXX_schedule.tracks.plenary.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.plenary.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.plenary.friday-0 != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.friday-0 }}" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
  </tr>
  <tr>
    <td class="hour empty"">10:15-10:50</td>
    <td class=" plenary" colspan="6">SESIÓN PLENARIA:<br> ROBERTO DI COSMO<br><br> "SOFTWARE HERITAGE: UNA INFRAESTRUCTURA COMÚN PARA PRESERVAR NUESTRO SOFTWARE COMUNITARIO"<br><br>
      {% if site.data.MMXX_schedule.tracks.friday-plenary-1 != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.friday-plenary-1 }}" target="_blank"><img src="{{ '/2019/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.plenary.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.plenary.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.plenary.friday-1 != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.friday-1 }}" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
  </tr>

  <tr>
    <td class="time empty"></td>
    <td class="size header_top"><a class="nav-link c_color f_title">esLibre: Pista I<br><br><br><br></a>
      {% if site.data.MMXX_schedule.tracks.track-1.info != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.track-1.info }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.track-1.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.track-1.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.track-1.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.track-1.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">esLibre: Pista II<br><br><br><br></a>
      {% if site.data.MMXX_schedule.tracks.track-2.info != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.track-2.info }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.track-2.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.track-2.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.track-2.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.track-2.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">Cultura Libre<br><br><br><br></a>
      {% if site.data.MMXX_schedule.tracks.cultura-libre.info != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.cultura-libre.info }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.cultura-libre.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.cultura-libre.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.cultura-libre.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.cultura-libre.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">Katas de programación para entrenamiento con Haskell<br><br></a>
      {% if site.data.MMXX_schedule.tracks.haskell.info != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.haskell.info }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.haskell.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.haskell.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.haskell.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.haskell.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">Derechos Digitales, Privacidad en Internet y Seguridad Informática</a>
      {% if site.data.MMXX_schedule.tracks.interferencias.info != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.interferencias.info }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.interferencias.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.interferencias.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.interferencias.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.interferencias.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">GNOME: La experiencia de escritorio ética y elegante<br></a>
      {% if site.data.MMXX_schedule.tracks.gnome.info != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.gnome.info }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.gnome.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.gnome.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.gnome.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.gnome.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">11:00-11:25</td>
    {% for paper in site.data.MMXX_schedule.friday.first %}
    <td class="track_top {{paper.class}}_color" {% unless paper.double == true %} {% if paper.multi %} rowspan=3 style="vertical-align: bottom" {% endif %}>{% unless paper.multi and paper.multi == 6 %} {{paper.author}} {% endunless %} {% endunless %}
    </td>
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.first %}
    {% unless paper.multi %}
    {% if paper.double %}
    <td class="track_double {{paper.class}}_color">{{paper.hour}}</td>
    {% else %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endif %}
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.first %}
    {% unless paper.multi %}
    {% if paper.double %}
    <td class="track_top {{paper.class}}_color" style="border-top: none;">{{paper.author}}</td>
    {% else %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endif %}
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">11:25-11:50</td>
    {% for paper in site.data.MMXX_schedule.friday.second %}
    {% if paper.multi %}
    {% if paper.multi != 6 %}
    <td class="track_mid {{paper.class}}_color" rowspan=3 style="vertical-align: middle"> {{paper.title}}
      {% else %}
    <td class="track_top {{paper.class}}_color" rowspan=3 style="vertical-align: middle; border-top: none"> {{paper.author}}
      {% endif %}
    </td>
    {% else %}
    {% if paper.double %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% else %}
    <td class="track_top {{paper.class}}_color">{{paper.author}}</td>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.second %}
    {% unless paper.multi %}
    {% if paper.double %}
    <td class="track_bot {{paper.class}}_color" style="border-bottom: none;">
      {% if paper.url != "#" %}
      <a href=" {{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% else %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endif %}
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.second %}
    {% unless paper.multi %}
    {% if paper.double %}
    <td class="track_bot {{paper.class}}_color"></td>
    {% else %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endif %}
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">11:50-12:15</td>
    {% for paper in site.data.MMXX_schedule.friday.third %}
    {% if paper.double %}
    <td class="track_double {{paper.class}}_color"></td>
    {% else %}
    {% if paper.multi %}
    {% if paper.multi != 6 %}
    <td class="track_bot {{paper.class}}_color" style="vertical-align: top" rowspan=3>
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% else %}
    <td class="track_mid {{paper.class}}_color" rowspan=3>{{paper.title}}</td>
    {% endif %}
    {% else %}
    <td class="track_top {{paper.class}}_color">{{paper.author}}</td>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.third %}
    {% if paper.double %}
    <td class="track_double {{paper.class}}_color">{{paper.hour}}</td>
    {% else %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.third %}
    {% if paper.double %}
    <td class="track_top {{paper.class}}_color" style="border-top: none">{{paper.author}}</td>
    {% else %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty">12:15-12:30</td>
    <td class="breaks" colspan="3">DESCANSO</td>
    <td class="track_bot {{site.data.MMXX_schedule.friday.third[3].class}}_color" style="vertical-align: top; border-bottom: none"></td>
    <td class="breaks">DESCANSO</td>
    <td class="track_bot {{site.data.MMXX_schedule.friday.third[5].class}}_color" style="border-bottom: none"></td>
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">12:30-12:55</td>
    {% for paper in site.data.MMXX_schedule.friday.fourth %}
    {% if paper.solo %}
    <td class="track_mid {{paper.class}}_color border_only">{{paper.hour}}<br>{{paper.intro}}</td>
    {% elsif paper.double %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% else %}
    {% unless paper.multi == 6 %}
    <td class="track_top {{paper.class}}_color" {% if paper.multi == 3 %} rowspan="{{paper.multi}}" style="vertical-align: bottom" {% endif %}> {{paper.author}}</td>
    {% endunless %}
    {% if paper.multi == 6 %}
    <td class="track_bot {{paper.class}}_color" rowspan=3 style="border-bottom: none">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.fourth %}
    {% if paper.solo %}
    <td class="track_mid {{paper.class}}_color solo">{{site.data.MMXX_schedule.friday.fifth[4].hour}}</td>
    {% elsif paper.double %}
    <td class="track_bot {{paper.class}}_color" style="border-bottom: none;">
      {% if paper.url != "#" %}
      <a href=" {{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% else %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.fourth %}
    {% if paper.solo %}
    <td class="track_top {{paper.class}}_color no_border_only">{{paper.author}}</td>
    {% elsif paper.double %}
    <td class="track_bot {{paper.class}}_color"></td>
    {% else %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">12:55-13:20</td>
    {% for paper in site.data.MMXX_schedule.friday.fifth %}
    {% if paper.solo %}
    <td class="track_mid {{paper.class}}_color no_border_only">{{paper.title}}</td>
    {% elsif paper.double %}
    <td class="track_double {{paper.class}}_color"></td>
    {% else %}
    {% if paper.multi %}
    <td class="track_mid {{paper.class}}_color" rowspan=3 style="vertical-align: middle">{% unless paper.multi == 6 %} {{paper.title}} {% endunless %}</td>
    {% else %}
    <td class="track_top {{paper.class}}_color">{{paper.author}}</td>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.fifth %}
    {% if paper.solo %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% elsif paper.double %}
    <td class="track_double {{paper.class}}_color">{{paper.hour}}</td>
    {% else %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.fifth %}
    {% if paper.solo %}
    <td class="track_mid {{paper.class}}_color solo">{{site.data.MMXX_schedule.friday.sixth[4].hour}}</td>
    {% elsif paper.double %}
    <td class="track_top {{paper.class}}_color" style="border-top: none;">{{paper.author}}</td>
    {% else %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">13:20-13:45</td>
    {% for paper in site.data.MMXX_schedule.friday.sixth %}
    {% if paper.double %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% else %}
    {% if paper.multi %}
    <td class="track_bot {{paper.class}}_color" style="vertical-align: top" rowspan=3">
      {% unless paper.multi == 6 %}
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
      {% endunless %}
    </td>
    {% else %}
    <td class="track_top {{paper.class}}_color {% if paper.solo %} no_border_only {% endif %}">{{paper.author}}</td>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.sixth %}
    {% if paper.double %}
    <td class="track_bot {{paper.class}}_color" style="border-bottom: none;">
  {% if paper.url != "#" %}
  <a href=" {{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% else %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.sixth %}
    {% if paper.double %}
    <td class="track_bot {{paper.class}}_color">
      {% else %}
      {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty">13:45-15:00</td>
    <td class="breaks" colspan="6">COMIDA</td>
  </tr>

  <tr>
    <td class="hour empty"">15:00-15:45</td>
    <td class=" plenary" colspan="6">SESIÓN PLENARIA:<br>
      GERMÁN MARTÍNEZ (INTERFERENCIAS/LIBRELABGRX)<br>
      ANTONIO GUTIÉRREZ (URJC)<br>
      ANDREA VILLAVERDE (URJC)<br>
      JESÚS M. GONZÁLEZ BARAHONA (URJC)<br><br>
      ASÍ SE HIZO ESLIBRE 2020<br><br>
      {% if site.data.MMXX_schedule.tracks.friday-plenary-2 != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.friday-plenary-2 }}" target="_blank"><img src="{{ '/2019/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.plenary.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.plenary.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.plenary.friday-0 != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.friday-2 }}" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">16:00-16:25</td>
    {% for paper in site.data.MMXX_schedule.friday.seventh %}
    <td class="track_top {{paper.class}}_color" {% if paper.multi %} rowspan=3 style="vertical-align: bottom" {% endif %}>{% unless paper.multi and paper.multi == 6 %} {% if paper.solo %}<div class="solo_hour">{{paper.hour}}</div><br>{% endif %}
      {{paper.author}} {% endunless %}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.seventh %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.seventh %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">16:25-16:50</td>
    {% for paper in site.data.MMXX_schedule.friday.eighth %}
    {% if paper.solo %}
    <td class="track_top {{paper.class}}_color">
      <div class="solo_hour">{{paper.hour}}</div><br>{{paper.author}}
    </td>
    {% elsif paper.multi %}
    {% if paper.multi != 6 %}
    <td class="track_mid {{paper.class}}_color" rowspan=3 style="vertical-align: middle"> {{paper.title}}
      {% else %}
    <td class="track_top {{paper.class}}_color" rowspan=3 style="vertical-align: middle; border-top: none"> {{paper.author}}
      {% endif %}
    </td>
    {% else %}
    <td class="track_top {{paper.class}}_color">{{paper.author}}</td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.eighth %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}
      {% if paper.solo %}<br><br>
      <div class="solo_links">
        {% if paper.url != "#" %}
        <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
        {% endif %}
        {% if paper.file != "#" %}
        <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
        {% endif %}
        {% if paper.link != "#" %}
        <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
        {% endif %}
        {% if paper.video != "#" %}
        <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        {% endif %}
      </div>
      {% endif %}
    </td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.eighth %}
    {% if paper.solo %}
    <td class="track_mid {{paper.class}}_color solo top_only">{{site.data.MMXX_schedule.friday.nineth[4].hour}}</td>
    {% else %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">16:50-17:15</td>
    {% for paper in site.data.MMXX_schedule.friday.nineth %}
    {% if paper.solo %}
    <td class="track_top {{paper.class}}_color no_border_only">{{paper.author}}</td>
    {% elsif paper.multi %}
    {% if paper.multi != 6 %}
    <td class="track_bot {{paper.class}}_color" style="vertical-align: top; {% if paper.class == 'gnome' %} border-bottom: none {% endif %}" rowspan=3>
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% else %}
    <td class="track_mid {{paper.class}}_color" rowspan=3>{{paper.title}}</td>
    {% endif %}
    {% else %}
    <td class="track_top {{paper.class}}_color">{{paper.author}}</td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.nineth %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.nineth %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty">17:15-17:30</td>
    <td class="breaks">DESCANSO</td>
    <td class="track_bot {{site.data.MMXX_schedule.friday.nineth[1].class}}_color" style="vertical-align: top; border-bottom: none" rowspan=4>
      {% if site.data.MMXX_schedule.friday.nineth[1].url != "#" %}
      <a href="https://propuestas.eslib.re/2020/talleres/configura-nodo-the-things-network" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.friday.nineth[1].file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.friday.nineth[1].link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.friday.nineth[1].video != "#" %}
      <a href="https://w.wiki/oiT" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    <td class="breaks" colspan="3">DESCANSO</td>
    <td class="track_bot {{site.data.MMXX_schedule.friday.nineth[5].class}}_color" style="border-top: none; border-bottom: none;"></td>
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">17:30-17:55</td>
    {% for paper in site.data.MMXX_schedule.friday.tenth %}
    {% unless paper.multi == 6 %}
    <td class="track_top {{paper.class}}_color" {% if paper.multi == 3 %} rowspan="{{paper.multi}}" style="vertical-align: bottom" {% endif %} {% if paper.class == 'gnome' %} style="border-top: none" {% endif %}>{% if paper.solo %}<div
        class="solo_hour">{{paper.hour}}</div><br>{% endif %}{{paper.author}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.tenth %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.tenth %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">17:55-18:20</td>
    {% for paper in site.data.MMXX_schedule.friday.eleventh %}
    {% if paper.double %}
    <td class="track_double {{paper.class}}_color"></td>
    {% else %}
    {% if paper.multi %}
    <td class="track_mid {{paper.class}}_color" rowspan=3 style="vertical-align: middle">{% unless paper.multi == 6 %} {{paper.title}} {% endunless %}</td>
    {% else %}
    <td class="track_top {{paper.class}}_color">{% if paper.solo %}<div class="solo_hour">{{paper.hour}}</div><br>{% endif %}{{paper.author}}</td>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.eleventh %}
    {% if paper.double %}
    <td class="track_double {{paper.class}}_color">{{paper.hour}}</td>
    {% else %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.eleventh %}
    {% if paper.double %}
    <td class="track_top {{paper.class}}_color" style="border-top: none;">{{paper.author}}</td>
    {% else %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">18:20-18:45</td>
    {% for paper in site.data.MMXX_schedule.friday.twelfth %}
    {% if paper.double %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% else %}
    {% if paper.multi %}
    <td class="track_bot {{paper.class}}_color" style="vertical-align: top" rowspan=3">
      {% unless paper.multi == 6 %}
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
      {% endunless %}
    </td>
    {% else %}
    <td class="track_top {{paper.class}}_color">{% if paper.solo %}<div class="solo_hour">{{paper.hour}}</div><br>{% endif %}{{paper.author}}</td>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.twelfth %}
    {% if paper.double %}
    <td class="track_bot {{paper.class}}_color" style="border-bottom: none;">
  {% if paper.url != "#" %}
  <a href=" {{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% else %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.friday.twelfth %}
    {% if paper.double %}
    <td class="track_bot {{paper.class}}_color"></td>
    {% else %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty">19:00-19:45</td>
    <td class="plenary" colspan="6">EVENTO SOCIAL ONLINE EN MOZILLA HUBS<br><br>
      {% if site.data.MMXX_schedule.tracks.social-event != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.social-event }}" target="_blank"><img src="{{ '/2019/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}</td>
  </tr>
</table>

<br><br>

<table class="tg t_schedule">
  <tr>
    <th class="hour empty"></th>
    <th class="header" colspan="5">SÁBADO 19 DE SEPTIEMBRE</th>
  </tr>

  <tr>
    <td class="hour empty"">10:00-10:50</td>
    <td class=" plenary" colspan="5">SESIÓN PLENARIA:<br> DANIEL GERMAN<br><br>LINUX, THE GOTHIC CATHEDRAL OF OUR TIMES<br><br>
      {% if site.data.MMXX_schedule.tracks.saturday-plenary-1 != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.saturday-plenary-1 }}" target="_blank"><img src="{{ '/2019/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.plenary.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.plenary.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.plenary.saturday-1 != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.saturday-1 }}" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
  </tr>


  <tr>
    <td class="time empty"></td>
    <td class="size header_top"><a class="nav-link c_color f_title">esLibre: Pista I<br><br><br></a>
      {% if site.data.MMXX_schedule.tracks.track-1.info != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.track-1.info }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.track-1.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.track-1.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.track-1.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.track-1.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">esLibre: Pista II<br><br><br></a>
      {% if site.data.MMXX_schedule.tracks.track-2.info != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.track-2.info }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.track-2.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.track-2.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.track-2.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.track-2.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">esLibre: Pista III<br><br><br></a>
      {% if site.data.MMXX_schedule.tracks.track-3.info != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.track-3.info }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.track-3.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.track-3.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.track-3.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.track-3.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">Katas de programación para entrenamiento con Haskell<br><br></a>
      {% if site.data.MMXX_schedule.tracks.haskell.info != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.haskell.info }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.haskell.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.haskell.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.haskell.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.haskell.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
    <td class="size header_top"><a class="nav-link c_color f_title">Tecnología para el fomento de la lengua andaluza<br><br></a>
      {% if site.data.MMXX_schedule.tracks.andalugeeks.info != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.andalugeeks.info }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.andalugeeks.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.andalugeeks.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.andalugeeks.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.andalugeeks.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-brands.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">11:00-11:25</td>
    {% for paper in site.data.MMXX_schedule.saturday.first %}
    <td class="track_top {{paper.class}}_color" {% if paper.multi %} rowspan=3 {% if paper.class == "andalugeeks" %} style="vertical-align: middle" {% else %} style="vertical-align: bottom" {% endif %} {% endif %}>
      {% unless paper.multi and paper.multi == 6 %} {{paper.author}} {% endunless %}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.first %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.first %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">11:25-11:50</td>
    {% for paper in site.data.MMXX_schedule.saturday.second %}
    {% if paper.multi %}
    {% if paper.multi != 6 %}
    <td class="track_mid {{paper.class}}_color" rowspan=3 style="vertical-align: middle"> {{paper.title}}
      {% else %}
    <td class="track_top {{paper.class}}_color" rowspan=3 style="vertical-align: middle; border-top: none"> {{paper.author}}
      {% endif %}
    </td>
    {% else %}
    {% if paper.double %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% else %}
    <td class="track_top {{paper.class}}_color">{{paper.author}}</td>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.second %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.second %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">11:50-12:15</td>
    {% for paper in site.data.MMXX_schedule.saturday.third %}
    {% if paper.multi %}
    {% if paper.multi != 6 %}
    <td class="track_bot {{paper.class}}_color" style="vertical-align: top" rowspan=3>
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% else %}
    <td class="track_mid {{paper.class}}_color" rowspan=3>{{paper.title}}</td>
    {% endif %}
    {% else %}
    <td class="track_top {{paper.class}}_color">{{paper.author}}</td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.third %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.third %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty">12:15-12:30</td>
    <td class="breaks" colspan="2">DESCANSO</td>
    <td class="track_bot {{site.data.MMXX_schedule.saturday.third[2].class}}_color" style="vertical-align: top; border-bottom: none"></td>
    <td class="track_bot {{site.data.MMXX_schedule.saturday.third[3].class}}_color" style="vertical-align: top; border-bottom: none"></td>
    <td class="breaks">DESCANSO</td>
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">12:30-12:55</td>
    {% for paper in site.data.MMXX_schedule.saturday.fourth %}
    {% if paper.solo %}
    <td class="track_mid {{paper.class}}_color border_only">{{paper.hour}}<br>{{paper.intro}}</td>
    {% elsif paper.double %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% else %}
    {% unless paper.multi == 6 %}
    <td class="track_top {{paper.class}}_color" {% if paper.multi == 3 %} rowspan="{{paper.multi}}" {% if paper.class == "andalugeeks" %} style="vertical-align: middle" {% else %} style="vertical-align: bottom" {% endif %} {% endif %}>
      {{paper.author}}</td>
    {% endunless %}
    {% if paper.multi == 6 %}
    <td class="track_bot {{paper.class}}_color" rowspan=3 style="border-bottom: none">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.fourth %}
    {% if paper.solo %}
    <td class="track_mid {{paper.class}}_color solo">{{site.data.MMXX_schedule.saturday.fifth[4].hour}}</td>
    {% elsif paper.double %}
    <td class="track_bot {{paper.class}}_color" style="border-bottom: none;">
      {% if paper.url != "#" %}
      <a href=" {{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% else %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.fourth %}
    {% if paper.solo %}
    <td class="track_top {{paper.class}}_color no_border_only">{{paper.author}}</td>
    {% elsif paper.double %}
    <td class="track_bot {{paper.class}}_color"></td>
    {% else %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endif %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">12:55-13:20</td>
    {% for paper in site.data.MMXX_schedule.saturday.fifth %}
    {% if paper.multi %}
    <td class="track_mid {{paper.class}}_color" rowspan=3 style="vertical-align: middle">{% unless paper.multi == 6 %} {{paper.title}} {% endunless %}</td>
    {% else %}
    <td class="track_top {{paper.class}}_color">{{paper.author}}</td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.fifth %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.fifth %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">13:20-13:45</td>
    {% for paper in site.data.MMXX_schedule.saturday.sixth %}
    {% if paper.multi %}
    <td class="track_bot {{paper.class}}_color" style="vertical-align: top" rowspan=3">
      {% unless paper.multi == 6 %}
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
      {% endunless %}
    </td>
    {% else %}
    <td class="track_top {{paper.class}}_color">{{paper.author}}</td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.sixth %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.sixth %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty">13:45-15:00</td>
    <td class="breaks" colspan="5">COMIDA</td>
  </tr>

  <tr>
    <td class="hour empty"">15:00-15:45</td>
    <td class=" plenary" colspan="5">DESCONFERENCIA:<br>"FUTURO DE ESLIBRE Y DE LA COMUNIDAD DEL SOFTWARE LIBRE"<br><br>
      {% if site.data.MMXX_schedule.tracks.saturday-plenary-2 != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.saturday-plenary-2 }}" target="_blank"><img src="{{ '/2019/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.plenary.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.plenary.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
  </tr>


  <tr>
    <td class="hour empty" rowspan="3">16:00-16:25</td>
    {% for paper in site.data.MMXX_schedule.saturday.seventh %}
    <td class="track_top {{paper.class}}_color" {% if paper.multi %} rowspan=3 style="vertical-align: bottom" {% endif %}>{% unless paper.multi and paper.multi == 6 %} {{paper.author}} {% endunless %}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.seventh %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.seventh %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">16:25-16:50</td>
    {% for paper in site.data.MMXX_schedule.saturday.eighth %}
    {% if paper.multi %}
    <td class="track_mid {{paper.class}}_color" rowspan=3 style="vertical-align: middle">{% if paper.multi != 6 %} {{paper.title}} {% else %} {{paper.author}} {% endif %}</td>
    {% else %}
    <td class="track_top {{paper.class}}_color">{{paper.author}}</td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.eighth %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.eighth %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">16:50-17:15</td>
    {% for paper in site.data.MMXX_schedule.saturday.nineth %}
    {% if paper.multi %}
    {% if paper.multi != 6 %}
    <td class="track_bot {{paper.class}}_color" style="vertical-align: top" rowspan=3>
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% else %}
    <td class="track_mid {{paper.class}}_color" rowspan=3>{{paper.title}}</td>
    {% endif %}
    {% else %}
    <td class="track_top {{paper.class}}_color">{{paper.author}}</td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.nineth %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.nineth %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
  <tr>
    <td class="hour empty">17:15-17:30</td>
    <td class="breaks" colspan="2">DESCANSO</td>
    <td class="track_bot {{site.data.MMXX_schedule.saturday.nineth[2].class}}_color" style="border-bottom: none"></td>
    <td class="breaks" colspan="2">DESCANSO</td>
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">17:30-17:55</td>
    {% for paper in site.data.MMXX_schedule.saturday.tenth %}
    {% unless paper.multi == 6 %}
    <td class="track_top {{paper.class}}_color" {% if paper.multi == 3 %} rowspan="{{paper.multi}}" {% if paper.class == "andalugeeks" %} style="vertical-align: middle" {% else %} style="vertical-align: bottom" {% endif %}
      {% elsif paper.multi == 4 %} rowspan=3 style="border-top: none" {% endif %}>{{paper.author}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.tenth %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.tenth %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">17:55-18:20</td>
    {% for paper in site.data.MMXX_schedule.saturday.eleventh %}
    {% if paper.multi %}
    <td class="track_mid {{paper.class}}_color" rowspan=3 style="vertical-align: middle">{% unless paper.multi == 6 %} {{paper.title}} {% endunless %}</td>
    {% else %}
    <td class="track_top {{paper.class}}_color">{{paper.author}}</td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.eleventh %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.eleventh %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty" rowspan="3">18:20-18:45</td>
    {% for paper in site.data.MMXX_schedule.saturday.twelfth %}
    {% if paper.multi %}
    <td class="track_bot {{paper.class}}_color" style="vertical-align: top" rowspan=3">
      {% unless paper.multi == 6 %}
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
      {% endunless %}
    </td>
    {% else %}
    <td class="track_top {{paper.class}}_color">{{paper.author}}</td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.twelfth %}
    {% unless paper.multi %}
    <td class="track_mid {{paper.class}}_color">{{paper.title}}</td>
    {% endunless %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.MMXX_schedule.saturday.twelfth %}
    {% unless paper.multi %}
    <td class="track_bot {{paper.class}}_color">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="/2020{{ site.pdf }}{{ paper.file }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endunless %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour empty">19:00-19:45</td>
    <td class="plenary" colspan="5">ACTO DE CLAUSURA<br><br>
      {% if site.data.MMXX_schedule.tracks.plenary.bbb != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.bbb }}" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.plenary.chat != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.chat }}" target="_blank"><img src="{{ '/2019/assets/icons/rocketchat-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if site.data.MMXX_schedule.tracks.plenary.saturday-3 != "#" %}
      <a href="{{ site.data.MMXX_schedule.tracks.plenary.saturday-3 }}" target="_blank"><img src="{{ '/2019/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
    </td>
  </tr>
</table>

<br><br>
<img style="display: block; margin-left: auto; margin-right: auto;" src="/2020/assets/imgs/banner_eslibre_2020.png" alt="Logo esLibre">
