---
layout: 2019/default
section: programa
title: esLibre 2019 - María Arias de Reyna Domínguez / Iván Sánchez Ortega - Mapas
---

<h1 class="mt-3 mb-3">Track 1: Dev + Web (12:15 - 13:00)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/arias_de_reyna_maria__sanchez_ivan.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">María Arias de Reyna Domínguez / Iván Sánchez Ortega - "Mapas"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  Una breve historia de <a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> y software geoespacial.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Retrocedamos al 2006 para recordar cómo se hacían mapas entonces, y veamos la evolución hasta cómo se hacen mapas ahora, con un enfoque de software libre y licencias de datos.<br><br>
  <ul>
    <li>¿Puedo copiar esos mapas que son gratis?</li>
    <li>¿Con qué software tengo que abrir estos ficheros?</li>
    <li>¿Es la tierra realmente plana?</li>
    <li>¿A qué huelen las nubes de puntos?</li>
    <li>¿Por qué hay tantos gatitos en esta charla?</li>
  </ul>
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Especialmente gente interesada en licencias libres, así como potenciales geógrafos, topógrafos y cartógrafos.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <a href="https://delawen.com/wo-man/" target="_blank"><strong>María Arias de Reyna Domínguez</strong></a> empezó haciendo cosas de linuxeros en el instituto y organizó su primera conferencia en 2009 usando la marca <a
    href="https://es.wikipedia.org/wiki/Imagin%C3%A1tica" target="_blank">Imaginática</a>. Ahora todavía no se cree que es la presidenta de la <a href="https://www.osgeo.org" target="_blank">Open Source Geospatial (OSGeo) Foundation</a>. Mientras
  tanto, se dedica a hacer <a href="https://www.geonetwork-opensource.org" target="_blank">catálogos de metadatos</a> y organizar aquelarres con gatos en <a href="https://pingprogramadoras.org" target="_blank">Ping a Programadoras</a>.<br><br>
  <a href="https://github.com/Delawen" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://gitlab.com/delawen" target="_blank"><img src="{{ "/2019/assets/icons/gitlab-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/Delawen" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://mastodon.social/@delawen" target="_blank"><img src="{{ "/2019/assets/icons/mastodon-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/delawen/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <br><br>
  <a href="https://ivan.sanchezortega.es/whoami/" target="_blank"><strong>Iván Sánchez Ortega</strong></a> pasaba mucho tiempo en <a href="http://www.escomposlinux.org/" target="_blank">es.comp.os.linux</a> hasta que se compró un receptor GPS y le
  dedicó tiempo a <a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a>, y de ahí a mantener <a href="https://leafletjs.com/" target="_blank">Leaflet</a>.<br><br>
  <a href="https://github.com/IvanSanchez" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://gitlab.com/IvanSanchez" target="_blank"><img src="{{ "/2019/assets/icons/gitlab-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/RealIvanSanchez" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://mastodon.social/@IvanSanchez" target="_blank"><img src="{{ "/2019/assets/icons/mastodon-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/ivansanchezortega/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
