---
layout: 2024/default
section: cuidados
permalink: /2024/cuidados-error
title: esLibre 2024 - Servicio de cuidado infantil / Child care services
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2024: Se ha producido un error / An error has occurred</h1>

<h3 class="mt-3 mb-3 text-center"><strong>ES</strong></h3>

<p style="text-align: center; padding-bottom: 1em">Parece que se ha producido un error al enviar la solicitud.<br><br>

  Por favor, vuelve a intentarlo en unos minutos y si sigues teniendo cualquier problema escríbenos a <a href="mailto:hola@eslib.re">hola@eslib.re</a>.<br><br>

  Perdona por las molestias.
</p>

<h3 class="mt-3 mb-3 text-center"><strong>EN</strong></h3>

<p style="text-align: center; padding-bottom: 1em">It looks like there was an error sending the request.<br><br>

  Please try again in a few minutes, and if you still have any problems write to us at <a href="mailto:hola@eslib.re">hola@eslib.re</a>.<br><br>

  Sorry for the inconvenience.
</p>
