---
layout: 2024/default
section: cuidados
permalink: /2024/cuidados-recibida
title: esLibre 2024 - Servicio de cuidado infantil / Child care services
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2024: Servicio de cuidado infantil / Child care services</h1>

<h3 class="mt-3 mb-3 text-center"><strong>ES</strong></h3>

<p style="text-align: center;">
  <strong>¡Esperamos poder ayudarte a asistir a esta edición de <strong>es<span class="red">Libre</span></strong> 2024 que estamos organizando otro año más!</strong><br><br>

  Deberías haber recibido un email de confirmación desde <strong>tux@eslib.re</strong> (🐧).<br><br>

  Si has llegado a esta página, pero no te ha llegado el correo de confirmación, escríbemos a <a href="mailto:hola@eslib.re">hola@eslib.re</a><br>(comprueba también si por lo que sea hubiera ido a la carpeta de spam 😅).<br><br>

  Nos pondremos en contacto contigo cuando revisemos tu solicitud.<br><br>
</p>

<h3 class="mt-3 mb-3 text-center"><strong>EN</strong></h3>

<p style="text-align: center;">
  <strong>We look forward to helping you attend this edition of <strong>es<span class="red">Libre</span></strong> 2024 that we are organizing another year!</strong><br><br>

  You should have received a confirmation email from <strong>tux@eslib.re</strong> (🐧).<br><br>

  If you have reached this page, but you have not received the confirmation email, write to <a href="mailto:hola@eslib.re">hola@eslib.re</a><br>(also check if for whatever reason it had gone to the spam folder 😅).<br><br>

  We will contact you when we review your request.
  <br><br>
</p>
