---
layout: 2019/default
section: info
title: Información práctica para asistir a esLibre
---

<h1 class="mt-3 mb-3">Información práctica</h1>

<h2 id="precio" class="mt-3">Precio</h2>

<p>Fiel a su nombre, <strong>es<span class="red">Libre</span> 2019</strong> fue de libre acceso. Aunque el registro no
  fue obligatorio, para estimar la afluencia, agradecimos que las personas interesadas en asistir se
  registraran <a href="https://www.meetup.com/es-ES/Granada-Geek/events/261827851/" target="_blank">aquí</a>.
</p>

<h2 id="sede">Sede</h2>

<p>La <a href="https://etsiit.ugr.es">ETSIIT</a> tiene un salón de actos con capacidad de alrededor de 200
  personas para las sesiones plenarias, así como aulas con capacidad para hasta 100 personas, un hall (para
  mesas y pósters, si se busca eso) y cafetería en la propia Escuela.</p>

<p>La <a href="https://www.openstreetmap.org/?mlat=37.19698&amp;mlon=-3.62457#map=18/37.19698/-3.62457">ETSIIT
    está en un barrio periférico</a>, pero tiene buenas comunicaciones, con una parada del &quot;metro&quot; a
  unos 10 minutos andando y paradas de autobús cerca del mismo edificio. Hay aparcamientos en los alrededores,
  bares y cafeterías.</p>

<p>La universidad tiene habilitado un sistema para cuentas WiFi de invitados, tanto en puerto 80/443 como
  puerto 22 para SSH. Dado que es la escuela de informática, no debe tener problema para manejar un cierto
  volumen de personas conectadas.</p>

<h2 id="alojamiento">Alojamiento</h2>

<p>En la inmediación de la ETSIIT no hay ningún hotel, pero hay varios en un radio de un par de kilómetros a la redonda,
  a 3-4 paradas de autobús.</p>

<p>Hay también todo tipo de apartamentos y alojamientos para todos los precios, y en junio es temporada baja,
  así que no tendría que haber ningún problema para encontrar uno que se ajuste a cualquier presupuesto. </p>

<h2 id="transporte">Transporte</h2>

<p>Granada está bien comunicada por autobús, muy mal por tren (aunque está a punto de ser abierto el AVE),
  y regular por avión (vuelos diarios a Madrid y Barcelona).</p>

<p>También se organizaron <em>carpools</em> para grupos que vinieran de la misma ciudad y quisieran ir y
  volver en el día, sobre todo de otras ciudades andaluzas o de Murcia.</p>

<h2 id="conciliaci-n">Conciliación</h2>

<p>Para quien viniera con la familia, se habilitó una <em>zona de conciliación</em> con personas
  voluntarias que organizaron actividades para los más pequeños, para que sus madres y padres puedieran asistir a
  las charlas tranquilamente.</p>

<h2 id="ruta-tur-stica-geek-el-s-bado">Ruta turística geek el sábado</h2>

<p>Para los que se quedaron el sábado por la mañana, se organizó una ruta alternativa, geek, por Granada. Vimos
  la zona de graffiti de la Carretera de la Sierra, incluyendo también restos de patrimonio industrial y la
  historia de este barrio tan fuera de las rutas turísticas:</p>
<ul>
  <li><strong>Punto de encuentro</strong>: <a href="https://osm.org/go/b7J7WJ2uh?m=" target="_blank">Esquina Cuesta Molinos con Plaza del Duque de San Pedro de Galatino</a>, justo debajo de la placa donde pone <strong>"Cuesta Molinos"</strong>
  <li><strong>Hora</strong>: 10 de la mañana</li>
  <li><strong>Duración</strong>: unos 120 minutos</li>
  <li><strong>Dificultad</strong>: media (hay bastantes cuestas, y algunas son de piedras)</li>
  <li><strong>Recomendaciones</strong>: llevar calzado cómodo y agua</li>
</ul>

<p>Una vez terminada la ruta, se fue tapas. Así cada uno pudo unirse en el momento que prefiera.</p>
