---
layout: 2019/default
section: programa
title: esLibre 2019 - José Luis Martínez Torres - Flying high with your Kubernetes applications
---

<h1 class="mt-3 mb-3">Track 3: Big Data, Machine Learning and Cloud (16:00 - 16:45)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/martinez_jose_luis.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">José Luis Martínez Torres: "Flying high with your Kubernetes applications"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Seguiremos a dos aventureros que en 1959 hicieron algo extraordinario.<br><br>
  ¿Puede su gesta enseñarnos como afrontar proyectos en <a href="https://kubernetes.io/es/" target="_blank">Kubernetes</a>? ¿y en <a href="https://es.wikipedia.org/wiki/Computaci%C3%B3n_en_la_nube" target="_blank">Cloud</a>?
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Gente que no siente la necesidad de tocar el hardware sobre el que corren sus programas.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Jose Luis Martínez Torres</strong>.
  <ul>
    <li>CTO en <a href="https://www.capside.com/es/" target="_blank">CAPSiDE</a></li>
    <li>Contribuidor Open Source</li>
    <li>Apasionado del Cloud</li>
    <li>He dado charlas en múltiples eventos</li>
  </ul>
  <a href="https://github.com/pplu" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/pplu_io" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/joseluismartineztorres/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
