---
layout: 2019/default
section: programa
title: esLibre 2019 - Miguel López / Bartolomé Ortiz - En las tripas de Keras
---

<h1 class="mt-3 mb-3">Track 3: Big Data, Machine Learning and Cloud (10:15 - 11:00)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/lopez_miguel__ortiz_bartolome.png" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Miguel López / Bartolomé Ortiz: "En las tripas de Keras"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Normalmente nos han enseñado que las <a href="https://es.wikipedia.org/wiki/Redes_neuronales_convolucionales" target="_blank">redes neuronales convolucionales</a> son muy buenas <a href="https://es.wikipedia.org/wiki/An%C3%A1lisis_de_grupos"
    target="_blank">clasificando objetos</a>, de hecho se podría decir que son excepcionales clasificando perros y gatos. Sin embargo, debido a la complejidad de estos <a href="https://es.wikipedia.org/wiki/Modelo_de_datos"
    target="_blank">modelos</a>, su
  interpretabilidad es escasa y son conocidos como modelos de <a href="https://es.wikipedia.org/wiki/Caja_negra_(sistemas)" target="_blank">caja negra</a>: solamente se conoce la entrada y la salida pero no qué ocurre dentro.<br><br>
  En esta charla venimos dispuestos a dinamitar esta idea. Usando diversas librerías de <a href="https://es.wikipedia.org/wiki/Aprendizaje_autom%C3%A1tico" target="_blank">aprendizaje automático</a>, vamos explicar cual es el funcionamiento de estos
  modelos y entender su mecanismo gracias a distintas visualizaciones.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  <ul>
    <li>Seres vivos basados en carbono en general</li>
    <li>Gente con interés en profundizar en las <a href="https://es.wikipedia.org/wiki/Red_neuronal_artificial" target="_blank">redes neuronales</a></li>
    <li>Gente curiosa del <a href="https://es.wikipedia.org/wiki/Aprendizaje_autom%C3%A1tico" target="_blank">machine learning</a></li>
  </ul>
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Miguel López Pérez</strong>, estudiante de doctorado en la <a href="https://www.ugr.es/" target="_blank">Universidad de Granada</a>. Un buen matemático, se podría decir que el más bayesiano desde Bayes.<br><br>
  <a href="https://github.com/wizmik12" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/WizMik12" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/miguel-lopez-perezz/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a><br><br>
  <strong><a href="https://thebooort.github.io/" target="_blank">Bartolomé Ortiz Viso</a></strong>, estudiante de doctorado en la <a href="https://www.ugr.es/" target="_blank">Universidad de Granada</a>. Math-lover, Meme-addict, passionate about <a
    href="https://scicommcamp.com/" target="_blank">SciComm</a>.<br><br>
  <a href="https://github.com/thebooort" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/bortizmath" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/bartolome-ortiz-viso/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
