---
layout: 2022/default
section: cuidados
permalink: /2022/cuidados-error
title: esLibre 2022 - Ayuda responsabilidad cuidados / Axuda responsabilidade coidados / Care Responsibility Help
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2022: Se ha producido un error / Produciuse un erro / An error has occurred</h1>

<h3 class="mt-3 mb-3 text-center"><strong>ES</strong></h3>

<p style="text-align: center; padding-bottom: 1em">Parece que se ha producido un error al enviar la solicitud.<br><br>

  Por favor, vuelve a intentarlo en unos minutos, y si sigues teniendo cualquier problema escríbenos a <a href="mailto:hola@eslib.re">hola@eslib.re</a>.<br><br>

  Perdona por las molestias.
</p>

<h3 class="mt-3 mb-3 text-center"><strong>GL</strong></h3>

<p style="text-align: center; padding-bottom: 1em">Parece que se produciu un erro ao enviar a solicitude.<br><br>

  Por favor, volve tentalo nuns minutos, e si segues tendo calquera problema escríbenos a <a href="mailto:hola@eslib.re">hola@eslib.re</a>.<br><br>

  Perdoa polas molestias.
</p>

<h3 class="mt-3 mb-3 text-center"><strong>EN</strong></h3>

<p style="text-align: center; padding-bottom: 1em">It looks like there was an error sending the request.<br><br>

  Please try again in a few minutes, and if you still have any problems write to us at <a href="mailto:hola@eslib.re">hola@eslib.re</a>.<br><br>

  Sorry for the inconvenience.
</p>
