---
layout: 2024/default
section: propuestas
permalink: /2024/error/
title: Envío de propuestas esLibre 2024 - Error
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2024: Se ha producido un error</h1>

<p style="text-align: center; padding-bottom: 15em">
  <br><br>Parece que se ha producido un error al enviar la propuesta.<br><br>

  Por favor, vuelve a intentarlo en unos minutos, y si sigues teniendo cualquier problema escríbenos a <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a>.<br><br>

  Perdona por las molestias.
</p>
