---
layout: 2021/default
section: propuestas
title: Envío de propuestas esLibre 2021 - Error
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2021: An error has occurred</h1>

<p style="text-align: center; padding-bottom: 15em">
  <br><br>It seems that there was an error submitting the proposal.<br><br>

  Please, try again in a few minutes, and if you continue to have any problems, please write to <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a>.<br><br>

  Sorry for the inconvenience.
</p>
