---
layout: 2021/default
section: propuestas
title: Proposal submission - esLibre 2021 - Project board
description: You can use this form if you want to talk about any libre project that you find interesting. Let's go!
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2021 - Proposals for the project board</h1>

<p align="center">
  <cite style="color: black;">Before submitting a proposal, please make sure you have read the information on the <a href="/2021/proposals/">"Proposal Submission"</a> page.</cite>
</p>

<p>If there is a free software project in any field that you would like to give relevance to, but you prefer it to be in a more informal way or without having to assume the focus of attention as in the previous types of activity, you can also propose
  it and we will put the means to bring together people who may be interested in this same project.<br><br>
  <strong>Remember</strong>: the project board is an activity without live presentations.</p>

<div style="width: 60% !important; margin: auto;">
  <form id="create-talks" role="form" action="https://edp.eslib.re/form/projects-en" method="post">
    <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
        <li>The fields marked as (*) are required</li>
        <li>Once it has been accepted it will be published on the <a href="https://propuestas.eslib.re/2021/" target="_blank">proposal page</a></li>
        <li>Remember that for any questions you can write to us at <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a></li>
        </ul>
      </span></div>
    <div class="form-group"><strong><label for="title">Title (*):</label></strong>
      <div id="title-counter-tag" class="tag is-danger"><span id="title-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="title" type="text" maxlength="150" onkeyup="counterDisplay(this, 'title', true)"
        required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label for="abstract">Abstract (*):</label></strong>
      <div id="abstract-counter-tag" class="tag is-danger"><span id="abstract-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;500&nbsp;</div><textarea name="abstract" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;"
        aria-describedby="abstract-help-block" onkeyup="counterDisplay(this, 'abstract', true)" required="required" class="form-control"></textarea><span id="abstract-help-block" class="form-text text-muted">Short introduction and motivation of the
        proposal.</span>
    </div>
    <div class="form-group"><strong><label for="project">Project website (*):</label></strong>
      <div id="project-counter-tag" class="tag is-danger"><span id="project-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="project" type="url" maxlength="150" aria-describedby="project-help-block"
        onkeyup="counterDisplay(this, 'project', true)" required="required" class="form-control"><span id="project-help-block" class="form-text text-muted">Page with information about the project you are interested in being talked about.</span>
    </div>
    <div class="form-group"><strong><label for="name">Name (*):</label></strong>
      <div id="name-counter-tag" class="tag is-danger"><span id="name-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="name" type="text" maxlength="150" onkeyup="counterDisplay(this, 'name', true)"
        required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label for="email">Email (*):</label></strong>
      <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)"
        required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label for="web">Personal website:</label></strong>
      <div id="web-counter-tag" class="tag is-success"><span id="web-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="web" type="url" maxlength="150" aria-describedby="web-help-block"
        onkeyup="counterDisplay(this, 'web', false)" class="form-control"><span id="web-help-block" class="form-text text-muted">In case you have a personal website that you want to share.</span>
    </div>
    <div class="form-group"><strong><label for="mastodon">Mastodon (or other free social networks):</label></strong>
      <div id="mastodon-counter-tag" class="tag is-success"><span id="mastodon-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="mastodon" type="url" maxlength="150" aria-describedby="mastodon-help-block"
        onkeyup="counterDisplay(this, 'mastodon', false)" class="form-control"><span id="mastodon-help-block" class="form-text text-muted">Any profile in a free social network is valid, but remember to enter the full URL to also know the instance
        where you are so that we can find you.</span>
    </div>
    <div class="form-group"><strong><label for="twitter">Twitter:</label></strong>
      <div id="twitter-counter-tag" class="tag is-success"><span id="twitter-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="twitter" type="text" maxlength="16" pattern="^@?[A-Za-z0-9_]{1,15}$"
        onkeyup="counterDisplay(this, 'twitter', false)" class="form-control"><span id="twitter-help-block" class="form-text text-muted">If you want us to mention you on Twitter when creating the proposal, put your username.</span>
    </div>
    <div class="form-group"><strong><label for="gitlab">GitLab:</label></strong>
      <div id="gitlab-counter-tag" class="tag is-success"><span id="gitlab-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="gitlab" type="text" maxlength="255" pattern="^@?[A-Za-z0-9_-]{2,255}$"
        aria-describedby="gitlab-help-block" onkeyup="counterDisplay(this, 'gitlab', false)" class="form-control"><span id="gitlab-help-block" class="form-text text-muted">If you have a profile on GitLab, just put your username and we will mention
        you when creating the proposal (otherwise don't worry, there is no problem because we will notify you by email anyway).</span>
    </div>
    <div class="form-group"><strong><label for="github">Portfolio or GitHub (or other collaborative code sites):</label></strong>
      <div id="github-counter-tag" class="tag is-success"><span id="github-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="github" type="url" maxlength="150" aria-describedby="github-help-block"
        onkeyup="counterDisplay(this, 'github', false)" class="form-control"><span id="github-help-block" class="form-text text-muted">Any other collaborative development site where you have a profile and would like to show your projects, or also any
        website that you use as a portfolio.</span>
    </div>
    <div class="form-group"><strong><label for="comments">Comments:</label></strong>
      <div id="comments-counter-tag" class="tag is-success"><span id="comments-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;500&nbsp;</div><textarea name="comments" cols="40" rows="5" maxlength="500"
        style="resize:none; overflow-y: scroll;" aria-describedby="comments-help-block" onkeyup="counterDisplay(this, 'comments', false)" class="form-control"></textarea><span id="comments-help-block" class="form-text text-muted">Any other comment
        relevant to the organization.</span>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox"><input name="privacy_email" type="checkbox"><label for="privacy_email">&nbsp;I do not want my contact email to be published with the information of the proposal</label></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-control custom-checkbox"><input name="privacy_social" type="checkbox"><label for="privacy_social">&nbsp;I do not want my social networks to be published with the information of the proposal</label></div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-control custom-checkbox"><input name="accept_coc" type="checkbox" required="required"><label for="accept_coc">&nbsp;I agree to follow the <a href="/conduct" target="_blank">conduct code</a> and to ask those attending to
            comply with it (*)</label></div>
      </div>
    </div>
    <div class="form-group text-center"><button name="submit" type="submit" class="btn btn-primary">Submit</button></div>
  </form>
</div>

<script src="/2021/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/2021/assets/js/validation.js"></script>
