---
layout: 2021/default
section: propuestas
title: Envío de propuestas esLibre 2021 - Proposal received
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2021: Proposal received!!!</h1>

<p style="text-align: center;">
  <strong>Thank you very much for your proposal for the virtual edition of <strong>es<span class="red">Libre</span></strong> 2021 that we are organizing for another year!</strong><br><br>

  You should have received a confirmation email from <strong>tux@eslib.re</strong> (🐧).<br><br>

  If you have reached this page, but you have not received the confirmation email, write to <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a><br>(also check if for whatever reason it would have gone to the spam folder 😅).<br><br>

  Remember that this year <strong>the congress will be held on June 25 and 26</strong> and that <strong>the final program will be published on June 11</strong>, but that you will not have to wait so long to know if <strong>your proposal</strong> has
  been accepted: <strong>as soon as the proposal receives 3 positive votes from the organization it will be officially accepted</strong>.<br><br>

  In any case, do not lose sight of <a href="https://gitlab.com/eslibre/propuestas/-/merge_requests">your proposal in our repository</a> if there were any comments or questions<br>(the link you should have received by mail will take you directly to
  it).<br><br>

  Once it is definitively accepted, you can find it on the <a href="https://propuestas.eslib.re/2021/">proposals page</a>.
</p>

<h3 style="padding-top: 20px; text-align: center;">SEE YOU SOON!!!<br>👏👏👏</h3>
