---
layout: 2022/default
section: programa
permalink: /2022/horario/
title: esLibre 2022 - Horario
---

<h1 class="mt-3">
    Horario
</h1>

<h2 class="mt-3">
    Viernes 24
</h2>

<div class="schedule-fri" aria-labelledby="schedule-heading">
    <span class="track-slot" aria-hidden="true" style="grid-column: track-1; grid-row: tracks;">MARCO (Salón de actos)</span>
    <span class="track-slot" aria-hidden="true" style="grid-column: track-2; grid-row: tracks;">MARCO (Marcoteca)</span>
    <span class="track-slot" aria-hidden="true" style="grid-column: track-3; grid-row: tracks;">MUTA (Sala Almacén)</span>
    <span class="track-slot" aria-hidden="true" style="grid-column: track-4; grid-row: tracks;">MUTA (Sala Núñez)</span>

    <h2 class="time-slot" style="grid-row: time-0930;">9:30</h2>

    <div class="session session-1 track-all-break" style="grid-column: track-1-start / track-4-end; grid-row: time-0930 / time-1000;">
        <h3 class="session-title">APERTURA PUERTAS Y ACREDITACIÓN</h3>
    </div>

    <h2 class="time-slot" style="grid-row: time-1000;">10:00</h2>

    <div class="session session-2 track-all" style="grid-column: track-1-start / track-4-end; grid-row: time-1000 / time-1030;">
        <h3 class="session-title" style="text-align: center !important;">PRESENTACIÓN DEL CONGRESO (SALÓN DE ACTOS DE MARCO) <br><br><a style="padding-left: 0.65em !important" href="https://w.wiki/5YgC" target="_blank"><img
                    src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a></h3>
    </div>

    <h2 class="time-slot" style="grid-row: time-1030;">10:30</h2>

    <div class="session session-3 track-1" style="grid-column: track-1; grid-row: time-1030 / time-1100;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/hacer-tests-te-mantengan-enfocado" target="_blank">Cómo hacer que tus tests te mantengan enfocado</a></h3>
        <span class="session-speaker">Filis Futsarov</span>
        <span class="session-time">10:30 - 10:55</span><br>
        <span class="session-speaker">
            <a href="https://propuestas.eslib.re/2022/charlas/hacer-tests-te-mantengan-enfocado" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
            <a style="padding-left: 0.65em !important" href="https://w.wiki/5Yer" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-3 track-2" style="grid-column: track-2; grid-row: time-1030 / time-1130;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/salas/fedora-hatch-meetup" target="_blank">Fedora Hatch meetup </a></h3>
        <span class="session-time">10:30 - 11:25</span><br>
        <span class="session-speaker">
            <a href="" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-3 track-3" style="grid-column: track-3; grid-row: time-1030 / time-1130;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/lenguajes-programacion-posmodernos" target="_blank">Lenguajes de programación posmodernos</a></h3>
        <span class="session-speaker">JJ Merelo</span>
        <span class="session-time">10:30 - 11:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/lenguajes-programacion-posmodernos" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/lenguajes-programacion-posmodernos.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-3 track-4" style="grid-column: track-4; grid-row: time-1030 / time-1100;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/teuton-test-infraestructura" target="_blank">TEUTON: Test de infraestructura</a></h3>
        <span class="session-speaker">David Vargas Ruiz</span>
        <span class="session-time">10:30 - 10:55</span><br>
        <span class="session-title">EN REMOTO</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/teuton-test-infraestructura" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/teuton-test-infraestructura.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1100;">11:00</h2>

    <div class="session session-4 track-1" style="grid-column: track-1; grid-row: time-1100 / time-1130;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/bootstrap-world-for-tests" target="_blank">Bootstrap the world for your tests</a></h3>
        <span class="session-speaker">Dawid Furman</span>
        <span class="session-time">11:00 - 11:25</span><br>
        <span class="session-speaker">
            <a href="https://propuestas.eslib.re/2022/charlas/bootstrap-world-for-tests" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/bootstrap-world-for-tests.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
            <a style="padding-left: 1em !important" href="https://w.wiki/5Yeu" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-4 track-4" style="grid-column: track-4; grid-row: time-1100 / time-1130;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/software-libre-sector-construccion" target="_blank">Software libre en el sector de la construcción</a></h3>
        <span class="session-speaker">Evelio Sánchez Juncal</span>
        <span class="session-time">11:00 - 11:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/software-libre-sector-construccion" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/software-libre-sector-construccion.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1130;">11:30</h2>

    <div class="session session-5 track-all-break" style="grid-column: track-1-start / track-4-end; grid-row: time-1130 / time-1200;">
        <h3 class="session-title">DESCANSO</h3>
    </div>

    <h2 class="time-slot" style="grid-row: time-1200;">12:00</h2>

    <div class="session session-6 track-1" style="grid-column: track-1; grid-row: time-1200 / time-1230;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/open-source-open-standards-digital-sovereignty" target="_blank">Open source and open standards for digital sovereignty</a></h3>
        <span class="session-speaker">Italo Vignoli</span>
        <span class="session-time">12:00 - 12:25</span><br>
        <span class="session-speaker">
            <a href="https://propuestas.eslib.re/2022/charlas/open-source-open-standards-digital-sovereignty" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/open-source-open-standards-digital-sovereignty.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
            <a style="padding-left: 1em !important" href="https://w.wiki/5Yew" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-6 track-2" style="grid-column: track-2; grid-row: time-1200 / time-1400;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/katas-aprendizaje-programacion-haskell" target="_blank">Katas de aprendizaje de programación con Haskell mediante serendipia</a></h3>
        <span class="session-speaker">Reynaldo Cordero</span>
        <span class="session-time">12:00 - 13:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/katas-aprendizaje-programacion-haskell" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/katas-aprendizaje-programacion-haskell.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yfh" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-6 track-3" style="grid-column: track-3; grid-row: time-1200 / time-1400;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/open-data-engineering-framework" target="_blank">Open Data Engineering Framework v0.1</a></h3>
        <span class="session-speaker">César García</span>
        <span class="session-time">12:00 - 13:55</span><br>
        <span class="session-title">EN REMOTO</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/open-data-engineering-framework" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="https://w.wiki/5Yfr" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-6 track-4" style="grid-column: track-4; grid-row: time-1200 / time-1300;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/investigando-amenazas-en-linux" target="_blank">Investigando amenazas en Linux</a></h3>
        <span class="session-speaker">Paula de la Hoz</span>
        <span class="session-time">12:00 - 12:55</span><br>
        <span class="session-speaker">

            <a href="" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1230;">12:30</h2>

    <div class="session session-7 track-1" style="grid-column: track-1; grid-row: time-1230 / time-1300;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/tres-herramientas-gestion-redes" target="_blank">Tres herramientas de gestión de redes para gestionarlas a todas</a></h3>
        <span class="session-speaker">Fernando Fernandez Mancera</span>
        <span class="session-time">12:30 - 12:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/tres-herramientas-gestion-redes" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/tres-herramientas-gestion-redes.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yf2" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1300;">13:00</h2>

    <div class="session session-8 track-1" style="grid-column: track-1; grid-row: time-1300 / time-1330;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/freescout_montar_departamento_soporte" target="_blank">FreeScout: cómo montar un departamento de soporte/atención al cliente con software libre</a></h3>
        <span class="session-speaker">Pablo Hinojosa Nava</span>
        <span class="session-time">13:00 - 13:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/freescout_montar_departamento_soporte" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/freescout_montar_departamento_soporte.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yf5" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-8 track-4" style="grid-column: track-4; grid-row: time-1300 / time-1400;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/efectos-audiovisuales-soluciones-libres" target="_blank">Efectos audiovisuales de espectáculos teatrales con soluciones libres</a></h3>
        <span class="session-speaker">Eduar2</span>
        <span class="session-time">13:00 - 13:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/efectos-audiovisuales-soluciones-libres" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/efectos-audiovisuales-soluciones-libres.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yfz" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1330;">13:30</h2>

    <div class="session session-9 track-1" style="grid-column: track-1; grid-row: time-1330 / time-1400;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/sostenibilidad-oficinas-open-source" target="_blank">Sostenibilidad y oficinas open source</a></h3>
        <span class="session-speaker">Jose Manrique López de la Fuente</span>
        <span class="session-time">13:30 - 13:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/sostenibilidad-oficinas-open-source" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/sostenibilidad-oficinas-open-source.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yf7" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1400;">14:00</h2>

    <div class="session session-10 track-all-break" style="grid-column: track-1-start / track-4-end; grid-row: time-1400 / time-1600;">
        <h3 class="session-title">COMIDA</h3>
    </div>

    <h2 class="time-slot" style="grid-row: time-1600;">16:00</h2>

    <div class="session session-10 track-1" style="grid-column: track-1; grid-row: time-1600 / time-1630;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/free-software-during-corona" target="_blank">What role did free software play during the corona crisis?</a></h3>
        <span class="session-speaker">Alexander Sander</span>
        <span class="session-time">16:00 - 16:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/free-software-during-corona" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="https://w.wiki/5Yf9" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-10 track-2" style="grid-column: track-2; grid-row: time-1600 / time-1645;">
        <h3 class="session-title"><a href="https://www.wikimedia.es/2022/06/08/organizamos-sala-sobre-proyectos-wikimedia-en-eslibre-2022/" target="_blank">[Sala "Proyectos Wikimedia"]</a><br><br><a
                href="https://www.wikimedia.es/2022/05/19/guia-para-organizar-editatones/" target="_blank">Guía web para organizar "editatones"</a></h3>
        <span class="session-speaker">Florencia Claes</span>
        <span class="session-time">16:00 - 16:40</span><br>
        <span class="session-title">EN REMOTO</span><br>
        <span class="session-speaker">

            <a href="https://www.wikimedia.es/2022/05/19/guia-para-organizar-editatones/" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="https://w.wiki/5Yfj" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-10 track-3" style="grid-column: track-3; grid-row: time-1600 / time-1800;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/talleres-iniciacion-hardware-libre" target="_blank">Talleres de iniciación al hardware libre</a></h3>
        <span class="session-speaker">Bricolabs</span>
        <span class="session-time">16:00 - 17:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/talleres-iniciacion-hardware-libre" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yfs" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-10 track-4" style="grid-column: track-4; grid-row: time-1600 / time-1800;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/hacking-neuronal-realidad-virtual-tratamiento" target="_blank">Hacking neuronal: uso de realidad virtual libre para el tratamiento del "ojo vago"</a></h3>
        <span class="session-speaker">Rubén Rodríguez Pérez</span>
        <span class="session-time">16:00 - 17:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/hacking-neuronal-realidad-virtual-tratamiento" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/hacking-neuronal-realidad-virtual-tratamiento.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yf$" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1630;">16:30</h2>

    <div class="session session-11 track-1" style="grid-column: track-1; grid-row: time-1630 / time-1700;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/reuse-licencias-derechos-autor" target="_blank">REUSE: indicar licencias y derechos de autor nunca fue tan sencillo</a></h3>
        <span class="session-speaker">Lina Ceballos</span>
        <span class="session-time">16:30 - 16:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/reuse-licencias-derechos-autor" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/reuse-licencias-derechos-autor.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5YfC" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-11 track-2" style="grid-column: track-2; grid-row: time-1645 / time-1730;">
        <h3 class="session-title"><a href="https://www.wikimedia.es/2022/06/08/organizamos-sala-sobre-proyectos-wikimedia-en-eslibre-2022/" target="_blank">[Sala "Proyectos Wikimedia"]</a><br><br><a
                href="https://www.wikimedia.es/2022/06/08/organizamos-sala-sobre-proyectos-wikimedia-en-eslibre-2022/" target="_blank">Documentando la España vaciada con #WikiTakes</a></h3>
        <span class="session-speaker">Rubén Ojeda</span>
        <span class="session-time">16:45 - 17:25</span><br>
        <span class="session-speaker">

            <a href="https://www.wikimedia.es/2022/06/08/organizamos-sala-sobre-proyectos-wikimedia-en-eslibre-2022/" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/documentando_españa_vaciada_wikitakes.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yfk" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1700;">17:00</h2>

    <div class="session session-12 track-1" style="grid-column: track-1; grid-row: time-1700 / time-1730;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/espacios-cultura-libre-asturias-galicia" target="_blank">Los espacios de cultura libre en Asturias y Galicia</a></h3>
        <span class="session-speaker">Mariah Villarreal</span>
        <span class="session-time">17:00 - 17:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/espacios-cultura-libre-asturias-galicia" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/espacios-cultura-libre-asturias-galicia.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Y6i" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1730;">17:30</h2>

    <div class="session session-13 track-1" style="grid-column: track-1; grid-row: time-1730 / time-1800;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/creando-comunidades-locales" target="_blank"> Creando comunidades locales, ¿algún consejo?</a></h3>
        <span class="session-speaker">Pablo Castro Valiño</span>
        <span class="session-time">17:30 - 17:55</span><br>
        <span class="session-title">EN REMOTO</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/creando-comunidades-locales" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="https://w.wiki/5YfE" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-13 track-2" style="grid-column: track-2; grid-row: time-1730 / time-1800;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/inkscape-diseno-vectorial-no-disenadores" target="_blank">Inkscape, diseño vectorial para no diseñadores</a></h3>
        <span class="session-speaker">Karla L Hernandez</span>
        <span class="session-time">17:30 - 17:55</span><br>
        <span class="session-title">EN REMOTO</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/inkscape-diseno-vectorial-no-disenadores" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1800;">18:00</h2>

    <div class="session session-14 track-all-break" style="grid-column: track-1-start / track-4-end; grid-row: time-1800 / time-1830;">
        <h3 class="session-title">DESCANSO</h3>
    </div>

    <h2 class="time-slot" style="grid-row: time-1830;">18:30</h2>

    <div class="session session-15 track-1" style="grid-column: track-1; grid-row: time-1830 / time-1900;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/backups-sencillos-gnu-linux-cronopete" target="_blank">Backups sencillos en GNU/Linux con Cronopete</a></h3>
        <span class="session-speaker">Raster</span>
        <span class="session-time">18:30 - 18:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/backups-sencillos-gnu-linux-cronopete" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/backups-sencillos-gnu-linux-cronopete.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5YfG" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-15 track-2" style="grid-column: track-2; grid-row: time-1830 / time-1930;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/inkscape-diseno-vectorial-no-disenadores" target="_blank">Inkscape, diseño vectorial para no diseñadores (cont.)</a></h3>
        <span class="session-speaker">Karla L Hernandez</span>
        <span class="session-time">18:30 - 19:25</span><br>
        <span class="session-title">EN REMOTO</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/inkscape-diseno-vectorial-no-disenadores" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

        </span>
    </div>

    <div class="session session-15 track-3" style="grid-column: track-3; grid-row: time-1830 / time-1900;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/talleres-iniciacion-hardware-libre" target="_blank">Talleres de iniciación al hardware libre (cont.)</a></h3>
        <span class="session-speaker">Bricolabs</span>
        <span class="session-time">18:30 - 18:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/talleres-iniciacion-hardware-libre" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yfs" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-15 track-4" style="grid-column: track-4; grid-row: time-1830 / time-2030;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/opengnsys-orquestacion-aulas-tic" target="_blank">OpenGnsys 1.2: Orquestación para aulas TIC de enseñanza</a></h3>
        <span class="session-speaker">Jose María Guisado Gómez, Javier Sánchez-Parra</span>
        <span class="session-time">18:30 - 20:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/opengnsys-orquestacion-aulas-tic" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/opengnsys-orquestacion-aulas-tic.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yg2" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1900;">19:00</h2>

    <div class="session session-15 track-1" style="grid-column: track-1; grid-row: time-1900 / time-1930;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/arduino-educacion-sensores-bajo-coste-laboratorio" target="_blank">Arduino en educación: sensores de bajo coste en el laboratorio de Física</a></h3>
        <span class="session-speaker">Beatriz Padín Romero</span>
        <span class="session-time">19:00 - 19:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/arduino-educacion-sensores-bajo-coste-laboratorio" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/arduino-educacion-sensores-bajo-coste-laboratorio.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20"
                    width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5YfK" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-15 track-3" style="grid-column: track-3; grid-row: time-1900 / time-2030;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/como-montar-cluster-nextcloud" target="_blank">Cómo montar un clúster de Nextcloud</a></h3>
        <span class="session-speaker">Pietro Marini</span>
        <span class="session-time">19:00 - 20:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/como-montar-cluster-nextcloud" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/como-montar-cluster-nextcloud.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yfu" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1930;">19:30</h2>

    <div class="session session-15 track-1" style="grid-column: track-1; grid-row: time-1930 / time-2000;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/estrella-mi-comunidad-un-bot" target="_blank">La estrella de mi comunidad es un bot, ¿dónde están los humanos? </a></h3>
        <span class="session-speaker">Miguel Ángel Fernández</span>
        <span class="session-time">19:30 - 19:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/estrella-mi-comunidad-un-bot" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/estrella-mi-comunidad-un-bot.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5YfL" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-15 track-2" style="grid-column: track-2; grid-row: time-1930 / time-2030;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/bancos-reciclaxe-electronica-galicia" target="_blank">Bancos de reciclaxe electrónica de Galicia con software libre</a></h3>
        <span class="session-speaker">José Antonio González Nóvoa, Martina Páramos Rial, José Carlos Mourelos Peteiro</span>
        <span class="session-time">19:30 - 20:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/bancos-reciclaxe-electronica-galicia" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/bancos-reciclaxe-electronica-galicia.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yfm" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-2000;">20:00</h2>

    <div class="session session-15 track-1" style="grid-column: track-1; grid-row: time-2000 / time-2030;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/analisis-composicion-software" target="_blank">Análisis de composición de software</a></h3>
        <span class="session-speaker">Julian Coccia</span>
        <span class="session-time">20:00 - 20:25</span><br>
        <span class="session-title">EN REMOTO</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/analisis-composicion-software" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/analisis-composicion-software.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5YfM" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-2030;">20:30</h2>
</div>

<h2 class="mt-3">
    Sábado 25
</h2>

<div class="schedule-sat" aria-labelledby="schedule-heading">
    <span class="track-slot" aria-hidden="true" style="grid-column: track-1; grid-row: tracks;">MARCO (Salón de actos)</span>
    <span class="track-slot" aria-hidden="true" style="grid-column: track-2; grid-row: tracks;">MARCO (Marcoteca)</span>
    <span class="track-slot" aria-hidden="true" style="grid-column: track-3; grid-row: tracks;">MUTA (Sala Almacén)</span>
    <span class="track-slot" aria-hidden="true" style="grid-column: track-4; grid-row: tracks;">MUTA (Sala Núñez)</span>

    <h2 class="time-slot" style="grid-row: time-0930;">9:30</h2>

    <div class="session session-1 track-all-break" style="grid-column: track-1-start / track-4-end; grid-row: time-0930 / time-1000;">
        <h3 class="session-title">APERTURA PUERTAS Y ACREDITACIÓN</h3>
    </div>

    <h2 class="time-slot" style="grid-row: time-1000;">10:00</h2>

    <div class="session session-2 track-1" style="grid-column: track-1; grid-row: time-1000 / time-1030;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/investindo-software-libre-longo-prazo" target="_blank">Investindo no software libre a longo prazo a iniciativa «Five for the Future»</a></h3>
        <span class="session-speaker">Jesús Amieiro Becerra</span>
        <span class="session-time">10:00 - 10:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/investindo-software-libre-longo-prazo" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/investindo-software-libre-longo-prazo.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5YfN" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-2 track-2" style="grid-column: track-2; grid-row: time-1000 / time-1200;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/creacion-juegos-3d-godot" target="_blank">Creación de Juegos 3D en Godot</a></h3>
        <span class="session-speaker">Alvaro del Castillo San Félix</span>
        <span class="session-time">10:00 - 11:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/creacion-juegos-3d-godot" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/creacion-juegos-3d-godot.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yfn" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-2 track-3" style="grid-column: track-3; grid-row: time-1000 / time-1200;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/echidna" target="_blank">Echidna: programando sistemas físicos en entornos gráficos</a></h3>
        <span class="session-speaker">Xabier Rosas, Jorge Lobo</span>
        <span class="session-time">10:00 - 11:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/echidna" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="https://w.wiki/5Yfv" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-2 track-4" style="grid-column: track-4; grid-row: time-1000 / time-1100;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/salas/privacidad-descentralizacion-soberania-digital" target="_blank">[Sala "Privacidad, descentralización y soberanía digital"]<br><br>Tecnología que nos hace perder
                derechos</a></h3>
        <span class="session-speaker">Bárbara Román</span>
        <span class="session-time">10:00 - 10:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/salas/privacidad-descentralizacion-soberania-digital" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/tecnologias_hacen_perder_derechos.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yg3" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1030;">10:30</h2>

    <div class="session session-3 track-1" style="grid-column: track-1; grid-row: time-1030 / time-1100;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/ofilibre-urjc-modelo-fomentar-cultura-libre" target="_blank">La OfiLibre de la URJC: un modelo para fomentar la cultura libre en la Universidad</a></h3>
        <span class="session-speaker">Jesús M. González Barahona</span>
        <span class="session-time">10:30 - 10:55</span><br>
        <span class="session-title">EN REMOTO</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/ofilibre-urjc-modelo-fomentar-cultura-libre" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="https://w.wiki/5YfP" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1100;">11:00</h2>

    <div class="session session-4 track-1" style="grid-column: track-1; grid-row: time-1100 / time-1130;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/opentelemetry-observabilidad-open-source" target="_blank">OpenTelemetry: la observabilidad desde el open source</a></h3>
        <span class="session-speaker">Israel Blancas</span>
        <span class="session-time">11:00 - 11:30</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/opentelemetry-observabilidad-open-source" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/opentelemetry-observabilidad-open-source.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5YfQ" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-2 track-4" style="grid-column: track-4; grid-row: time-1100 / time-1200;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/salas/privacidad-descentralizacion-soberania-digital" target="_blank">[Sala "Privacidad, descentralización y soberanía digital"]<br><br>Inventemos Web4 porque Web3 apesta</a>
        </h3>
        <span class="session-speaker">Santiago Saavedra</span>
        <span class="session-time">11:00 - 11:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/salas/privacidad-descentralizacion-soberania-digital" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/inventemos_web4_web3_apesta.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yg4" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1130;">11:30</h2>

    <div class="session session-5 track-1" style="grid-column: track-1; grid-row: time-1130 / time-1145;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/por-que-desenadores-foxen-open-source" target="_blank">Por que os deseñadores foxen dos programas open source?</a></h3>
        <span class="session-speaker">Sabela Muñiz</span>
        <span class="session-time">11:30 - 11:45</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/por-que-desenadores-foxen-open-source" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/por-que-desenadores-foxen-open-source.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5YfR" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-5 track-1" style="grid-column: track-1; grid-row: time-1145 / time-1200;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/extended-reality-floss" target="_blank">eXtended Reality FLOSS [Estado del arte]</a></h3>
        <span class="session-speaker">inventadero</span>
        <span class="session-time">11:45 - 12:00</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/extended-reality-floss" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/extended-reality-floss.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5YfS" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1200;">12:00</h2>

    <div class="session session-5 track-all-break" style="grid-column: track-1-start / track-4-end; grid-row: time-1200 / time-1230;">
        <h3 class="session-title">DESCANSO</h3>
    </div>

    <h2 class="time-slot" style="grid-row: time-1230;">12:30</h2>

    <div class="session session-7 track-1" style="grid-column: track-1; grid-row: time-1230 / time-1300;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/herramientas-libres-desarrollo-web" target="_blank">Herramientas libres para el desarrollo web</a></h3>
        <span class="session-speaker">Pablo Arias</span>
        <span class="session-time">12:30 - 12:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/herramientas-libres-desarrollo-web" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/herramientas-libres-desarrollo-web.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5YfU" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-7 track-2" style="grid-column: track-2; grid-row: time-1230 / time-1430;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/creavatar-personal" target="_blank">CreAvatar Personal</a></h3>
        <span class="session-speaker">inventadero</span>
        <span class="session-time">12:30 - 14:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/creavatar-personal" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="https://w.wiki/5Yfp" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-7 track-3" style="grid-column: track-3; grid-row: time-1230 / time-1400;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/public-money-public-code" target="_blank">Public money? Public code! - Contact your administration</a></h3>
        <span class="session-speaker">Alexander Sander, Lina Ceballos</span>
        <span class="session-time">12:30 - 13:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/public-money-public-code" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/public-money-public-code.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-7 track-4" style="grid-column: track-4; grid-row: time-1230 / time-1330;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/salas/privacidad-descentralizacion-soberania-digital" target="_blank">[Sala "Privacidad, descentralización y soberanía digital"]<br><br>False friends: ciudadanía, privacidad,
                gobiernos</a></h3>
        <span class="session-speaker">Yolanda Ferreiro</span>
        <span class="session-time">12:30 - 13:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/salas/privacidad-descentralizacion-soberania-digital" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="https://w.wiki/5Yg5" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1300;">13:00</h2>

    <div class="session session-8 track-1" style="grid-column: track-1; grid-row: time-1300 / time-1315;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/openapi-specification" target="_blank">OpenAPI Specification: presente y futuro</a></h3>
        <span class="session-speaker">Benjamin Granados</span>
        <span class="session-time">13:00 - 13:15</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/openapi-specification" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/openapi-specification.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5YfV" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-8 track-1" style="grid-column: track-1; grid-row: time-1315 / time-1330;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/cv-cultura-libre" target="_blank">El CV de la cultura libre</a></h3>
        <span class="session-speaker">Pablo Hinojosa Nava</span>
        <span class="session-time">13:15 - 13:30</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/cv-cultura-libre" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/cv-cultura-libre.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5YfW" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1330;">13:30</h2>

    <div class="session session-9 track-1" style="grid-column: track-1; grid-row: time-1330 / time-1430;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/salas/comunidade-galega-software-libre" target="_blank">A comunidade galega de software libre</a></h3>
        <span class="session-speaker">Asociación MeLiSA</span>
        <span class="session-time">13:30 - 14:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/salas/comunidade-galega-software-libre" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="https://w.wiki/5YfX" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-7 track-4" style="grid-column: track-4; grid-row: time-1330 / time-1430;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/salas/privacidad-descentralizacion-soberania-digital" target="_blank">[Sala "Privacidad, descentralización y soberanía digital"]<br><br>Interfaces de usuario y soberania
                digital: patrones oscuros para manipular a los más vulnerables</a></h3>
        <span class="session-speaker">Lorena Sánchez</span>
        <span class="session-time">13:30 - 14:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/salas/privacidad-descentralizacion-soberania-digital" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/interfaces_usuario_soberania_digital.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yg6" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1400;">14:00</h2>

    <div class="session session-9 track-3" style="grid-column: track-3; grid-row: time-1400 / time-1430;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/freeds" target="_blank">FreeDs</a></h3>
        <span class="session-speaker">Lolo, Pablo ZG</span>
        <span class="session-time">14:00 - 14:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/freeds" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yfw" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1430;">14:30</h2>

    <div class="session session-10 track-all-break" style="grid-column: track-1-start / track-4-end; grid-row: time-1430 / time-1600;">
        <h3 class="session-title">COMIDA</h3>
    </div>

    <h2 class="time-slot" style="grid-row: time-1600;">16:00</h2>

    <div class="session session-10 track-1" style="grid-column: track-1; grid-row: time-1600 / time-1615;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/codigo-una-forma-de-expresion" target="_blank">¿Es el código una forma de expresión? ¿Debe ser protegido bajo el derecho a la libertad de expresión? ¿Cuáles serían
                las consecuencias de ésto?</a></h3>
        <span class="session-speaker">María del Mar Diez Henao</span>
        <span class="session-time">16:00 - 16:15</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/codigo-una-forma-de-expresion" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="https://w.wiki/5YfY" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-10 track-1" style="grid-column: track-1; grid-row: time-1615 / time-1630;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/desarrolladores-asalariados-quien-obra" target="_blank">Desarrolladores asalariados ¿de quién es la obra?</a></h3>
        <span class="session-speaker">Marelisa Blanco</span>
        <span class="session-time">16:15 - 16:30</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/desarrolladores-asalariados-quien-obra" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="https://w.wiki/5Yfb" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-10 track-2" style="grid-column: track-2; grid-row: time-1600 / time-1800;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/proxysql-configuracion-despliegue-galera" target="_blank">ProxySQL: Configuración y despliegue con Galera</a></h3>
        <span class="session-speaker">Javier Jaramago Fernández</span>
        <span class="session-time">16:00 - 17:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/proxysql-configuracion-despliegue-galera" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/proxysql-configuracion-despliegue-galera.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yfq" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-10 track-3" style="grid-column: track-3; grid-row: time-1600 / time-1800;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/freeds" target="_blank">FreeDs</a></h3>
        <span class="session-speaker">Lolo, Pablo ZG</span>
        <span class="session-time">16:00 - 17:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/freeds" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yfw" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-10 track-4" style="grid-column: track-4; grid-row: time-1600 / time-1700;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/salas/privacidad-descentralizacion-soberania-digital" target="_blank">[Sala "Privacidad, descentralización y soberanía digital"]<br><br>El estado de la IA y la privacidad en
                Europa</a></h3>
        <span class="session-speaker">OPEN SPACE</span>
        <span class="session-time">16:00 - 16:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/salas/privacidad-descentralizacion-soberania-digital" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yg8" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1630;">16:30</h2>

    <div class="session session-11 track-1" style="grid-column: track-1; grid-row: time-1630 / time-1700;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/gnu-health-creando-redes-salud" target="_blank">La federación GNU Health: creando redes de salud e investigación con software libre</a></h3>
        <span class="session-speaker">Luis Falcon</span>
        <span class="session-time">16:30 - 16:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/gnu-health-creando-redes-salud" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/gnu-health-creando-redes-salud.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yfd" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1700;">17:00</h2>

    <div class="session session-12 track-1" style="grid-column: track-1; grid-row: time-1700 / time-1730;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/novato-en-proyecto-legacy" target="_blank">Un novato en un proyecto legacy</a></h3>
        <span class="session-speaker">Almudena García</span>
        <span class="session-time">17:00 - 17:25</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/novato-en-proyecto-legacy" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/novato-en-proyecto-legacy.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yfe" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <div class="session session-12 track-4" style="grid-column: track-4; grid-row: time-1700 / time-1800;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/talleres/produccion-musical-libre-con-ardour" target="_blank">Producción musical libre con Ardour</a></h3>
        <span class="session-speaker">Cipriano Montes Aranda</span>
        <span class="session-time">17:00 - 17:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/talleres/produccion-musical-libre-con-ardour" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="https://w.wiki/5YgA" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1730;">17:30</h2>

    <div class="session session-13 track-1" style="grid-column: track-1; grid-row: time-1730 / time-1800;">
        <h3 class="session-title"><a href="https://propuestas.eslib.re/2022/charlas/ventajas_f-droid_frente_google_play" target="_blank">Las ventajas de usar F-Droid frente a Google Play: un par de Apps imprescindibles para la privacidad</a></h3>
        <span class="session-speaker">Luis Fajardo</span>
        <span class="session-time">17:30 - 17:55</span><br>
        <span class="session-speaker">

            <a href="https://propuestas.eslib.re/2022/charlas/ventajas_f-droid_frente_google_play" target="_blank"><img src="{{ '/assets/icons/info-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 0.65em !important" href="/2022/presentaciones/ventajas_f-droid_frente_google_play.pdf" target="_blank"><img src="{{ '/assets/icons/save-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>

            <a style="padding-left: 1em !important" href="https://w.wiki/5Yfg" target="_blank"><img src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
        </span>
    </div>

    <h2 class="time-slot" style="grid-row: time-1800;">18:00</h2>

    <div class="session session-14 track-all" style="grid-column: track-1-start / track-4-end; grid-row: time-1800 / time-1830;">
        <h3 class="session-title" style="text-align: center !important;">CLAUSURA DEL CONGRESO (SALÓN DE ACTOS DE MARCO) <br><br><a style="padding-left: 0.65em !important" href="https://w.wiki/5YgD" target="_blank"><img
                    src="{{ '/assets/icons/video-white.svg' | prepend: site.baseurl }}" height="20" width="20"></a></h3>
    </div>

    <h2 class="time-slot" style="grid-row: time-1830;">18:30</h2>

    <div class="session session-15 track-all" style="grid-column: track-1-start / track-4-end; grid-row: time-1830 / time-1930;">
        <h3 class="session-title" style="text-align: center !important;"><a href="https://www.wikimedia.es/2022/06/08/organizamos-sala-sobre-proyectos-wikimedia-en-eslibre-2022/" target="_blank">WIKIMEDIA ESPAÑA - #WikiTakesVigo: RECORRIDO
                FOTOGRÁFICO</a><br><br>Ruta bajo la dirección de una guía oficial facilitada por la<br> Concellería de Turismo e Xuventude do Concello de Vigo</h3>
    </div>

    <h2 class="time-slot" style="grid-row: time-1930;">19:30</h2>
</div>
