---
layout: 2022/default
ready: no
---

<div class="media">
  <img src="/2022/assets/imgs/banner_2022.png" alt="Logo esLibre" class="jumbotron mt-3 embed-responsive">
</div>

<div class="main-container container" style="padding-bottom: 1em !important;">
  <div class="row main-news">
    <div class="col-md-7">
      <h2>¡Volvemos presencialmente!</h2>

      <p>Otro año más volvemos con una edición de <strong>es<span class="red">Libre</span></strong> y parece que, por fin, esta será la vuelta a realizar las ediciones presenciales, en esta ocasión teniendo como comunidades anfitrionas a
        <a href="https://www.galpon.org/" target="_blank"><strong>GALPon</strong></a> y <a href="https://www.agasol.gal/" target="_blank"><strong>AGASOL</strong></a>, que harán posible que nos reunamos en los espacios de <a href="https://www.marcovigo.com/" target="_blank"><strong>MARCO</strong></a> y <a href="https://www.muta.gal/" target="_blank"><strong>MUTA</strong></a> para celebrar estas jornadas de conocimiento libre.
      </p>

      <p style="text-align: center;">
        <img src="/2022/assets/logos/galpon.png" height="250" alt="Logo GALPon">
        <img style="padding-left: 1.5em" src="/2022/assets/logos/agasol.png" height="250" alt="Logo AGASOL">
      </p>

      <p>El <strong>envío de propuestas ya está oficialmente cerrado</strong>, así que puedes informarte sobre todas las actividades del congreso en las siguientes páginas:
        <ul>
          <li><strong>Horario completo</strong>: <a href="/2022/horario/" target="_blank">https://eslib.re/2022/horario/</a></li>
          <li><strong>Propuestas aceptadas</strong>: <a href="https://propuestas.eslib.re/2022/" target="_blank">https://propuestas.eslib.re/2022/</a></li>
          </ul>
      </p>

      <p style="padding-top: 5px; text-align: center; font-size: 1.25rem;"><strong>La asistencia al evento es <span class="red">libre y gratuita</span>, pero por cuestiones de aforo necesitamos que <span class="red">te registres <a href="https://eventos.librelabgrx.cc/events/2e86b318-eed2-4e95-84da-42f8ea0337f9" target="_blank">aquí</a></span> si tienes pensado asistir.</strong></p>

      <p style="padding-top: 5px; text-align: center; font-size: 1.5rem;"><strong>¡¡¡Nos vemos dentro de poco!!!</strong></p>

      <!--
      <h2 style="padding-top: 0.25em">Últimas entradas en el blog:</h2>
      <ul>
        {% assign my_variable = false %}
          {% for post in site.posts %}
            {% if forloop.index != 4 %}
              {% if post.category == 2022 %}
                <li style="padding-bottom: 0.5em">
                  <small>{{post.date | date: "%-d %m %Y" }}</small>
                  <a href="{{post.url}}">{{post.title}}</a>
                </li>
              {% endif %}
            {% else %}
              {% break %}
            {% endif %}
          {% endfor %}
      </ul>
       -->
    </div>

    <div class="col-md-5">
      <img src="/2022/assets/imgs/2020_v2_small.jpg" width="400" alt="Mosaico 2020" class="embed-responsive">
    </div>
  </div>

  <div class="row">
    <h2 style="padding-left: 0.5em">Colaboradores:</h2>

    <div class="box">
      <a href="https://interferencias.tech/" target="_blank">
        <img src="/2022/assets/logos/interferencias.png" alt="Interferencias" class="images-small">
      </a>
      <a href="https://librelabgrx.cc" target="_blank">
        <img src="/2022/assets/logos/librelabgrx.png" alt="LibreLabGRX" class="images-small">
      </a>
      <a href="https://www.melisa.gal/" target="_blank">
        <img style="max-height: 100px !important;" src="/2022/assets/logos/melisa.png" alt="Asociación de usuarios de software libre da Terra de Melide" class="images-small">
      </a>
      <a href="https://ofilibre.gitlab.io/" target="_blank">
        <img src="/2022/assets/logos/ofilibre_urjc.png" alt="OfiLibre URJC" class="images-small">
      </a>
      <a href="https://wikimedia.es/" target="_blank">
        <img src="/2022/assets/logos/wikimedia_españa.png" alt="Wikimedia España" class="images-small">
      </a>
    </div>
  </div>

  <div class="row">
    <h2 style="padding-left: 0.5em; padding-top: 1em">Patrocinadores:</h2>
    <div class="box">
      <h3>Oro:</h3>
      <a href="https://www.xunta.gal/" target="_blank">
        <img src="/2022/assets/logos/xunta.png" style="padding-bottom: 2em !important" alt="Xunta de Galicia" height="160">
      </a>
      <br>
      <h3 style="padding-top: 1em">Plata:</h3>
      <a href="https://www.librebit.com" target="_blank">
        <img src="/2022/assets/logos/librebit.png" style="padding-bottom: 4.5em !important" alt="Librebit" height="195">
      </a>
    </div>
  </div>
</div>

<hr />
