<!DOCTYPE html>
<html lang="es">

{% include 2024/head.html %}

<body>
  {% include 2024/navbar.html %}

  <main role="main" class="container">
    <div style="margin-top: 1rem !important;">
      <h1 style="display: inline;" class="mt-3 mb-3">{{page.title}}</h1>&nbsp;&nbsp;
      <h5 style="display: inline;">(publicado el {{page.date | date: "%-d-%m-%Y" }})</h5>
      <br><br>
    </div>

    {{ content }}

    <br>
    <hr />
    <p style="text-align:center">
      <a href="/2024/blog/">Volver al índice</a>
    </p>
  </main>

  {% include footer.html %}
  {% include js.html %}

</body>

</html>
