---
layout: 2021/default
section: propuestas
title: Envío de propuestas - esLibre 2021 - Salas
description: Podéis usar este formulario si queréis organizar vuestro propio programa de una sala. ¡Animaros!
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2021 - Propuestas de salas</h1>

<p align="center">
  <cite style="color: black;">Por favor, antes de mandar una propuesta, asegúrate de haber leído la información en la página de <a href="/2021/propuestas/">"Envío de propuestas"</a>.</cite>
</p>

<p>También se puede proponer el programa de una sala, que se realizaría en paralelo con el resto de actividades del congreso. Normalmente una sala estará organizada por y/o para una comunidad, y habitualmente será especializada en un tema (aunque
  también puede ser generalista).<br><br>Sólo como ejemplo, en ediciones anteriores tuvimos salas que trataban temática más generales como el software libre en la Universidad, privacidad y derechos digitales o la divulgación de la cultura libre y
  otras más
  específicas como Perl/Raku, GNOME, la programación funcional o tecnologías para el fomento de la lengua andaluza.</p>

<div style="width: 60% !important; margin: auto;">
  <form id="create-talks" role="form" action="https://edp.eslib.re/form/devrooms-es" method="post">
    <div class="form-group"><span class="form-text text-muted" style="text-align: center !important;">Los campos marcados como (*) son obligatorios. Recuerda que para cualquier duda puedes escribirnos a <a
          href="mailto:propuestas@eslib.re">propuestas@eslib.re</a>.</span></div>
    <div class="form-group"><strong><label for="name">Nombre (*):</label></strong>
      <div id="name-counter-tag" class="tag is-danger"><span id="name-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="name" type="text" maxlength="150" onkeyup="counterDisplay(this, 'name', true)" required="required"
        class="form-control">
    </div>
    <div class="form-group"><strong><label for="description">Descripción de la sala (*):</label></strong>
      <div id="description-counter-tag" class="tag is-danger"><span id="description-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000</div><textarea name="description" cols="40" rows="5" maxlength="5000" style="resize:none; overflow-y: scroll;"
        aria-describedby="description-help-block" onkeyup="counterDisplay(this, 'description', true)" required="required" class="form-control"></textarea><span id="description-help-block" class="form-text text-muted">Explicación de la temática de la
        sala y la motivación para organizarla. Ten en cuenta que la idea de la sala es realizar una actividad semiautónoma dentro de esLibre, que tendrá normalmente su propia petición de contribuciones, sus propios organizadores, su propio horario
        (coordinado con el de esLibre), etc.</span>
    </div>
    <div class="form-group"><strong><label for="community_name">Nombre de la comunidad que la propone (*):</label></strong>
      <div id="community_name-counter-tag" class="tag is-danger"><span id="community_name-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input id="community_name" name="community_name" type="text" maxlength="150"
        onkeyup="counterDisplay(this, 'community_name', true)" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label for="community_description">Descripción de la comunidad (*):</label></strong>
      <div id="community_description-counter-tag" class="tag is-danger"><span id="community_description-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000</div><textarea name="community_description" cols="40" rows="5" maxlength="5000"
        style="resize:none; overflow-y: scroll;" aria-describedby="community_description-help-block" onkeyup="counterDisplay(this, 'community_description', true)" required="required" class="form-control"></textarea><span
        id="community_description-help-block" class="form-text text-muted">Descripción del grupo que propone la organización de la sala, así como otras actividades organizadas. Nombrar también a las personas que van a estar encargadas de la
        misma.</span>
    </div>
    <div class="form-group"><strong><label for="web">Web de la comunidad:</label></strong>
      <div id="web-counter-tag" class="tag is-danger"><span id="web-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="web" type="url" maxlength="150" aria-describedby="web-help-block" onkeyup="counterDisplay(this, 'web', true)"
        required="required" class="form-control"><span id="web-help-block" class="form-text text-muted">Página con información sobre el grupo que propone organizar la sala.</span>
    </div>
    <div class="form-group"><strong><label for="mastodon">Mastodon (u otras redes sociales libres):</label></strong>
      <div id="mastodon-counter-tag" class="tag is-success"><span id="mastodon-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="mastodon" type="url" maxlength="150" aria-describedby="mastodon-help-block"
        onkeyup="counterDisplay(this, 'mastodon', false)" class="form-control"><span id="mastodon-help-block" class="form-text text-muted">Cualquier perfil en una red social libre es válido, pero recordad introducir la URL completa para conocer
        también la instancia en la que os encontráis.</span>
    </div>
    <div class="form-group"><strong><label for="twitter">Twitter:</label></strong>
      <div id="twitter-counter-tag" class="tag is-success"><span id="twitter-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="twitter" type="text" maxlength="16" pattern="^@?[A-Za-z0-9_]{1,15}$"
        onkeyup="counterDisplay(this, 'twitter', false)" class="form-control"><span id="twitter-help-block" class="form-text text-muted">Si queréis que os mencionemos en Twitter al crear la propuesta, poned vuestro nombre de usuario.</span>
    </div>
    <div class="form-group"><strong><label for="gitlab">GitLab:</label></strong>
      <div id="gitlab-counter-tag" class="tag is-success"><span id="gitlab-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="gitlab" type="text" maxlength="255" pattern="^@?[A-Za-z0-9_-]{2,255}$"
        aria-describedby="gitlab-help-block" onkeyup="counterDisplay(this, 'gitlab', false)" class="form-control"><span id="gitlab-help-block" class="form-text text-muted">Si tenéis un perfil en GitLab, poned unicamente vuestro nombre de usuario y os
        mencionaremos al crear la propuesta (en caso contrario no os preocupéis, no hay ningún problema porque os avisaremos por correo igualmente).</span>
    </div>
    <div class="form-group"><strong><label for="github">Portfolio o GitHub (u otros sitios de código colaborativo):</label></strong>
      <div id="github-counter-tag" class="tag is-success"><span id="github-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="github" type="url" maxlength="150" aria-describedby="github-help-block"
        onkeyup="counterDisplay(this, 'github', false)" class="form-control"><span id="github-help-block" class="form-text text-muted">Cualquier otro sitio de desarrollo colaborativo donde tuvierais un perfil y quisierais mostrar vuestros proyectos,
        o
        también cualquier web que uséis como portfolio.</span>
    </div>
    <div class="form-group"><strong><label for="contact">Nombre de contacto (*):</label></strong>
      <div id="contact-counter-tag" class="tag is-danger"><span id="contact-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="contact" type="text" maxlength="150" onkeyup="counterDisplay(this, 'contact', true)"
        required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label for="email">Email de contacto (*):</label></strong>
      <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)" required="required"
        class="form-control">
    </div>
    <div class="form-group"><strong><label for="target">Público objetivo (*):</label></strong>
      <div id="target-counter-tag" class="tag is-danger"><span id="target-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;500</div><textarea name="target" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;"
        aria-describedby="target-help-block" onkeyup="counterDisplay(this, 'target', true)" required="required" class="form-control"></textarea><span id="target-help-block" class="form-text text-muted">¿A quién va dirigida?</span>
    </div>
    <div class="form-group"><strong><label for="format">Formato (*):</label></strong>
      <div id="format-counter-tag" class="tag is-danger"><span id="format-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;500</div><textarea name="format" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;"
        aria-describedby="format-help-block" onkeyup="counterDisplay(this, 'format', true)" required="required" class="form-control"></textarea><span id="format-help-block" class="form-text text-muted">Formato de la sala y cómo se va a hacer la
        solicitud de propuestas. El formato se deja totalmente abierto a decisión de la organización de la sala, pudiendo incluir: talleres, charlas cortas/largas, mesas redondas, hackathones... </span>
    </div>
    <div class="form-group"><strong><label for="length">Duración: (*)</label></strong>
      <div id="length-counter-tag" class="tag is-danger"><span id="length-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="length" type="text" maxlength="150" aria-describedby="length-help-block"
        onkeyup="counterDisplay(this, 'length', true)" required="required" class="form-control"><span id="length-help-block" class="form-text text-muted">Indicar la duración de la propuesta. Por ejemplo, desde dos horas hasta un día entero.</span>
    </div>
    <div class="form-group"><strong><label for="day">Día: (*)</label></strong>
      <div id="day-counter-tag" class="tag is-danger"><span id="day-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="day" type="text" maxday="150" aria-describedby="day-help-block" onkeyup="counterDisplay(this, 'day', true)"
        required="required" class="form-control"><span id="day-help-block" class="form-text text-muted">Indicar si se prefiere que sea el primer día o el segundo.</span>
    </div>
    <div class="form-group"><strong><label for="comments">Comentarios:</label></strong>
      <div id="comments-counter-tag" class="tag is-success"><span id="comments-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;500</div><textarea name="comments" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;"
        aria-describedby="comments-help-block" onkeyup="counterDisplay(this, 'comments', false)" class="form-control"></textarea><span id="comments-help-block" class="form-text text-muted">Cualquier otro comentario relevante para la
        organización.</span>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox"><input name="privacy_email" type="checkbox"><label for="privacy_email">&nbsp;No queremos que el email de contacto sea publicado con la información de la sala</label></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-control custom-checkbox"><input name="accept_coc" type="checkbox" required="required"><label for="accept_coc">&nbsp;Aceptamos seguir el <a href="/conducta" target="_blank">código de conducta</a> y solicitar a las personas asistentes su cumplimiento (*)</label></div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox"><input name="accept_coordination" type="checkbox" required="required"><label for="accept_coordination">&nbsp;Aceptamos coordinanos con la organización de esLibre para la realización de la sala
              (*)</label></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox"><input name="accept_timelimit" type="checkbox" required="required"><label for="accept_timelimit">&nbsp;Aceptamos que la sala puede ser retirada si no hay programa cerrado para fecha de cierre
              (*)</label></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox"><input name="accept_attend" type="checkbox" required="required"><label for="accept_attend">&nbsp;Al menos una persona estará conectada el día programado para coordinar la sala (*)</label></div>
        </div>
      </div>
    </div>
    <div class="form-group text-center"><button name="submit" type="submit" class="btn btn-primary">Enviar</button></div>
  </form>
</div>

<script src="/2021/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/2021/assets/js/validation.js"></script>
