---
layout: 2024/default
section: cuidados
permalink: /2024/caring
title: Child care services
---

<h1 style="text-align: center;" class="center mt-3">
  Child care services
</h1>

<p style="text-align: center;" >
  At this moment we can inform you that we will have a childcare service in the surroundings of Las Naves and La Mutant so that people with children's responsibilities can leave them under the care of specialized personnel who will also take care of their entertainment during the development of the event.
</p>

<div style="width: 60% !important; margin: auto;">
  <form id="create-talks" role="form" action="https://edp.eslib.re/form/care-service" method="post">
    <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
        <li>We simply need a minimum of personal information to fulfill your request.</li>
        <li>If we need any further details we will contact you.</li>
        <li>If you have any questions you can write to us at<a href="mailto:hola@eslib.re">hola@eslib.re</a></li>
        </ul>
      </span></div>
    <div class="form-group"><strong><label class="label-forms-text" for="name">Name of the responsible person:</label></strong>
      <div id="name-counter-tag" class="tag is-danger"><span id="name-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="name" type="text" maxlength="150" onkeyup="counterDisplay(this, 'name', true)" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="email">Email:</label></strong>
      <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="age">Child's age (in years):</label></strong>
      <input name="age" type="number" min="0" max="15" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="hours">Hours needed:</label></strong>
      <div id="hours-counter-tag" class="tag is-danger"><span id="hours-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="hours" type="text" maxlength="150" onkeyup="counterDisplay(this, 'hours', true)" required="required" class="form-control">
    </div>
    <div class="call-outer">
      <div class="form-group call-inner"><strong><label class="label-forms-text" for="call">Llamada:</label></strong>
        <div id="call-counter-tag" class="tag is-success"><span id="call-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="call" type="call" maxlength="150" onkeyup="counterDisplay(this, 'call', true)" class="form-control">
      </div>
    </div>
    <div class="form-group"><strong><label style="text-align: center;" class="label-forms-text">When you drop off your child, you will have to sign a release/waiver of liability, so you will have to be their legally responsible person.</label></strong>
    </div>
    <br>
    <div class="form-group text-center"><button name="submit" type="submit" class="btn btn-primary">Send</button></div>
  </form>
</div>

<script src="/2021/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/2021/assets/js/validation.js"></script>

<div class="media">
  <img style="display: block !important; margin-left: auto !important; margin-right: auto; !important; max-width: 60% !important; height: auto !important;" src="/2024/assets/imgs/banner.png" alt="Logo esLibre" class="jumbotron mt-3 embed-responsive">
</div>
