---
layout: 2024/default
section: cuidados
permalink: /2024/cuidados
title: Servicio de cuidado infantil
---

<h1 style="text-align: center;" class="center mt-3">
  Servicio de cuidado infantil
</h1>

<p style="text-align: center;" >
  En este momento podemos informar que dispondremos en el entorno de Las Naves y La Mutant de un servicio de cuidado para que las personas con responsabilidades infantiles puedan dejarles bajo la atención de personal especializado que se ocupará también de su entretenimiento durante el desarrollo de las jornadas.
</p>

<div style="width: 60% !important; margin: auto;">
  <form id="create-talks" role="form" action="https://edp.eslib.re/form/care-service" method="post">
    <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
        <li>Simplemente necesitamos un mínimo de información personal para atender tu petición</li>
        <li>Si necesitamos algún detalle más nos pondremos en contacto contigo</li>
        <li>Si tienes cualquier duda puedes escribirnos escribirnos a <a href="mailto:hola@eslib.re">hola@eslib.re</a></li>
        </ul>
      </span></div>
    <div class="form-group"><strong><label class="label-forms-text" for="name">Nombre de la persona responsable:</label></strong>
      <div id="name-counter-tag" class="tag is-danger"><span id="name-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="name" type="text" maxlength="150" onkeyup="counterDisplay(this, 'name', true)" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="email">Email:</label></strong>
      <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="age">Edad del niño/a (en años):</label></strong>
      <input name="age" type="number" min="0" max="15" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="hours">Horario necesitado:</label></strong>
      <div id="hours-counter-tag" class="tag is-danger"><span id="hours-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="hours" type="text" maxlength="150" onkeyup="counterDisplay(this, 'hours', true)" required="required" class="form-control">
    </div>
    <div class="call-outer">
      <div class="form-group call-inner"><strong><label class="label-forms-text" for="call">Llamada:</label></strong>
        <div id="call-counter-tag" class="tag is-success"><span id="call-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="call" type="call" maxlength="150" onkeyup="counterDisplay(this, 'call', true)" class="form-control">
      </div>
    </div>
    <div class="form-group"><strong><label style="text-align: center;" class="label-forms-text">Cuando dejes al niño/a, tendrás que firmar un documento de descargo/exención de responsabilidades, por lo que para ello tendrás que ser su persona legalmente responsable.</label></strong>
    </div>
    <br>
    <div class="form-group text-center"><button name="submit" type="submit" class="btn btn-primary">Enviar</button></div>
  </form>
</div>

<script src="/2021/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/2021/assets/js/validation.js"></script>

<div class="media">
  <img style="display: block !important; margin-left: auto !important; margin-right: auto; !important; max-width: 60% !important; height: auto !important;" src="/2024/assets/imgs/banner.png" alt="Logo esLibre" class="jumbotron mt-3 embed-responsive">
</div>
