---
layout: 2020/default
section: c4p
title: Envío de propuestas para esLibre
---

<p style="padding-top: 1em" align="center">
  <cite style="color: black;">
    <strong><span class="red">ATENCIÓN</span></strong>: Debido a la situación por el COVID-19, la celebración de <strong>es<span class="red">Libre</span> 2020</strong> finalmente se celebrará de forma <strong>completamente online</strong>. Más información <a href="/2020/reanudacion/">aquí</a>.
  </cite>
</p>

<h1 class="mt-3 mb-3">Petición de contribuciones para <strong>es<span class="red">Libre</span></strong> 2020</h1>

<p align="center">
  <cite style="color: black;">
    You can find an English version of this text <a href="/2020/c4p-en/">here</a>.
  </cite>
</p>

<p>
  <cite style="color: grey;">
    Por favor, reenvía esta petición de contribuciones a quien pueda encontrarla interesante.
  </cite>
</p>

<p>
  <cite style="color: grey;">
    ¡Plazo reabierto para la edición virtual! Consulta las nuevas fechas límite.
  </cite>
</p>

<p>
  El <a href="https://eslib.re">congreso <strong>es<span class="red">Libre</span></strong></a> es un encuentro de <i>personas interesadas en
    las tecnologías libres, enfocado a compartir conocimiento y experiencia alrededor de las mismas</i>. La próxima edición se celebrará de forma online transmitiendo desde la
  <strong><a href="https://www.urjc.es/">Universidad Rey Juan Carlos</a> (Madrid)</strong> los días <strong>18 y 19 de septiembre de 2020</strong>.
</p>

<p>
  En <strong>es<span class="red">Libre</span></strong> tratamos de tener un congreso anual que recupere y mantenga la idea de comunidad, en
  el que podamos aprovechar la experiencia de las viejas glorias y las ganas de la gente nueva. Queremos conseguir un ambiente técnico, pero
  que no olvide, y explique, lo importante que es que la tecnología sea libre.
</p>

<p>
  Queremos también abrir el congreso a la comunidad más amplia interesada en la cultura libre, quizás con menos enfoque en la tecnología,
  pero con igual interés en compartir.
</p>

<h3 class="mt-3 mb-3">Temática</h3>

<p>
  El <strong>software libre</strong> es la temática central de <strong>es<span class="red">Libre</span></strong>. Alrededor de ella, también
  se contemplan otras <strong>tecnologías libres</strong> (por ejemplo, <strong>hardware libre</strong>), y el mundo menos tecnológico del
  <strong>conocimiento libre</strong>. En líneas generales, <i>temas relacionados directamente con obras (software, hardware, obras
    culturales, etc.) que se distribuyan con licencias libres</i>, según la <a href="https://opensource.org/osd">definición de OSI de open
    source</a> o la <a href="https://www.gnu.org/philosophy/free-sw.html">definición de la FSF de software libre</a>, o que cumplan la
  <a href="https://freedomdefined.org/Definition">definición de obra cultural libre</a> se considera que encajan perfectamente en
  <strong>es<span class="red">Libre</span></strong>.
</p>

<p>
  Aunque mucho software libre, y en general, obras libres, se distribuye comercialmente, queremos mantener
  <strong>es<span class="red">Libre</span></strong> como un foro neutro con respecto a los intereses comerciales. <u>En general, no se
    aceptarán ponencias, talleres o salas que promocionen específicamente una oferta comercial.</u>
</p>

<h3 class="mt-3 mb-3">Tipos de contribuciones</h3>

<p>
  Hay varios tipos de contribuciones que puedes proponer:
</p>

<ul>
  <li><strong>Charla</strong>. Presentación "tradicional", en formato normal (20 min. aproximadamente) o en formato relámpago (10 min.
    aproximadamente). La organización podrá proponer cambios de formato a alguna de las charlas, por motivos organizativos o de contenidos.
    También podrá, de forma excepcional, proponer a alguna charla un formato más largo.</li>
  <li><strong>Sala (devroom)</strong>. Organización del programa de una sala, que discurrirá en paralelo con otras actividades del congreso.
    Normalmente una sala estará organizada por y/o para una comunidad, y habitualmente será especializada en un tema (aunque también puede
    ser generalista). Sólo como ejemplo, en 2019 tuvimos las siguientes salas: Software libre en la Universidad; Privacidad,
    descentralización y soberanía digital; Perl; Informática y Matemáticas.</li>
  <li><strong>Taller</strong>. Presentación práctica, "manos en la masa". Puede ser en muchos formatos, desde demostraciones que los
    asistentes puedan seguir, hasta sesiones de iniciación a una tecnología, donde los asistentes puedan experimentar con ella.</li>
  <li><strong>Otra</strong>. ¡Usa tu imaginación! Propón otros formatos, estamos interesados en explorar otras formas de compartir
    conocimiento.</li>
</ul>

<p>
  En la plantilla para proponer cada tipo de contribución podrás encontrar algún detalle más.
</p>

<h3 class="mt-3 mb-3">Fechas</h3>

<ul>
  <li>Fecha límite de propuesta de charlas, talleres, sala y otras: <strong>31 de agosto</strong></li>
  <li>Fecha límite de programa de salas: <strong>31 de agosto</strong> (ese día tendrán que tener su programa finalizado)</li>
  <li>Celebración del congreso <strong>es<span class="red">Libre</span></strong>: <strong>18 y 19 de septiembre</strong></li>
</ul>

<p>
  <strong>Todas las fechas son a las 23:59 hora de Madrid.</strong>
</p>

<h3 class="mt-3 mb-3">Cómo proponer tu contribución</h3>

<p>
  La petición de contribuciones está abierta a todo el mundo. La forma de proponer una contribución será mediante un
  <strong><a href="https://docs.gitlab.com/ee/user/project/merge_requests/creating_merge_requests.html">merge request</a> (pull request)
  </strong> en el <strong><a href="https://gitlab.com/eslibre/propuestas">repositorio de propuestas</a></strong>.
</p>

<p>
  Para cada tipo de contribución tienes una plantilla en la carpeta raíz de este repositorio. Cópiala a la carpeta del año en curso, dentro
  de la subcarpeta correspondiente (charlas, salas, etc.). Usa un nombre de fichero que no esté ya usado, y que refleje el título de tu
  propuesta. Rellénala y haz un merge request que la incluya, para proponer tu actividad.
</p>

<p>
  <u>Cualquiera podrá ver estas propuestas, y si quiere, comentarlas</u>. La organización de <strong>es<span class="red">Libre</span></strong>
  irá comentando y aceptando (o no) las que le vaya pareciendo conveniente, de acuerdo con su idea sobre el congreso. Si propones una
  contribución, estate atento a los comentarios que puedas recibir, pueden incluir preguntas y peticiones de clarificación que sería
  conveniente responder.
</p>

<p>
  Si tienes problemas de cualquier tipo, o no sabes cómo funciona la mecánica de abrir un merge request,
  <strong><a href="https://gitlab.com/eslibre/propuestas/issues/new">abre una incidencia en ese mismo repositorio</a></strong>,
  por favor. Para poder hacerlo, tendrás que usar una cuenta de GitLab.
</p>

<p>
  También puedes coger la plantilla que corresponda del <a href="https://gitlab.com/eslibre/propuestas/">repositorio de propuestas
  </a> (<a href="https://gitlab.com/eslibre/propuestas/-/blob/master/plantillas/plantilla-charla.md">plantilla-charla.md</a>, etc.), la
  rellenas, y nos la envías por correo electrónico a <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a>, poniendo como
  asunto del mensaje el título de la propuesta, y en la primera línea del mensaje, tu usuario de GitLab (para que podamos
  mencionarte cuando abramos el merge request en tu nombre, y así veas más fácilmente los comentarios que pueda haber).
</p>
