---
layout: 2022/default-gl
section: propuestas
permalink: /2022/espazo-misc
title: Espazo de misceláneas - esLibre 2022
description: Podes usar este formulario si queres enviarnos calquera proposta que teñas en mente, pero que non se axusta ao resto de categorías existentes.
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2022 - Espazo de misceláneas</h1>

<p align="center">
  <cite style="color: black;">Antes de enviar unha proposta, asegúrate de ter lido a información da páxina <a href="/2022/info-propostas/">"Envío de propostas"</a>.</cite>
</p>

<div style="width: 60% !important; margin: auto;">
  <form id="create-talks" role="form" action="https://edp.eslib.re/form/misc-gl" method="post">
    <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
        <li>Os campos marcados como (*) son obrigatorios</li>
        <li>Non empregues nas túas propostas recursos de Google, Microsoft ou, en xeral, de ningunha empresa que non respecte doadamente a privacidade das persoas.</li>
        <li>Lembra que para calquera dúbida podes escribirnos a <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a></li>
        </ul>
      </span></div>
    <div class="form-group"> <strong><label class="label-forms-text" for="title">Título (*):</label></strong>
      <div id="title-counter-tag" class="tag is-danger"><span id="title-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="title" type="text" maxlength="150" onkeyup="counterDisplay(this, 'title', true)"
        required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="abstract">Resumo:</label></strong>
      <div id="abstract-counter-tag" class="tag is-success"><span id="abstract-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000&nbsp;</div><textarea name="abstract" cols="40" rows="5" maxlength="1000"
        style="resize:none; overflow-y: scroll;" aria-describedby="abstract-help-block" onkeyup="counterDisplay(this, 'abstract', false)" class="form-control"></textarea><span id="abstract-help-block"
        class="form-text text-muted list-forms-text">Pequena introdución e motivación da proposta.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text">Tipo de actividade (*):</label></strong>
      <div>
        <div class="custom-control label-check"><input name="format" type="radio" required="required" value="A"><label for="format">&nbsp;Artigos</label></div>
        <div class="custom-control label-check"><input name="format" type="radio" required="required" value="P"><label for="format">&nbsp;Pósters</label> </div>
        <div class="custom-control label-check"><input name="format" type="radio" required="required" value="T"><label for="format">&nbsp;Taboleiro de proxectos</label> </div>
        <div class="custom-control label-check"><input name="format" type="radio" required="required" value="O"><label for="format">&nbsp;Outros formatos (explícao na descrición)</label> </div>
      </div>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="description">Descrición (*):</label></strong>
      <div id="description-counter-tag" class="tag is-danger"><span id="description-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000&nbsp;</div><textarea name="description" cols="40" rows="5" maxlength="5000"
        style="resize:none; overflow-y: scroll;" aria-describedby="description-help-block" onkeyup="counterDisplay(this, 'description', true)" required="required" class="form-control"></textarea><span id="description-help-block"
        class="form-text text-muted list-forms-text">Descrición algo máis extensa sobre a temática e o contido da proposta.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="project">Web do proxecto:</label></strong>
      <div id="project-counter-tag" class="tag is-success"><span id="project-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="project" type="url" maxlength="150" aria-describedby="project-help-block"
        onkeyup="counterDisplay(this, 'project', false)" class="form-control"><span id="project-help-block" class="form-text text-muted list-forms-text">Páxina con información sobre o proxecto (se a hai).</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="target">Público obxectivo:</label></strong>
      <div id="target-counter-tag" class="tag is-success"><span id="target-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000&nbsp;</div><textarea name="target" cols="40" rows="5" maxlength="1000" style="resize:none; overflow-y: scroll;"
        aria-describedby="target-help-block" onkeyup="counterDisplay(this, 'target', false)" class="form-control"></textarea><span id="target-help-block" class="form-text text-muted list-forms-text">A quen crees que podería resultarlle interesante este tema (utilidade, campos relacionados, posibilidades...)?</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="name">Nome (*):</label></strong>
      <div id="name-counter-tag" class="tag is-danger"><span id="name-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="name" type="text" maxlength="150" onkeyup="counterDisplay(this, 'name', true)"
        required="required" class="form-control"><span id="project-help-block" class="form-text text-muted list-forms-text">Podes usar un pseudónimo si o prefires.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="email">Correo-e (*):</label></strong>
      <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)"
        required="required" class="form-control"><span id="project-help-block" class="form-text text-muted list-forms-text">Precisámolo para comunicarnos contigo, mais non se publicará en ningún momento.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="bio">Bio:</label></strong>
      <div id="bio-counter-tag" class="tag is-success"><span id="bio-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;2000&nbsp;</div><textarea name="bio" cols="40" rows="5" maxlength="2000" style="resize:none; overflow-y: scroll;"
        aria-describedby="bio-help-block" onkeyup="counterDisplay(this, 'bio', false)" class="form-control"></textarea><span id="bio-help-block" class="form-text text-muted list-forms-text">Necesitaríamos algo de información xeral sobre a persoa ou persoas que van levar a cabo a proposta: intereses persoais, experiencia na materia, se realizou actividades semellantes...</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="web">Web persoal:</label></strong>
      <div id="web-counter-tag" class="tag is-success"><span id="web-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="web" type="url" maxlength="150" aria-describedby="web-help-block"
        onkeyup="counterDisplay(this, 'web', false)" class="form-control"><span id="web-help-block" class="form-text text-muted list-forms-text">Por si tes unha web persoal que queiras compartir.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="mastodon">Mastodon (ou outras redes sociais libres):</label></strong>
      <div id="mastodon-counter-tag" class="tag is-success"><span id="mastodon-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="mastodon" type="url" maxlength="150" aria-describedby="mastodon-help-block"
        onkeyup="counterDisplay(this, 'mastodon', false)" class="form-control"><span id="mastodon-help-block" class="form-text text-muted list-forms-text">Calquera perfil nunha rede social libre é válido, mais lembra introducir o URL completo para coñecer tamén a instancia na que te atopas para que poidamos atoparte.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="twitter">Twitter:</label></strong>
      <div id="twitter-counter-tag" class="tag is-success"><span id="twitter-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;16&nbsp;</div><input name="twitter" type="text" maxlength="16" pattern="^@?[A-Za-z0-9_]{1,15}$"
        onkeyup="counterDisplay(this, 'twitter', false)" class="form-control"><span id="mastodon-help-block" class="form-text text-muted list-forms-text">Indica solo o teu nome no Twitter.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="gitlab">GitLab (ou calquera sitio de código colaborativo) ou portafolios:</label></strong>
      <div id="gitlab-counter-tag" class="tag is-success"><span id="gitlab-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="gitlab" type="text" maxlength="255" aria-describedby="gitlab-help-block"
        onkeyup="counterDisplay(this, 'gitlab', false)" class="form-control"><span id="gitlab-help-block" class="form-text text-muted list-forms-text">No caso de querer compartir os teus proxectos.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="comments">Comentarios:</label></strong>
      <div id="comments-counter-tag" class="tag is-success"><span id="comments-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000&nbsp;</div><textarea name="comments" cols="40" rows="5" maxlength="1000"
        style="resize:none; overflow-y: scroll;" aria-describedby="comments-help-block" onkeyup="counterDisplay(this, 'comments', false)" class="form-control"></textarea><span id="comments-help-block"
        class="form-text text-muted list-forms-text">Calquera outro comentario relevante para a organización.</span>
    </div>
    <div class="call-outer">
      <div class="form-group call-inner"><strong><label class="label-forms-text" for="call">Chamada:</label></strong>
        <div id="call-counter-tag" class="tag is-success"><span id="call-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="call" type="call" maxlength="150" onkeyup="counterDisplay(this, 'call', true)"
          class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-control custom-checkbox"><input name="accept_coc" type="checkbox" required="required"><label class="label-forms-text" for="accept_coc">&nbsp;Acepto seguir o <a href="/conduta" target="_blank">código de conduta</a>
            durante a miña participación no congreso (*)</label></div>
      </div>
    </div>
    <div class="form-group text-center"><button name="submit" type="submit" class="btn btn-primary">Enviar</button></div>
  </form>
</div>

<script src="/2021/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/2021/assets/js/validation.js"></script>
