---
layout: 2022/default-gl
section: propuestas
permalink: /2022/enviar-salas-gl
title: Propostas de salas - esLibre 2022
description: Organizade vosa propia sala en esLibre 2022!
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2022 - Propostas de salas</h1>

<p align="center">
  <cite style="color: black;">Antes de enviar unha proposta, asegúrate de ter lido a información da páxina <a href="/2022/info-propostas/">"Envío de propostas"</a>.</cite>
</p>

<div style="width: 60% !important; margin: auto;">
  <form id="create-talks" role="form" action="https://edp.eslib.re/form/devrooms-gl" method="post">
    <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
        <li>Os campos marcados como (*) son obrigatorios</li>
        <li>Non empregues nas túas propostas recursos de Google, Microsoft ou, en xeral, de ningunha empresa que non respecte doadamente a privacidade das persoas.</li>
        <li>Lembra que para calquera dúbida podes escribirnos a <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a></li>
        </ul>
      </span></div>
    <div class="form-group"> <strong><label class="label-forms-text" for="title">Título (*):</label></strong>
      <div id="title-counter-tag" class="tag is-danger"><span id="title-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="title" type="text" maxlength="150" onkeyup="counterDisplay(this, 'title', true)"
        required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label for="description">Descrición da sala (*):</label></strong>
      <div id="description-counter-tag" class="tag is-danger"><span id="description-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000</div><textarea name="description" cols="40" rows="5" maxlength="5000" style="resize:none; overflow-y: scroll;"
        aria-describedby="description-help-block" onkeyup="counterDisplay(this, 'description', true)" required="required" class="form-control"></textarea><span id="description-help-block" class="form-text text-muted">Explicación da temática da sala e da motivación para organizala. Tende en conta que a idea da sala é realizar unha actividade semiautónoma dentro de <strong>es<span class="red">Libre</span></strong>, que normalmente contará cunha solicitude de propostas propia, un equipo de organización propio, un horario propio (coordinado con <strong>es<span class="red">Libre</span></strong>)...</span>
    </div>
    <div class="form-group"><strong><label for="community_name">Comunidade que propón a sala (*):</label></strong>
      <div id="community_name-counter-tag" class="tag is-danger"><span id="community_name-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input id="community_name" name="community_name" type="text" maxlength="150"
        onkeyup="counterDisplay(this, 'community_name', true)" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label for="community_description">Info sobre a vosa comunidade (*):</label></strong>
      <div id="community_description-counter-tag" class="tag is-danger"><span id="community_description-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000</div><textarea name="community_description" cols="40" rows="5" maxlength="5000"
        style="resize:none; overflow-y: scroll;" aria-describedby="community_description-help-block" onkeyup="counterDisplay(this, 'community_description', true)" required="required" class="form-control"></textarea><span
        id="community_description-help-block" class="form-text text-muted">Información sobre o grupo que propón a organización da sala, así como outras actividades organizadas. Tamén sería conveniente indicar as persoas que se encargarán do mesmo.</span>
    </div>
    <div class="form-group"><strong><label for="web">Web da comunidade (*):</label></strong>
      <div id="web-counter-tag" class="tag is-danger"><span id="web-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="web" type="url" maxlength="150" aria-describedby="web-help-block" onkeyup="counterDisplay(this, 'web', true)"
        required="required" class="form-control"><span id="web-help-block" class="form-text text-muted">Páxina con información sobre o grupo que propón organizar a sala.</span>
    </div>
    <div class="form-group"><strong><label for="target">Público obxectivo (*):</label></strong>
      <div id="target-counter-tag" class="tag is-danger"><span id="target-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000</div><textarea name="target" cols="40" rows="5" maxlength="1000" style="resize:none; overflow-y: scroll;"
        aria-describedby="target-help-block" onkeyup="counterDisplay(this, 'target', true)" required="required" class="form-control"></textarea><span id="target-help-block" class="form-text text-muted">A quen crees que podería resultarlle interesante este tema (utilidade, campos relacionados, posibilidades...)?</span>
    </div>
    <div class="form-group"><strong><label for="format">Formato da sala (*):</label></strong>
      <div id="format-counter-tag" class="tag is-danger"><span id="format-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000</div><textarea name="format" cols="40" rows="5" maxlength="5000" style="resize:none; overflow-y: scroll;"
        aria-describedby="format-help-block" onkeyup="counterDisplay(this, 'format', true)" required="required" class="form-control"></textarea><span id="format-help-block" class="form-text text-muted">Formato da sala e como se realizará a solicitude de propostas. O formato queda totalmente aberto á decisión da organización da sala, podendo incluír: obradoiros, relatorios curtos/longos, mesas redondas, hackathons...<br><strong>IMPORTANTE</strong>: incluír tamén a duración que tería (de dúas horas a un día enteiro) e o día que preferides facelo (venres ou sábado).</span>
    </div>
    <div class="form-group"><strong><label for="mastodon">Mastodon (ou outras redes sociais libres):</label></strong>
      <div id="mastodon-counter-tag" class="tag is-success"><span id="mastodon-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="mastodon" type="url" maxlength="150" aria-describedby="mastodon-help-block"
        onkeyup="counterDisplay(this, 'mastodon', false)" class="form-control"><span id="mastodon-help-block" class="form-text text-muted">Calquera perfil nunha rede social libre é válido, mais lembra introducir o URL completo para coñecer tamén a instancia na que te atopas para que poidamos atoparte.</span>
    </div>
    <div class="form-group"><strong><label for="twitter">Twitter:</label></strong>
      <div id="twitter-counter-tag" class="tag is-success"><span id="twitter-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="twitter" type="text" maxlength="16" pattern="^@?[A-Za-z0-9_]{1,15}$"
        onkeyup="counterDisplay(this, 'twitter', false)" class="form-control"><span id="twitter-help-block" class="form-text text-muted">Indica solo o teu nome no Twitter.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="gitlab">GitLab (ou calquera sitio de código colaborativo) ou portafolios:</label></strong>
      <div id="gitlab-counter-tag" class="tag is-success"><span id="gitlab-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="gitlab" type="text" maxlength="255" aria-describedby="gitlab-help-block"
        onkeyup="counterDisplay(this, 'gitlab', false)" class="form-control"><span id="gitlab-help-block" class="form-text text-muted list-forms-text">No caso de querer compartir os teus proxectos.</span>
    </div>
    <div class="form-group"><strong><label for="contact">Persoa de contacto (*):</label></strong>
      <div id="contact-counter-tag" class="tag is-danger"><span id="contact-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="contact" type="text" maxlength="150" onkeyup="counterDisplay(this, 'contact', true)"
        required="required" class="form-control"><span id="contact-help-block" class="form-text text-muted list-forms-text">Persoa que fará de contacto directo coa organización.</span>
    </div>
    <div class="form-group"><strong><label for="email">Correo-e de contacto (*):</label></strong>
      <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)" required="required"
        class="form-control"><span id="contact-help-block" class="form-text text-muted list-forms-text">Correo para comunicarnos con vosoutros (non será público).</span>
    </div>
    <div class="form-group"><strong><label for="comments">Comentarios:</label></strong>
      <div id="comments-counter-tag" class="tag is-success"><span id="comments-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000</div><textarea name="comments" cols="40" rows="5" maxlength="1000" style="resize:none; overflow-y: scroll;"
        aria-describedby="comments-help-block" onkeyup="counterDisplay(this, 'comments', false)" class="form-control"></textarea><span id="comments-help-block" class="form-text text-muted">Calquera outro comentario relevante para a organización.</span>
    </div>
    <div class="call-outer">
      <div class="form-group call-inner"><strong><label class="label-forms-text" for="call">Chamada:</label></strong>
        <div id="call-counter-tag" class="tag is-success"><span id="call-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="call" type="call" maxlength="150" onkeyup="counterDisplay(this, 'call', true)"
          class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-control custom-checkbox"><input name="accept_coc" type="checkbox" required="required"><label class="label-forms-text" for="accept_coc">&nbsp;Aceptamos seguir o <a href="/conduta" target="_blank">código de conduta</a>
            durante a nosa participación no congreso (*)</label></div>
      </div>
    </div>
    <div class="form-group text-center"><button name="submit" type="submit" class="btn btn-primary">Enviar</button></div>
  </form>
</div>

<script src="/2021/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/2021/assets/js/validation.js"></script>
