---
layout: 2022/default-gl
section: propuestas
permalink: /2022/error-gl
title: Envío de propostas esLibre 2021 - Erro
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2022: Produciuse un erro</h1>

<p style="text-align: center; padding-bottom: 15em">
  <br><br>Parece que se produciu un erro ao enviar a proposta.<br><br>

  Por favor, volve tentalo nuns minutos, e si segues tendo calquera problema escríbenos a <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a>.<br><br>

  Perdoa polas molestias.
</p>
