---
layout: 2022/default-gl
section: propuestas
permalink: /2022/recibida-gl
title: Envío de propostas esLibre 2022 - Proposta recibida
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2022: Proposta recibida!!!</h1>

<p style="text-align: center;">
  <strong>Moitas grazas pola túa proposta para esta nuevo edición de <strong>es<span class="red">Libre</span></strong> 2022 que estamos a organizar outro ano máis!</strong><br><br>

  Deberías recibir un email de confirmación desde <strong>tux@eslib.re</strong> (🐧).<br><br>

  Si has chegado a este páxina, pero non che chegou o correo de confirmación, escríbemos a <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a><br>(comproba tamén si polo que sexa houbese ir ao cartafol de spam 😅).<br><br>

  Lembra que este ano <strong>o congreso celebrarase os días 24 e 25 de xuño</strong> e que <strong>o programa final publicarase o 24 de abril</strong> para que así teñas tempo de ir organizándoche para a túa participación no congreso.<br><br>

  En calquera caso, non perdas de vista <a href="https://gitlab.com/eslibre/propuestas/-/merge_requests">a túa proposta no noso repositorio</a> por si houbese algún comentario ou pregunta<br>(a ligazón que che debería chegar por correo levarache directamente a ela).<br><br>
</p>

<h3 style="padding-top: 20px; text-align: center;">ATA PRONTO!!!<br>👏👏👏</h3>
