---
layout: 2022/default
section: propuestas
permalink: /2022/bolsa-recibida
title: esLibre 2022 - Solicitud ayuda asistencia recibida / Solicitude axuda asistencia recibida
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2022: Solicitud de ayuda para la asistencia recibida / Solicitude de axuda para a asistencia recibida</h1>

<h3 class="mt-3 mb-3 text-center"><strong>ES</strong></h3>

<p style="text-align: center;">
  <strong>¡Esperamos poder ayudarte a asistir a esta edición de <strong>es<span class="red">Libre</span></strong> 2022 que estamos organizando otro año más!</strong><br><br>

  Deberías haber recibido un email de confirmación desde <strong>tux@eslib.re</strong> (🐧).<br><br>

  Si has llegado a esta página, pero no te ha llegado el correo de confirmación, escríbemos a <a href="mailto:hola@eslib.re">hola@eslib.re</a><br>(comprueba también si por lo que sea hubiera ido a la carpeta de spam 😅).<br><br>

  Nos pondremos en contacto contigo cuando revisemos tu solicitud tanto si necesitamos<br>más información como comentarte qué podemos hacer para solucionar tu caso.<br><br>
</p>

<h3 class="mt-3 mb-3 text-center"><strong>GL</strong></h3>

<p style="text-align: center;">
  <strong>Esperamos poder axudarche a asistir a este edición de <strong>es<span class="red">Libre</span></strong> 2022 que estamos a organizar outro ano máis!</strong><br><br>

  Deberías recibir un email de confirmación desde <strong>tux@eslib.re</strong> (🐧).<br><br>

  Si has chegado a este páxina, pero non che chegou o correo de confirmación, escríbemos a <a href="mailto:hola@eslib.re">hola@eslib.re</a><br>(comproba tamén si polo que sexa houbese ir ao cartafol de spam 😅).<br><br>

  Poñerémonos en contacto contigo cando revisemos a túa solicitude tanto si necesitamos<br>máis información como comentarche que podemos facer para solucionar o teu caso.
  <br><br>
</p>