---
layout: 2022/default
section: propuestas
permalink: /2022/form-bolsa
title: Formulario bolsa - esLibre 2022
---

<h2 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2022</h2>
<h3 class="mt-3 mb-3 text-center">Ayuda para asistencia sin participación activa a personas pertenencientes a grupos menos representados / Axuda para asistencia sen participación activa a persoas pertencentes a grupos menos representados</h3>

<p align="center">
  <cite style="color: black;">Por favor, antes de mandar una propuesta, asegúrate de haber leído la información en la página de <a href="/2022/bolsa-viaje/">"Solicitud de fondos"</a>.</cite><br>
  <cite style="color: black;">Antes de enviar unha proposta, asegúrate de ler a información na páxina de <a href="/2022/bolsa-viaxe/">"Solicitude de fondos"</a>.</cite>
</p>

<div style="width: 60% !important; margin: auto;">
  <form id="create-talks" role="form" action="https://edp.eslib.re/form/grants-attendance" method="post">
    <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
        <li>Simplemente necesitamos un mínimo de información personal para atender tu petición</li>
        <li>Si necesitamos algún detalle más nos pondremos en contacto contigo</li>
        <li>Si tienes cualquier duda puedes escribirnos escribirnos a <a href="mailto:hola@eslib.re">hola@eslib.re</a></li>
        </ul>
      </span></div>
    <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
        <li>Simplemente necesitamos un mínimo de información persoal para atender a túa petición</li>
        <li>Se necesitamos algún detalle máis porémonos en contacto contigo</li>
        <li>Se tes calquera dúbida podes escribirnos a <a href="mailto:hola@eslib.re">hola@eslib.re</a></li>
        </ul>
      </span></div>
    <div class="form-group"><strong><label class="label-forms-text" for="name">Nombre / Nome:</label></strong>
      <div id="name-counter-tag" class="tag is-danger"><span id="name-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="name" type="text" maxlength="150" onkeyup="counterDisplay(this, 'name', true)"
        required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="email">Email / Correo-e:</label></strong>
      <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)"
        required="required" class="form-control"><span id="project-help-block" class="form-text text-muted list-forms-text">Lo necesitamos para comunicarnos contigo, pero no será publicado en ningún lugar.<br>Necesitámolo para comunicarnos contigo, mais non será publicado en ningún lugar.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="bio">Info personal / Info persoal:</label></strong>
      <div id="bio-counter-tag" class="tag is-danger"><span id="bio-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000&nbsp;</div><textarea name="bio" cols="40" rows="5" maxlength="5000" style="resize:none; overflow-y: scroll;"
        aria-describedby="bio-help-block" onkeyup="counterDisplay(this, 'bio', true)" required="required" class="form-control"></textarea><span id="bio-help-block" class="form-text text-muted list-forms-text"><br><strong>(ES)</strong> Para hacer una primera valoración de las
        solicitudes necesitamos algo de información sobre ti: si tienes algún tipo de formación tecnológica (no es necesario que sea oficial), si estás intentando reconducir tu carrera profesional aunque sea de forma autodidacta, si no te dedicas
        a nada relacionado con la tecnología pero tienes interés...<br><br><strong>(GL)</strong> Para facer unha primeira valoración das solicitudes necesitamos algo de información sobre ti: se tes algún tipo de formación tecnolóxica (non é necesario que sexa oficial), se estás a tentar reconducir a túa carreira profesional aínda que sexa de xeito autodidacta, se non te dedicas a nada relacionado coa tecnoloxía pero tes interese... </span>
    </div>
    <div class="call-outer">
      <div class="form-group call-inner"><strong><label class="label-forms-text" for="call">Llamada:</label></strong>
        <div id="call-counter-tag" class="tag is-success"><span id="call-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="call" type="call" maxlength="150" onkeyup="counterDisplay(this, 'call', true)"
          class="form-control">
      </div>
    </div>
    <div class="form-group text-center"><button name="submit" type="submit" class="btn btn-primary">Enviar</button></div>
  </form>
</div>

<script src="/2021/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/2021/assets/js/validation.js"></script>
