---
layout: 2022/default-en
section: propuestas
permalink: /2022/received
title: Submission of proposals esLibre 2022 - Proposal received
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2022: Proposal received!!!</h1>

<p style="text-align: center;">
  <strong>Thank you very much for your proposal for this new edition of <strong>es<span class="red">Libre</span></strong> 2022 that we are organizing another year!</strong><br><br>

  You should have received a confirmation email from <strong>tux@eslib.re</strong> (🐧).<br><br>

  If you have reached this page, but you have not received the confirmation email, write to <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a><br>(also check if it went to the spam folder for whatever reason 😅).<br><br>

  Remember that this year <strong>the congress will be held on June 24 and 25</strong> and that <strong>the final program will be published on April 24</strong> so that you have time to organize yourself for your participation in the
  congress.<br><br>

  In any case, do not lose sight of <a href="https://gitlab.com/eslibre/propuestas/-/merge_requests">your proposal in our repository </a> in case there are any comments or questions<br>(the link that should have come to you in the mail will take you
  directly to it).<br><br>
</p>

<h3 style="padding-top: 20px; text-align: center;">SEE YOU SOON!!!<br>👏👏👏</h3>
