---
layout: 2022/default-en
section: propuestas
permalink: /2022/send-devrooms
title: Devroom proposals - esLibre 2022
description: Organize your own devroom in esLibre 2022!
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2022 - Devroom proposals</h1>

<p align="center">
  <cite style="color: black;">Please, before submitting a proposal, make sure you have read the information on the <a href="/2022/info-proposals/">"Submission of proposals"</a>.</cite>
</p>

<div style="width: 60% !important; margin: auto;">
  <form id="create-talks" role="form" action="https://edp.eslib.re/form/devrooms-en" method="post">
    <div class="form-group"><span class="form-text text-muted" <ul style="list-style-position: inside; padding-left: 0">
        <li>Fields marked as (*) are required</li>
        <li>Please, do not use resources from Google, Microsoft or, in general, any company that is not very respectful of people's privacy in your proposals.</li>
        <li>Remember that for any questions you can write to us at <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a></li>
        </ul>
      </span></div>
    <div class="form-group"> <strong><label class="label-forms-text" for="title">Title (*):</label></strong>
      <div id="title-counter-tag" class="tag is-danger"><span id="title-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="title" type="text" maxlength="150" onkeyup="counterDisplay(this, 'title', true)"
        required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label for="description">Devroom description (*):</label></strong>
      <div id="description-counter-tag" class="tag is-danger"><span id="description-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000</div><textarea name="description" cols="40" rows="5" maxlength="5000" style="resize:none; overflow-y: scroll;"
        aria-describedby="description-help-block" onkeyup="counterDisplay(this, 'description', true)" required="required" class="form-control"></textarea><span id="description-help-block" class="form-text text-muted">Explanation of the theme of the
        devroom and the motivation to organize it. Keep in mind that the idea of the devroom is to carry out a semi-autonomous activity within <strong>es<span class="red">Libre</span></strong>, which will normally have its own request for proposals, its own organization team, its own
        schedule (coordinated with <strong>es<span class="red">Libre</span></strong>)...</span>
    </div>
    <div class="form-group"><strong><label for="community_name">Community that proposes the devroom (*):</label></strong>
      <div id="community_name-counter-tag" class="tag is-danger"><span id="community_name-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input id="community_name" name="community_name" type="text" maxlength="150"
        onkeyup="counterDisplay(this, 'community_name', true)" required="required" class="form-control">
    </div>
    <div class="form-group"><strong><label for="community_description">Info about your community (*):</label></strong>
      <div id="community_description-counter-tag" class="tag is-danger"><span id="community_description-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000</div><textarea name="community_description" cols="40" rows="5" maxlength="5000"
        style="resize:none; overflow-y: scroll;" aria-describedby="community_description-help-block" onkeyup="counterDisplay(this, 'community_description', true)" required="required" class="form-control"></textarea><span
        id="community_description-help-block" class="form-text text-muted">Information about the group that proposes the organization of the room, as well as other organized activities. It would also be convenient to indicate the people who will be
        in charge of it.</span>
    </div>
    <div class="form-group"><strong><label for="web">Community website (*):</label></strong>
      <div id="web-counter-tag" class="tag is-danger"><span id="web-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="web" type="url" maxlength="150" aria-describedby="web-help-block" onkeyup="counterDisplay(this, 'web', true)"
        required="required" class="form-control"><span id="web-help-block" class="form-text text-muted">Website with information about the group that proposes to organize the devroom.</span>
    </div>
    <div class="form-group"><strong><label for="target">Target audiences (*):</label></strong>
      <div id="target-counter-tag" class="tag is-danger"><span id="target-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000</div><textarea name="target" cols="40" rows="5" maxlength="1000" style="resize:none; overflow-y: scroll;"
        aria-describedby="target-help-block" onkeyup="counterDisplay(this, 'target', true)" required="required" class="form-control"></textarea><span id="target-help-block" class="form-text text-muted">Who do you think might find this topic
        interesting (utility, related fields, possibilities...)?</span>
    </div>
    <div class="form-group"><strong><label for="format">Devroom format (*):</label></strong>
      <div id="format-counter-tag" class="tag is-danger"><span id="format-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000</div><textarea name="format" cols="40" rows="5" maxlength="5000" style="resize:none; overflow-y: scroll;"
        aria-describedby="format-help-block" onkeyup="counterDisplay(this, 'format', true)" required="required" class="form-control"></textarea><span id="format-help-block" class="form-text text-muted">Format of the devroom and how the request for
        proposals will be made. The format is left totally open to the decision of the organization of the room, and may include: workshops, short/long talks, round tables, hackathons...<br><strong>IMPORTANT</strong>: also include the duration it
        would have (from two hours to a whole day) and the day you prefer to do it (Friday or Saturday).</span>
    </div>
    <div class="form-group"><strong><label for="mastodon">Mastodon (or other libre social networks):</label></strong>
      <div id="mastodon-counter-tag" class="tag is-success"><span id="mastodon-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="mastodon" type="url" maxlength="150" aria-describedby="mastodon-help-block"
        onkeyup="counterDisplay(this, 'mastodon', false)" class="form-control"><span id="mastodon-help-block" class="form-text text-muted">Any profile on a libre social network is valid, but remember to enter the full URL to also know the instance in
        which you are so that we can find you.</span>
    </div>
    <div class="form-group"><strong><label for="twitter">Twitter:</label></strong>
      <div id="twitter-counter-tag" class="tag is-success"><span id="twitter-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="twitter" type="text" maxlength="16" pattern="^@?[A-Za-z0-9_]{1,15}$"
        onkeyup="counterDisplay(this, 'twitter', false)" class="form-control"><span id="twitter-help-block" class="form-text text-muted">Indicate only the name on Twitter.</span>
    </div>
    <div class="form-group"><strong><label class="label-forms-text" for="gitlab">GitLab (or any collaborative code site) or portfolio:</label></strong>
      <div id="gitlab-counter-tag" class="tag is-success"><span id="gitlab-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="gitlab" type="text" maxlength="255" aria-describedby="gitlab-help-block"
        onkeyup="counterDisplay(this, 'gitlab', false)" class="form-control"><span id="gitlab-help-block" class="form-text text-muted list-forms-text">In case you want to share your projects.</span>
    </div>
    <div class="form-group"><strong><label for="contact">Contact person (*):</label></strong>
      <div id="contact-counter-tag" class="tag is-danger"><span id="contact-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="contact" type="text" maxlength="150" onkeyup="counterDisplay(this, 'contact', true)"
        required="required" class="form-control"><span id="contact-help-block" class="form-text text-muted list-forms-text">Person who will make direct contact with the organization.</span>
    </div>
    <div class="form-group"><strong><label for="email">Contact email (*):</label></strong>
      <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div><input name="email" type="email" maxlength="150" onkeyup="counterDisplay(this, 'email', true)" required="required"
        class="form-control"><span id="contact-help-block" class="form-text text-muted list-forms-text">Mail to communicate with you (it will not be public).</span>
    </div>
    <div class="form-group"><strong><label for="comments">Comments:</label></strong>
      <div id="comments-counter-tag" class="tag is-success"><span id="comments-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;1000</div><textarea name="comments" cols="40" rows="5" maxlength="1000" style="resize:none; overflow-y: scroll;"
        aria-describedby="comments-help-block" onkeyup="counterDisplay(this, 'comments', false)" class="form-control"></textarea><span id="comments-help-block" class="form-text text-muted">Any other comments relevant to the organization.</span>
    </div>
    <div class="call-outer">
      <div class="form-group call-inner"><strong><label class="label-forms-text" for="call">Call:</label></strong>
        <div id="call-counter-tag" class="tag is-success"><span id="call-counter-display">&nbsp;0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150&nbsp;</div><input name="call" type="call" maxlength="150" onkeyup="counterDisplay(this, 'call', true)"
          class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-control custom-checkbox"><input name="accept_coc" type="checkbox" required="required"><label class="label-forms-text" for="accept_coc">&nbsp;We agree to follow the <a href="/conduct" target="_blank">code of conduct </a>
            during our participation in the congress (*)</label></div>
      </div>
    </div>
    <div class="form-group text-center"><button name="submit" type="submit" class="btn btn-primary">Enviar</button></div>
  </form>
</div>

<script src="/2021/assets/js/jquery/dist/jquery.min.js"></script>
<script src="/2021/assets/js/validation.js"></script>
