---
layout: 2019/default
section: programa
title: esLibre 2019 - Juan Domínguez Jara - Palomitas - torrent streaming
---

<h1 class="mt-3 mb-3">Track 2: Social (18:00 - 18:45)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/dominguez_juan.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Juan Domínguez Jara: "Palomitas: torrent streaming"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  Herramientas de software libre para trabajar con <a href="https://es.wikipedia.org/wiki/Archivo_Torrent" target="_blank">torrents</a> en la web. Reproducción de video antes de completar la descarga con tecnologías de <a
    href="https://es.wikipedia.org/wiki/Streaming" target="_blank">streaming</a> y estadísticas en tiempo real a través de <a href="https://es.wikipedia.org/wiki/WebSocket" target="_blank">websocket</a>.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  La idea de esta charla es presentar las herramientas que tenemos para trabajar con torrents en la web, a través de los componentes de un sistema que un servidor lleva varios años desarrollando para consumir el contenido de forma cómoda en cualquier
  dispositivo con un navegador web.<br><br>
  Lo he llamado <strong>Palomitas</strong> en honor a <a href="https://es.wikipedia.org/wiki/Popcorn_Time" target="_blank">Popcorn Time</a> y mi objetivo es conseguir una experiencia similar, explicando cómo podemos construir un producto semejante
  solo con
  tecnologías web de software libre. Entre ellas están el streaming de video usando
  reproductores web <a href="https://es.wikipedia.org/wiki/HTML5" target="_blank">HTML5</a> con los elementos <code>video</code> y un servidor de streaming creado en <a href="https://nodejs.org/es/" target="_blank">Node.js</a> y <a
    href="https://ffmpeg.org/" target="_blank">FFMPEG</a>. Esto, junto con una conexión websocket que envía estadísticas de las descargas, los <a href="https://en.wikipedia.org/wiki/Glossary_of_BitTorrent_terms#Peer" target="_blank">peers</a>/<a
    href="https://en.wikipedia.org/wiki/Glossary_of_BitTorrent_terms#Seed_/_seeding" target="_blank">seeds</a> y un panel de control responsive que
  muestra estas estadísticas, nos da todo lo necesario para la reproducción de torrents en la web.<br><br>
  <ul>
    <li><a href="https://github.com/juandjara/palomitas-dl" target="_blank">palomitas-dl</a> es el núcleo de la aplicación, contiene la <a href="https://es.wikipedia.org/wiki/Interfaz_de_programaci%C3%B3n_de_aplicaciones" target="_blank">API</a> <a
        href="https://es.wikipedia.org/wiki/Transferencia_de_Estado_Representacional" target="_blank">REST</a> para la gestión de torrents y el panel del control</li>
    <li><a href="https://github.com/juandjara/sub-down" target="_blank">sub-down</a> es un servicio que sirve para buscar subtítulos en <a href="https://www.opensubtitles.org/es/es" target="_blank">OpenSubtitles</a>, ya sea por una cadena de texto
      simple o con el identificador de IMDB. También convierte los subtítulos a un formato usable para los navegadores</li>
    <li><a href="https://github.com/juandjara/palomitas" target="_blank">Palomitas</a> es el cliente más completo, el front-end principal, y el que tiene el mejor catálogo. Se apoya en una API de Popcorn Time y los dos servicios mencionados
      anteriormente para construir la interfaz de visualización de los videos, te
      recuerda las series que has visto y tiene un diseño muy amigable</li>
    <li>Y por último esta <a href="https://github.com/juandjara/dibujitos" target="_blank">Dibujitos</a> que es una idea similar para otro front-end pero con un catálogo de anime de la web <a href="https://nyaa.si/" target="_blank">nyaa.si</a> y
      metadatos de <a href="https://kitsu.io/explore/anime" target="_blank">Kitsu</a> combinados en <a href="https://github.com/juandjara/dibujitos-api" target="_blank">otra API</a> que se encarga de cachear las consultas</li>
  </ul>
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Esta charla va dirigida a gente que tenga nociones de programación web y le interese el mundo de los torrents.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="http://juandjara.com/" target="_blank">Juan Domínguez Jara</a></strong>, front-end engineer @ <a href="https://geographica.com/es/" target="_blank">Geographica</a> (<a href="https://carto.com/" target="_blank">CARTO</a>). He dado
  un par de charlas en la <a href="https://www.informatica.us.es/" target="_blank">Escuela Técnica Superior de Ingeniería Informática</a> de la <a href="http://www.us.es/" target="_blank">Universidad de Sevilla</a> cuando estudiaba Ingeniera del
  Software allí.<br><br>
  <a href="https://github.com/juandjara" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/_juandjara" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/juandjara/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
