---
layout: 2019/default
section: programa
title: esLibre 2019 - Ismael Olea - 29110_EPF_library - hacia un cuerpo de conocimiento abierto de prácticas de desarrollo de software adecuadas para muy pequeñas organizaciones
---

<h1 class="mt-3 mb-3">Track 2: Social (11:00 - 11:45)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/olea_ismael.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name-large mt-3 mb-3">Ismael Olea: "29110_EPF_library: hacia un cuerpo de conocimiento abierto de prácticas de desarrollo de software adecuadas para muy pequeñas organizaciones"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <p>29110_EPF_library: hacía un cuerpo de conocimiento abierto de prácticas de desarrollo de software adecuadas para muy pequeñas organizaciones.<p>
    <p><a href"http://olea.org/conferencias/doc-conf-20190621-Congreso_esLibre/">Transparencias de la conferencia</a></p>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Las organizaciones muy pequeñas dedicadas al desarrollo de software tienen un gran problema al querer formalizar controlar la calidad de sus prácticas. Como alternativa pragmática se ha propuesto la familia de normas <a
    href="https://es.wikipedia.org/wiki/ISO/IEC_29110" target="_blank">ISO/IEC 29110</a> para resolver sus
  trabas.<br><br>

  Haciendo suyos esos fines la iniciativa <strong>29110_EPF_library</strong> se ha propuesto como objetivos:<br>
  <ul>
    <li>Formal modeled repository of 29110 processes and related information</li>
    <li>Development and tailoring framework for 29110 processes adoption</li>
    <li>Low adoption barriers for VSEs:</li>
    <ul>
      <li>The open source library licensing frees from royalties or restrictive use of IP</li>
      <li>Using open source tools reduces the costs of acquisition</li>
    </ul>
    <li>Open community development</li>
    <li>Acts as a Body of Knowledge (BoK) for 29110 related content in particular an for software and systems engineering in general</li>
  </ul>
  Puede consultarse una versión previa de <strong>29110_EPF_library</strong> en <a href="http://olea.org/tmp/Deploy-Pack-29110-EPF_library/" target="_blank">http://olea.org/tmp/Deploy-Pack-29110-EPF_library/</a>.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  <ul>
    <li>Miembros activos de proyectos de desarrollo de software</li>
    <li>Metodólogos de la ingeniería del software</li>
    <li>Gente interesada en hacer las cosas bien</li>
  </ul>
</div>

<div class="speaker-text">
  <h3>Conferenciante</h3>
  <strong><a href="http://olea.org/" target="_blank">Ismael Olea</a></strong>, archipámpano TIC.<br><br>
  <a href="https://github.com/olea" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://gitlab.com/olea" target="_blank"><img src="{{ "/2019/assets/icons/gitlab-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/olea" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://floss.social/@olea" target="_blank"><img src="{{ "/2019/assets/icons/mastodon-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/ismaelolea/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
