---
layout: 2023/default
section: formulario
permalink: /2023/sede-recibida
title: Envío de propuestas esLibre 2023 - Propuesta recibida
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2023: ¡¡¡Propuesta recibida!!!</h1>

<p style="text-align: center;">
  <strong>¡Muchas gracias por proponer una sede para la edición de <strong>es<span class="red">Libre</span></strong> 2023 que estamos organizando otro año más!</strong><br><br>

  Deberías haber recibido un email de confirmación desde <strong>tux@eslib.re</strong> (🐧).<br><br>

  Si has llegado a esta página, pero no te ha llegado el correo de confirmación, escríbemos a <a href="mailto:hola@eslib.re">hola@eslib.re</a><br>(comprueba también si por lo que sea hubiera ido a la carpeta de spam 😅).<br><br>

  Cualquier persona puede comentar las propuestas, así que no pierdas de vista <a href="https://gitlab.com/eslibre/coord/-/merge_requests?scope=all&state=opened&label_name[]=propuestas-2023" target="_blank">tu propuesta</a> por si hubiera algún comentario o pregunta<br>(el enlace que te debería haber llegado por correo te llevará directamente a ella).<br><br>
</p>

<h3 style="padding-top: 20px; text-align: center;">¡¡¡HASTA PRONTO!!!<br>👏👏👏</h3>
