---
layout: 2024/default
section: propuestas
permalink: /2024/received/
title: Submission of proposals esLibre 2024 - Proposal received
---

<h1 class="mt-3 mb-3 text-center"><strong>es<span class="red">Libre</span></strong> 2024: Proposal received!!!</h1>

<p style="text-align: center;">
  <strong>Thank you very much for your proposal for this new edition of <strong>es<span class="red">Libre</span></strong> 2024 that we are organising for another year!</strong><br><br>

  You should have received a confirmation email from <strong>tux@eslib.re</strong> (🐧).<br><br>

  If you have reached this page, but have not received the confirmation email, please write to <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a><br>(also check if for whatever reason it would have gone to the spam folder 😅).<br><br>

  Remember that this year's congress will be held on <strong>24 and 25 May</strong>, that the partial programme will be confirmed on <strong>31 January</strong><br>and that the final programme will be published on <strong>3 April</strong> so that you have time to organise your participation in the congress.<br><br>

  In any case, keep an eye on <a href="https://gitlab.com/eslibre/propuestas/-/merge_requests">your proposal in our repository</a> in case of any comments or questions<br>(the link you should have received by mail will take you directly to it).<br><br>
</p>

<h3 style="padding-top: 20px; text-align: center;">SEE YOU SOON!!!<br>👏👏👏</h3>
