---
layout: 2019/default
section: programa
title: esLibre 2019 - Carlos Fernández Barbudo - Economía de la vigilancia y privacidad - solo no puedes, ¿con amigos sí?
---

<h1 class="mt-3 mb-3">Devroom 2: Privacidad, descentralización y soberanía digital<br>(17:15 - 17:45)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/fernandez_carlos.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Carlos Fernández Barbudo: "Economía de la vigilancia y privacidad: solo no puedes, ¿con amigos sí?"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Si la privacidad parece que ha muerto es porque nos hemos entregado, sin mucha resistencia, a las bondades de un mundo digital a la carta. Un mundo en el que el exhibicionismo dominante en las redes sociales parece ser la única forma actual de
  encontrar el anhelado reconocimiento a la autenticidad personal. Si no me expongo no existo, y si no existo nadie me valora. La vida íntima se ha mercantilizado y ahora somos marcas personales que han sustituido el afecto por las relaciones
  públicas.<br><br>
  Para entender cómo hemos llegado hasta aquí es necesario, en primer lugar, comprender los mecanismos económicos que han posibilitado el omnipresente despliegue de dispositivos diseñados para vigilarnos. Una vigilancia sutil que, a través de un
  efímero sistema de recompensas, nos empuja a exhibirnos constantemente. Sólo así parece posible que los algoritmos que rigen el espacio público digital nos acerquen aquello que nos gusta, y que nos oculten aquello que nos incomoda.<br><br>
  Ante esta situación que amenaza con socavar las libertades públicas y la pluralidad del mundo, urge pensar formas de resistencia que vayan más allá de las conocidas soluciones individualistas. No necesitamos ciberciudadanos virtuosos, ya que pocas
  personas tienen el suficiente tiempo libre que requiere entender el complejo mundo sociotécnico actual. Urge, por tanto, dar el paso a lo colectivo y reconocer que estamos ante un problema común. Urge hablar de la privacidad como lo que es: un
  problema político y colectivo.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="https://barbudo.es/" target="_blank">Carlos Fernández Barbudo</a></strong>, doctor en Ciencias Políticas y Relaciones Internacionales. <a href="https://www.ucm.es/" target="_blank">Universidad Complutense de Madrid</a>.<br><br>
  <a href="https://twitter.com/cfbarbudo" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/barbudo/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
