---
layout: 2019/default
section: programa
title: esLibre 2019 - Ondiz - Saludos desde el Fediverso
---

<h1 class="mt-3 mb-3">Devroom 2: Privacidad, descentralización y soberanía digital<br>(13:00 - 13:30)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/ondiz.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Ondiz: "Saludos desde el Fediverso"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  En un mundo en que las redes sociales dominan nuestras relaciones y nos levantamos cada día con un escándalo relacionado con ellas, un lugar en el que no se trafica con las personas es un oasis en medio del desierto. Ese lugar es el <a
    href="https://es.wikipedia.org/wiki/Fediverso" target="_blank">Fediverso</a>: el
  conjunto de las redes libres y descentralizadas que se intercomunican entre sí.<br><br>
  Veremos qué es, qué redes lo forman y cómo se diferencia de las redes privativas.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="https://ondahostil.wordpress.com/" target="_blank">Ondiz</a></strong>, doctora en ingeniería. Loca del software libre.<br><br>
  <a href="https://twitter.com/ondiz_" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://metalhead.club/@ondiz" target="_blank"><img src="{{ "/2019/assets/icons/mastodon-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
